@import "Variables";

$spaceBetween: 0 5px 5px 0;

.coveo-advanced-search-section {
  margin: 20px 0;
}

#coveo-advanced-search-in-the-last-select {
  margin-left: 20px;

  .coveo-button { 
    width: auto;
  }
}

.coveo-advanced-search-section-title {
  font-weight: bold;
  border-bottom: $default-border;
  padding: 5px 0;
}

.coveo-advanced-search-date-input-section {
  @include display(flex);
  align-items: center;
  @include flex-wrap(wrap);

  .coveo-radio {
    input[type='radio'] + label {
      display: inline;
    }
  }

  margin: 10px 0 10px 0;

  .coveo-advanced-search-date-input {
    display: inline-block;
    padding: 0;
    border: none;

    .coveo-button{
      width: 100px;
    }

    &:disabled {
      visibility: hidden;
    }
  }
}

.coveo-advanced-search-document-input-section {
  margin: 20px 0;
  @include display(flex);
  @include flex-wrap(wrap);
  align-items: center;



  .coveo-input {
    @include flex-basis(200px);
    @include flex(1);
    margin-left: 10px;
    margin-top: 0;
    display: inline-block;
  }
}

.coveo-advanced-search-date-input, .coveo-advanced-search-document-input-section {
  .coveo-numeric-spinner {
    display: inline-block;
    vertical-align: middle;

    input[type='text']{
      color: $color-grey;
      width: 55px;
    }
  }
}

#coveo-advanced-search-select-day {
  width: 50px;
}

#coveo-advanced-search-select-month {
  width: 50px;
}

#coveo-advanced-search-select-year {
  width: 70px;
}


.coveo-advanced-search-keyword-label {
  display: inline-block;
}

.coveo-advanced-search-label {
  display: inline-block;
  min-width: 7em;
  margin-bottom: 10px;
}

.coveo-advanced-search-select {
  margin: $spaceBetween;
}

.coveo-advanced-search-and {
  display: inline-block;
  margin: $spaceBetween;
  margin-left: 5px;
}

.coveo-number-input {
  max-width: 45px;
}

#coveo-advanced-search-execute-query {
  width: 200px;
  height: 35px;
  display: block;
  margin: 15px 0 15px auto;
}

.coveo-size-input-mode-section {
  display: inline-block;
}

.coveo-advanced-search-modal {
  fieldset {
    display: inline-block;
  }
  .coveo-dropdown, .coveo-numeric-spinner {
    margin: $spaceBetween;
  }
}

.coveo-advanced-search-breadcrumb {
  .coveo-advanced-search-breadcrumb-clear {
    position: relative;
    @include clearButton('&');
  }
}

.coveo-advanced-search-breadcrumb-clear-svg {
  position: absolute;
  top: 5px;
  left: 3px;
}

.coveo-advanced-search-svg {
  width: 16px;
  height: 16px;
  color: $color-greyish-teal-blue;
}
