$spaceBetween: 0 5px;

.CoveoAdvancedSearch {
  position: relative;
}

.coveo-advanced-search-section {
  min-width: 500px;
  margin: 5px;
}

.coveo-advanced-search-section-title {
  font-weight: bold;
  border-bottom: $default-border;
  padding: 5px 0;
}

.coveo-advanced-search-input-section {
  margin-top: 10px;
}

.coveo-advanced-search-keyword-label {
  width: 40%;
  display: inline-block;
}

.coveo-advanced-search-keyword-input {
  width: 60%;
  margin-bottom: 5px;
  @include defaultRoundedBorder();
  padding: 5px;
  height: 35px;
  font-size: $font-size-smaller;
}

.coveo-advanced-search-label {
  width: 20%;
  display: inline-block;
}

.coveo-advanced-search-select {
  margin: $spaceBetween;
}

.coveo-advanced-search-panel-close {
  @include coveo-preferences-panel-button();
  @include clearButton('&');
  right: 0;
}

.coveo-advanced-search-panel-title {
  font-size: $font-size-biggest;
  display: inline-block;
}

.coveo-advanced-search-and {
  display: inline-block;
  margin: $spaceBetween;
}

.coveo-advanced-search-number-input{
  max-width: 45px;
  margin: $spaceBetween;
}