$spaceBetween: 0 5px;

.CoveoAdvancedSearch {
  position: relative;
}

.coveo-advanced-search-section {
  min-width: 500px;
  margin: 20px 5px;
}

#coveo-advanced-search-in-the-last-select{
  margin-left: 20px;
  width: 90px;
}

.coveo-advanced-search-section-title {
  font-weight: bold;
  border-bottom: $default-border;
  padding: 5px 0;
}

.coveo-advanced-search-date-input-section {
  display: flex;
  height: 45px;
  align-items: center;

  .coveo-radio {
    input[type='radio'] + label {
      display: inline;
    }
  }

  .coveo-advanced-search-date-input {
    display: inline-block;
    border: none;

    &:disabled {
      visibility: hidden;
    }
  }
}

.coveo-advanced-search-document-input-section {
  margin: 20px 0;

  .coveo-dropdown {
    margin: 0 10px;
    min-width: 115px;
  }

  .coveo-input {
    width: 200px;
    margin: 0 10px;
    display: inline-block;
  }
}

.coveo-advanced-search-date-input, .coveo-advanced-search-document-input-section {
  .coveo-numeric-spinner {
    display: inline-block;
    vertical-align: middle;

    input[type='text']{
      color: $color-grey;
      width: 55px;
    }
  }

  .coveo-dropdown {
    vertical-align: middle;
  }
}

#coveo-advanced-search-select-day {
  width:50px
}

#coveo-advanced-search-select-month {
  width:50px
}

#coveo-advanced-search-select-year {
  width: 70px;
}


.coveo-advanced-search-keyword-label {
  width: 40%;
  display: inline-block;
}

.coveo-advanced-search-label {
  width: 20%;
  display: inline-block;
}

.coveo-advanced-search-select {
  margin: $spaceBetween;
}

.coveo-advanced-search-panel-close {
  @include coveo-preferences-panel-button();
  @include clearButton('&');
  right: 0;
}

.coveo-advanced-search-panel-title {
  font-size: $font-size-biggest;
  display: inline-block;
}

.coveo-advanced-search-and {
  display: inline-block;
  margin: $spaceBetween;
}

.coveo-advanced-search-number-input{
  max-width: 45px;
  margin: $spaceBetween;
}