@import 'bourbon/bourbon';

@include keyframes(fadeout) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(fadein) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  0% {
    @include transform(translateX(-2000px));
    opacity: 0;
  }
  100% {
    @include transform(translateX(0));
    opacity: 1;
  }
}

@include keyframes(coveo-spin) {
  from {
    @include transform(rotate(0deg));
  }

  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(loadingFade) {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
