.coveo-modalBox.coveo-authentication-popup {
  > .coveo-wrapper {
    width: 90%;
    height: 90%;
    max-width: 90%;
    max-height: 90%;
    position: relative;

    > .coveo-body {
      height: 100%;
      overflow-y: hidden;
    }
  }
}

.coveo-authentication-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.coveo-waiting-for-authentication-popup {
  padding: 50px 150px;
}
