@import "Variables";

.coveo-modal-container.coveo-authentication-popup {
  .coveo-modal-body {
    height: 90%;
    div {
      height: 100%;
      width: 100%;
    }
    iframe {
      height: 100%;
      width: 100%;
      @include defaultRoundedBorder();
      padding: 10px 0 0 10px;
    }
  }
}

.coveo-authentication-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.coveo-waiting-for-authentication-popup {
  padding: 50px 150px;
}

.coveo-authentication-provider {
  &:hover {
    .coveo-dropdown-authenticate-hover-svg {
      fill: $color-greyish-teal-blue;
    }
    .coveo-dropdown-authenticate-svg {
      fill: none;
    }
    .coveo-authentication-provider-svg {
      width: 12px;
      height: 16px;
    }
  }
}
.coveo-authentication-provider-svg {
  .coveo-dropdown-authenticate-svg {
    fill: $color-greyish-teal-blue;
  }
  width: 12px;
  height: 14px;
}