@import 'mixins/breadcrumb';
@import 'mixins/mediaQuery';

.CoveoBreadcrumb {
  padding: 10px 0px 10px 0px;
  &.coveo-small-display {
    @include breadcrumb-small-display;
  }
  position: relative;
  overflow: hidden;
  border-bottom: $default-border;
  @include display(flex);
  @include align-items(flex-start);
}

.coveo-no-results .CoveoBreadcrumb {
  text-align: left;
}

.coveo-breadcrumb-clear-all {
  @include clickable();
  display: inline-block;
  font-size: $font-size-smaller;
  & > div {
    display: inline-block;
  }
  @include defaultRoundedBorder();
  padding: 5px;
  margin-left: 5px;
  @include flex-shrink(0);
  @include clearButton('.coveo-breadcrumb-clear-all-icon');
}

.coveo-breadcrumb-clear-all-icon {
  top: 1px;
  margin-right: 5px;
}

.coveo-breadcrumb-items {
  padding-bottom: 10px;
  display: inline-block;
  @include flex-grow(1);
}

.coveo-breadcrumb-item {
  margin: 5px 0px 5px 0px;
}

@include smallScreenWidth() {
  .CoveoBreadcrumb {
    padding: 10px;
  }
  .coveo-breadcrumb-items {
    padding-bottom: 0;
  }
  .coveo-breadcrumb-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
