@import "Variables";

.CoveoCardOverlay {
  cursor: pointer;
}

.coveo-search-svg {
  color: $color-blueish-gray;
  width: 18px;
  height: 18px;
  .coveo-magnifier-circle-svg {
    fill: $color-active-yellow;
  }
}

.coveo-replies-svg {
  color: $color-blueish-gray;
  width: 20px;
  height: 20px;
}


.coveo-card-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  flex-direction: column;

  z-index: 1;

  background-color: $color-greyish-dark-blue;
  color: #fff;

  cursor: default;

  $slide-duration: 0.5s;
  transition: transform $slide-duration ease-in-out;
  transform: translateY(100%);
  display: flex;

  &.coveo-hidden-for-tab-nav {
    display: none;
  }


  @keyframes coveo-card-overlay-fade-out {
    0% { opacity: 1; }
    60% { opacity: 1; }
    80% { opacity: 0; }
    100% { opacity: 0; }
  }
  animation: coveo-card-overlay-fade-out $slide-duration linear;

  &.coveo-opened {
    transform: translateY(0);
    @keyframes coveo-card-overlay-fade-in {
      0% { opacity: 0; }
      20% { opacity: 0; }
      40% { opacity: 1; }
      100% { opacity: 1; }
    }
    animation: coveo-card-overlay-fade-in $slide-duration linear;
  }
}

.coveo-card-overlay-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 0;
  border-bottom: 1px solid $color-light-grey;
  cursor: pointer;

  .coveo-icon {
    margin-right: 3px;
  }
}
.coveo-card-overlay-body {
  overflow: auto;
  overflow-x: hidden;
}
.coveo-card-overlay-footer {
  text-align: center;
  margin-top: auto;
  cursor: pointer;
  flex-shrink: 0;
}

.CoveoResult.coveo-with-card-overlay {
  @include transition(min-height .5s);
  min-height: 0;
}

.CoveoResult.coveo-card-overlay-opened {
  min-height: 180px;
}

.coveo-open-card-overlay {
  display: inline-block;
  margin-bottom: 4px;
}

.coveo-open-card-overlay-svg {
  width: 10px;
  height: 6px;
  color: $color-blueish-gray;
}