@import 'Variables';
@import 'bourbon/bourbon';

.CoveoCategoryFacet {
  &.coveo-hidden {
    display: none;
  }

  & > .coveo-facet-values > .coveo-category-facet-value {
    padding: 5px 0 5px 0;
  }

  &.coveo-category-facet-values-fade .coveo-active-category-facet-parent {
    .coveo-category-facet-value {
      opacity: 0.5;
    }
  }
}

.coveo-category-facet-values {
  list-style: none;
  padding: 0;
}

.coveo-category-facet-value-label {
  transition: background-color 0.07s $standard-transition-timing-function;
  cursor: pointer;
  vertical-align: middle;
  @include display(flex);
  line-height: 22px;
  padding: 5px 19px 5px 20px;
  &:hover {
    background-color: $color-blueish-white-grey;
  }
}

.coveo-active-category-facet-parent > .coveo-category-facet-value-label {
  font-weight: bold;
}

.coveo-active-category-facet-parent .coveo-category-facet-value {
  .coveo-category-facet-value-label {
    padding-left: 53px;
  }
}

.coveo-category-facet-child-values {
  .coveo-category-facet-value-caption {
    color: $color-vibrant-blue;
  }
}

.coveo-category-facet-value-caption {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  @include flex-grow(1);
}

.coveo-category-facet-value-count {
  margin: 0 5px;
}

.coveo-category-facet-collapse-children {
  cursor: pointer;
  padding-right: 5px;
  vertical-align: top;
}

.coveo-category-facet-header {
  padding: 10px 20px 6px 20px;
  color: $color-greyish-teal-blue;
}

.coveo-category-facet-collapse-children-svg {
  transform: rotate(90deg);
  color: $color-light-grey;
  width: 10px;
  height: 6px;
  vertical-align: 2px;
}

.coveo-category-facet-title {
  display: inline-block;
}

.coveo-category-facet-header-wait-animation {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 20px;
  .coveo-category-facet-header-wait-animation-svg {
    color: $color-greyish-teal-blue;
    display: inline-block;
    vertical-align: middle;
    @include animation-name(coveo-spin);
    @include animation-timing-function(linear);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
  }
}

.coveo-category-facet-search-container {
  padding: 0 20px 0 20px;
  margin-bottom: 15px;
  height: 32px;
}

.coveo-category-facet-search-icon {
  width: 18px;
  height: 18px;
  margin-right: 15px;
  display: inline-block;
  bottom: 1px;
  color: $color-light-grey;
  @include defaultRoundedBorder();
  border-style: dashed;
}

.coveo-category-facet-search-icon-svg {
  color: $color-light-grey;
  width: 16px;
  height: 11px;
  bottom: 1px;
  position: relative;
  .coveo-more-svg {
    fill: $color-light-grey;
  }
}

.coveo-category-facet-searching {
  .coveo-category-facet-search-placeholder {
    display: none;
  }
}

.coveo-category-facet-searching {
  .coveo-facet-search {
    display: block;
  }
}

.coveo-category-facet-search-placeholder {
  cursor: pointer;
}

.coveo-category-facet-search-label {
  display: inline-block;
  color: $color-vibrant-blue;
}

.coveo-category-facet-search-value {
  font-size: $font-size-smallest;
  padding: 5px 10px 5px 10px;
  &:hover {
    background-color: $color-blueish-white-grey;
  }
  cursor: pointer;
}

.coveo-category-facet-search-first-row {
  display: flex;
  justify-content: space-between;
}
.coveo-category-facet-search-value-caption {
  line-height: 17px;
}

.coveo-category-facet-search-value-number {
  color: $color-blueish-gray;
}

.coveo-category-facet-search-path {
  display: block;
  font-size: 11px;
}

.coveo-category-facet-search-path-parents {
  color: $color-blueish-gray;
}

.coveo-category-facet-search-current-value {
  background-color: $color-blueish-white-grey;
}
