@import 'Variables';

.CoveoDidYouMean {
  padding: 10px 0;
  text-align: left;
  button {
    @include clickable();
    border: none;
    font-size: 1em;
    padding: 0;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  font-size: $font-size-bigger;
}

.coveo-did-you-mean-highlight {
  font-weight: normal;
}

.coveo-did-you-mean-word-correction {
  font-weight: bold;
}

.coveo-did-you-mean-no-results-for {
  font-size: 16px;
}
