.CoveoEmailAction {
  @include clickable();
  display: inline-block;
  font-size: $font-size-smaller;
  & > div {
    display: inline-block;
  }
  @include defaultRoundedBorder();
  padding: 5px;
  margin: 5px 16px;
}