@import 'Variables';

.coveo-emails-excess-collapsed, .coveo-emails-excess-expanded {
  display: none;
  cursor: pointer;
  &.coveo-active {
    display: inline;
  }
}

.coveo-emails-excess-collapsed {
  @include clickable();
}

.coveo-email-child-from {
  margin: 0 10px 0 5px;
}

.coveo-email-child-excerpt {
  font-size: 13px;
  text-decoration: none !important;
}

.coveo-email-child-excerpt:not(:hover) {
  color: inherit !important;
}

.coveo-modal-container {
  .coveo-email-from, .coveo-email-to {
    font-family: $helvetica, sans-serif;
    padding: 5px 16px;
    @include coveo-email-to-and-from;
    font-size: 14px;
  }
}