@import 'Variables';

.coveo-user-explanation-modal {
  &-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 12px 0;

    &-textarea {
      width: 256px;
      height: 90px;

      &[disabled] {
        background-color: $color-disabled-grey;
      }
    }
  }

  &-send-button {
    border: none;
    border-radius: $default-border-radius;
    background-color: $coveo-blue;
    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
    padding: 6px 10px;
    cursor: pointer;
    &:hover {
      background-color: $color-greyish-teal-blue;
    }
  }
}
