@import "Variables";

.CoveoExportToExcel {
  overflow: hidden;
  margin-top: 10px;
  display: none;
  &.coveo-export-to-excel-opened {
    display: block;
  }
}

.coveo-export-to-excel-svg {
  width: 14px;
  height: 14px;
  color: $color-greyish-teal-blue;
}
