@import "mixins/slider";

@include coveoSlider();

.CoveoFacetSlider {
  &.coveo-disabled {
    .coveo-slider-line {
      background-color: $color-light-grey;
    }
    .coveo-slider-button {
      background-color: $color-teal;
      box-shadow: none;
    }
  }
  &.coveo-facet-collapsed {
    .coveo-slider-container {
      display: none;
    }
  }
  &.coveo-disabled-empty {
    display: none;
  }
}