@import 'bourbon/bourbon';
@import 'Variables';

.CoveoFacet,
.CoveoFacetRange,
.CoveoFacetSlider,
.CoveoHierarchicalFacet {
  margin: 10px 0px 10px 0px;
  padding: 0;
  @include defaultRoundedBorder();
  background: white;
  position: relative;
}

.coveo-facet-column {
  .coveo-topSpace.coveo-with-animation,
  .coveo-bottomSpace.coveo-with-animation {
    @include transition(height 0.5s);
  }
}

.coveo-facet-empty {
  display: none;
  &.coveo-with-placeholder {
    display: block;
  }
}

.coveo-facet-dependent {
  display: none;
}

.coveo-facet-collapsed {
  .coveo-facet-value.coveo-facet-value {
    display: none;
    &.coveo-selected,
    &.coveo-excluded {
      display: inherit;
    }
  }
  .coveo-facet-footer {
    display: none;
  }
}

.coveo-facet-fade {
  .coveo-facet-value {
    opacity: 0.5;
    &.coveo-selected,
    &.coveo-excluded,
    &.coveo-facet-search-selectable {
      opacity: 1;
    }
  }
}
