@import "Variables";
@import "../bin/sass/sprites.scss";

.coveo-facet-header {
  padding: 10px 20px;
  background: $color-blueish-white;
  clear: both;
  overflow: hidden;
  @include border-top-radius($default-border-radius);
  @include display(flex);
  @include flex-wrap(nowrap);
}

.coveo-facet-header-title-section {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include flex-grow(1);
}

.coveo-facet-header-settings-section {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include flex-grow(0);
}

.coveo-facet-header-title {
  color: $color-greyish-teal-blue;
  font-size: $font-size-regular;
}

.coveo-facet-header-settings {
  .coveo-icon {
    @include retina-sprite($more-menu-group);
  }
  &:hover, &:focus {
    .coveo-icon {
      @include retina-sprite($more-menu-active-group);
    }
    outline: none;
  }

  svg {
    // display: none;
  }

  .coveo-placeholder {
    /* 
        width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: 100% auto !important;
    fill: #0000ff;
    display: inline-block;
    background-image: url('../image/symbols.svg#action-add'); */
  }
}


.coveo-facet-header-operator {
  .coveo-icon.coveo-and {
    @include retina-sprite($and-group);
  }

  .coveo-icon.coveo-or {
    @include retina-sprite($or-group);
  }
}

.coveo-facet-header-operator, .coveo-facet-header-eraser, .coveo-facet-header-settings, .coveo-facet-header-collapse, .coveo-facet-header-expand {
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  top:2px;
}

.coveo-facet-header-eraser {
  @include clearButton('&', 'bigger');
  position: relative;
  top:0px;
  visibility: hidden;
  &.coveo-facet-header-eraser-visible {
    visibility: visible;
  }
}

.coveo-facet-header-wait-animation {
  margin: 2px 0px 0px 10px;
  position: relative;
  width: 16px;
  height: 16px;
  @include retina-sprite($facet-loading-group);
  min-width: 16px;
  min-height: 16px;
  @include animation-name(coveo-spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}
