@import 'Variables';
.coveo-facet-header {
  padding: 10px 20px;
  background: $color-blueish-white;
  clear: both;
  overflow: hidden;
  @include border-top-radius($default-border-radius);
  @include display(flex);
  @include flex-wrap(nowrap);
  svg {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
  }
}

.coveo-facet-header-title-section {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include flex-grow(1);
}

.coveo-facet-header-settings-section {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include flex-grow(0);
}

.coveo-facet-header-title {
  color: $color-greyish-teal-blue;
  font-size: $font-size-regular;
}

.coveo-facet-settings-more {
  &:hover,
  &:focus {
    outline: none;
    .coveo-more-background-svg {
      fill-opacity: 1;
      fill: $color-blueish-white-grey;
    }
  }
}

.coveo-facet-settings-more-svg {
  color: $color-greyish-teal-blue;
}

.coveo-facet-header-operator {
  color: $color-greyish-teal-blue;
  .coveo-and .coveo-and-svg {
    fill: $color-active-yellow;
  }
  .coveo-or .coveo-or-svg {
    fill: $color-active-yellow;
  }
}

.coveo-facet-header-operator,
.coveo-facet-header-eraser,
.coveo-facet-header-settings,
.coveo-facet-header-collapse,
.coveo-facet-header-expand {
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  vertical-align: middle;
}

.coveo-facet-header-eraser {
  position: relative;
  top: 0px;
  visibility: hidden;
  &.coveo-facet-header-eraser-visible {
    visibility: visible;
  }
  @include clearButton('&', 'big');
}

.coveo-facet-header-wait-animation {
  margin-left: 10px;
  position: relative;
  .coveo-facet-header-wait-animation-svg {
    color: $color-greyish-teal-blue;
    display: inline-block;
    vertical-align: middle;
    @include animation-name(coveo-spin);
    @include animation-timing-function(linear);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
  }
}
