.coveo-facet-header {
  padding: 10px 20px;
  background: $color-blueish-white;
  clear: both;
  overflow: hidden;
  @include border-top-radius($default-border-radius);
  @include display(flex);
  @include flex-wrap(nowrap);
}

.coveo-facet-header-title-section {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include flex-grow(1);
}

.coveo-facet-header-settings-section {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include flex-grow(0);
}

.coveo-facet-header-title {
  color: $color-greyish-teal-blue;
  font-size: $font-size-regular;
}

.coveo-facet-header-settings {
  .coveo-icon {
    @extend .coveo-sprites-more-menu;
  }
  &:hover, &:focus {
    .coveo-icon {
      @extend .coveo-sprites-more-menu-active;
    }
    outline: none;
  }
}


.coveo-facet-header-operator {
  .coveo-icon.coveo-and {
    @extend .coveo-sprites-and;
  }
  .coveo-icon.coveo-or {
    @extend .coveo-sprites-or;
  }
}

.coveo-facet-header-operator, .coveo-facet-header-eraser, .coveo-facet-header-settings, .coveo-facet-header-collapse, .coveo-facet-header-expand {
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  top:2px;
}

.coveo-facet-header-eraser {
  @include clearButton('&', 'bigger');
  position: relative;
  top:0px;
  visibility: hidden;
  &.coveo-facet-header-eraser-visible {
    visibility: visible;
  }
}

.coveo-facet-header-wait-animation {
  margin: 2px 0px 0px 10px;
  position: relative;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  @extend .coveo-sprites-facet-loading;
  @include animation-name(coveo-spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}
