@import 'bourbon/bourbon';
@import 'Variables';
#{$allFacetsType} {
  margin: 10px 0;
  padding: 0;
  @include defaultRoundedLowContrastBorder();
  background: white;
  position: relative;
}

// Needed because this facet embeds FacetRange
// Otherwise cause issue when selecting any facet, and getting no results
// Would cause a small border to appear in the facet column
.CoveoTimespanFacet {
  border: none;
}

.coveo-facet-column {
  .coveo-topSpace.coveo-with-animation,
  .coveo-bottomSpace.coveo-with-animation {
    @include transition(height 0.5s);
  }
}

.coveo-no-visible-facet {
  .coveo-facet-column {
    display: none;
  }
}

.coveo-facet-empty,
.coveo-hidden,
.coveo-hidden-dependant-facet {
  display: none;
  &.coveo-with-placeholder {
    display: block;
  }
}

.coveo-facet-collapsed {
  .coveo-facet-value.coveo-facet-value {
    display: none;
    &.coveo-selected,
    &.coveo-excluded {
      display: inherit;
    }
  }
  .coveo-facet-footer {
    display: none;
  }
}

.coveo-facet-fade {
  .coveo-facet-value {
    opacity: 0.5;
    &.coveo-selected,
    &.coveo-excluded,
    &.coveo-facet-search-selectable {
      opacity: 1;
    }
  }
}
