@import "Variables";
@import "../bin/sass/sprites";

@mixin facetValuesCheckboxes($size: 'normal') {
  $icon-inactive: $checkbox-hook-inactive-group;
  $icon-active: $checkbox-hook-active-group;
  $icon-exclusion: $checkbox-exclusion-group;
  $pixel-size: '18px';
  $pixel-bottom: '1px';
  $pixel-left: '-1px';

  @if $size == 'smaller' {
    $icon-inactive: $facet-search-checkbox-hook-inactive-group; 
    $icon-active: $facet-search-checkbox-hook-active-group;
    $icon-exclusion: $facet-checkbox-exclusion-group;
    $pixel-size: '13px';
    $pixel-bottom: '3px';
    $pixel-left: '-1px';
  }

  input[type="checkbox"] {
    display: none;
  }

  .coveo-facet-value-checkbox {
    width: #{$pixel-size};
    height: #{$pixel-size};
    @include defaultRoundedBorder();
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px;
    background: white;
    position: relative;
    float: left;
    top: 2px;
    > svg {
      position: relative;
      bottom: #{$pixel-bottom};
      left: #{$pixel-left};
      background: none;
    }
  }

  &.coveo-selected .coveo-facet-value-checkbox {
    svg .coveo-hook-svg {
      fill: $color-grey;
    }
  }

  &:hover .coveo-facet-value-checkbox {
    .coveo-hook-svg {
      fill: $color-grey;
    }
  }

  &:hover.coveo-excluded .coveo-facet-value-checkbox {
    .coveo-exclusion-svg {
      fill: none;
    }
  }

  .coveo-facet-value-checkbox:focus {
    outline: none;
  }

  &:not(.coveo-facet-search-button) {
    .coveo-facet-value-checkbox:focus {
      .coveo-hook-svg {
        fill: $color-grey;
      }
    }
  }

  &.coveo-facet-value-will-exclude .coveo-facet-value-checkbox,
  &:hover.coveo-facet-value-will-exclude .coveo-facet-value-checkbox {
    .coveo-exclusion-svg {
      fill: $color-red;
      & ~ .coveo-hook-svg {
        fill: none;
      }
    }
  }

  &.coveo-excluded .coveo-facet-value-checkbox{
    .coveo-exclusion-svg {
      fill: $color-red;
    }
  }
}

/*.coveo-hook-svg {
  width: 10px;
  height: 8px;
}

.coveo-exclusion-svg {
  width: 6px;
  height: 6px;
}

.coveo-more-svg {
  width: 11px;
  height: 11px;
} */

.coveo-facet-values {
  list-style: none;
  padding: 5px 0px 0px 0px;
  margin: 0;
}

.coveo-facet-value {
  padding: 0px 20px 0px 20px;
  margin: 0;
  line-height: 22px;
  position: relative;
  @include facetValuesCheckboxes();

  &.coveo-excluded .coveo-facet-value-caption, &.coveo-excluded .coveo-facet-value-computed-field, &.coveo-excluded .coveo-facet-value-count {
    text-decoration: line-through;
  }

  > * {
    vertical-align: middle;
  }

  &:hover, &.coveo-focused {
    background-color: $color-blueish-white-grey;
  }

  &.coveo-selected {
    font-weight: bold;
  }

  &.coveo-excluded {
    .coveo-facet-value-exclude {
      visibility: hidden;
    }
    &:hover {
      .coveo-facet-value-exclude {
        visibility: hidden;
      }
    }
  }

  &:hover .coveo-facet-value-exclude {
    visibility: visible;
  }

}

.coveo-facet-value-label {
  display: block;
  white-space: nowrap;
  cursor: pointer;
  padding: 5px 0px 5px 0px;
}

.coveo-facet-value-caption {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.coveo-facet-value-icon {
  display: inline-block;
  margin: 3px 5px 3px 0;
  vertical-align: top;
  float:left;
}

.coveo-facet-value-count {
  vertical-align: middle;
  margin: 0 5px;
  display: inline-block;
  float: right;
  @include transition(opacity 1.0s);
  &.coveo-waitDelta {
    opacity: 0;
  }
}

.coveo-with-computed-field {
  .coveo-facet-value-count, .coveo-facet-value-computed-field {
    font-size: $font-size-smallest;
    position: relative;
    top:1px;
  }
}

.coveo-facet-value-label.coveo-with-computed-field {
  @include display("flex");
  @include justify-content(space-between);
  .coveo-facet-value-label-wrapper {
    @include order(1);
    @include display("flex");
    // This needs to be set, otherwise min-width auto on the elment will make the element overflow it's flex container;
    min-width: 0;
    .coveo-facet-value-checkbox {
      @include order(1);
      @include flex-shrink(0);
    }
    .coveo-facet-value-caption {
      @include order(2);
    }
    .coveo-facet-value-count {
      @include order(3);
    }
  }
  .coveo-facet-value-computed-field {
    @include order(2);
  }
}

.coveo-facet-value-computed-field {
  float: right;
  margin-left: 5px;
}

.coveo-facet-value-exclude {
  cursor: pointer;
  position: absolute;
  top: 9px;
  right: 5px;
  background: white;
  @include defaultRoundedBorder();
  height: 13px;
  width: 13px;
  opacity: 0;
  z-index: 10;

  .coveo-icon {
    @include retina-sprite($exclusion-hover-group);
    position: absolute;
    top: -1px;
    left: -1px;
  }

  &:hover, &:focus {
    opacity: 1;
    outline: none;
  }
}
