@import 'Variables';

.coveo-facet-settings-popup {
  position: absolute;
  overflow: hidden;
  @include defaultRoundedBorder();
  z-index: 11;
  background-color: white;
}

.coveo-facet-settings-section {
  clear: both;
  white-space: nowrap;
  svg {
    margin: 10px;
  }
  .coveo-icon-container {
    display: inline-block;
    vertical-align: middle;
  }
}

.coveo-facet-settings-items {
  padding: 0;
  overflow: hidden;
  vertical-align: middle;
  display: inline-block;
  font-size: $font-size-smallest;
}

.coveo-facet-settings-item {
  white-space: nowrap;
  padding: 10px;
  cursor: pointer;
  -moz-padding-end: 70px;

  &.coveo-selected {
    font-weight: bold;
  }
  color: $color-dark-grey;
}

.coveo-facet-settings-disabled {
  .coveo-facet-settings-item {
    cursor: default;
    opacity: 0.5;
    &:hover {
      background: white;
    }
  }
}

.coveo-facet-settings-section-sort {
  @include iconWithHoverState('coveo-facet-settings-section-sort-svg', 'none');
  &.coveo-facet-settings-section {
    margin-bottom: 15px;
    .coveo-icon-container {
      vertical-align: top;
    }
  }
}

.coveo-facet-settings-section-sort-svg {
  width: 15px;
  height: 14px;
  color: $color-greyish-teal-blue;
}

.coveo-facet-settings-section-direction-ascending {
  cursor: pointer;
  &.coveo-facet-settings-disabled {
    cursor: inherit;
  }
  @include iconWithHoverState('coveo-facet-settings-section-direction-ascending-svg', 'none', 'coveo-facet-settings-disabled');
}

.coveo-facet-settings-section-direction-ascending-svg {
  width: 15px;
  height: 12px;
  color: $color-greyish-teal-blue;
}

.coveo-facet-settings-section-direction-descending {
  cursor: pointer;
  &.coveo-facet-settings-disabled {
    cursor: inherit;
  }
  @include iconWithHoverState('coveo-facet-settings-section-direction-descending-svg', 'none', 'coveo-facet-settings-disabled');
}

.coveo-facet-settings-section-direction-descending-svg {
  width: 15px;
  height: 12px;
  color: $color-greyish-teal-blue;
}

.coveo-facet-settings-section-save-state {
  border-top: $default-border;
  cursor: pointer;
  @include iconWithHoverState('coveo-facet-settings-section-save-state-svg', 'none', 'coveo-facet-settings-disabled');
}

.coveo-facet-settings-section-save-state-svg {
  width: 16px;
  height: 16px;
  color: $color-greyish-teal-blue;
}

.coveo-facet-settings-section-clear-state {
  border-top: $default-border;
  cursor: pointer;
  @include iconWithHoverState('coveo-facet-settings-section-clear-state-svg', 'none', 'coveo-facet-settings-disabled');
}

.coveo-facet-settings-section-clear-state-svg {
  width: 16px;
  height: 16px;
  color: $color-greyish-teal-blue;
}

.coveo-facet-settings-section-hide {
  border-top: $default-border;
  cursor: pointer;
  @include iconWithHoverState('coveo-facet-settings-section-hide-svg', 'none', 'coveo-facet-settings-disabled');
}

.coveo-facet-settings-section-hide-svg {
  width: 16px;
  height: 16px;
  color: $color-greyish-teal-blue;
}

.coveo-facet-settings-section-show {
  border-top: $default-border;
  cursor: pointer;
  @include iconWithHoverState('coveo-facet-settings-section-show-svg', 'none', 'coveo-facet-settings-disabled');
}

.coveo-facet-settings-section-show-svg {
  width: 16px;
  height: 16px;
  color: $color-greyish-teal-blue;
}

.coveo-facet-settings-section-sort-title {
  font-size: $font-size-smallest;
  font-weight: bold;
  color: $color-blueish-gray;
  padding: 10px;
}