@import './mixins/breadcrumb';
@import '../bin/sass/sprites.scss';

.coveo-facet-breadcrumb, .coveo-facet-slider-breadcrumb {

  * {
    vertical-align: top;
  }
}

.coveo-facet-breadcrumb-title, .coveo-facet-slider-breadcrumb-title {
  @include breadcrumbTitle();
}

.coveo-facet-breadcrumb-value, .coveo-facet-slider-breadcrumb-value {
  font-size: $font-size-smaller;
  display: inline-block;

  &.coveo-excluded .coveo-facet-breadcrumb-caption {
    text-decoration: line-through;
  }
  @include clearButton('.coveo-facet-breadcrumb-clear');
  @include clickableVibrant();
  & + & {
    margin-left: 20px;
  }
}

.coveo-facet-breadcrumb-clear, .coveo-facet-slider-breadcrumb-clear {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: 5px;
}

.coveo-facet-breadcrumb-clear-svg {
  position: absolute;
  top: -1px;
}

.coveo-facet-breadcrumb-multi-icon {
  margin: 0;
  &.coveo-selected {
    @include retina-sprite($checkbox-hook-active-group);
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 5px;
  }
  &.coveo-excluded {
    @include retina-sprite($facet-checkbox-exclusion-group);
    vertical-align: middle;
    margin-left: 0px;
    margin-right: 5px;
  }
}
