$max-width: 1000px;
$grid-columns: 10;
$gutter: 0em;
$page-width: 1000px;
$border-box-sizing: false;
@import "neat/neat";

.CoveoSearchInterface {

  min-width: 300px;

  .coveo-search-section {
    max-width: 800px;
    margin: 54px auto 47px auto;
    padding: 0 10px;
  }

  .coveo-main-section {
    @include outer-container;
    position: relative;
  }

  .coveo-facet-column {
    @include span-columns(3);
    padding: 5px 15px;
    &.coveo-no-results {
      display: none;
    }
  }

  .coveo-results-column {
    overflow: hidden;
    padding: 10px 10px 10px 15px;
    &.coveo-no-results {
      max-width: 50%;
      margin: auto;
      text-align: center;
    }
  }
}

.coveo-results-header {
  @include display(flex);
  padding-top: 10px;
  min-height: 35px;
  overflow: hidden;
  .coveo-summary-section {
    display: inline-block;
    font-size: $font-size-smaller;
  }
  .coveo-result-layout-section {
    @include display(flex);
    margin-left: auto;
    padding-right: 10px;
    border-right: 1px solid $color-light-grey;
  }
  .coveo-sort-section {
    @include display(flex);
    margin-left: 10px;
  }
  box-shadow: 0 -1px 0px 0px $color-light-grey inset;
  &.coveo-no-results {
    box-shadow: none;
  }
  &.coveo-query-error {
    box-shadow: none;
  }
}

@include mediaSelector(480) {
  .coveo-results-header {
    @include flex-direction(column);
    .coveo-sort-section {
      text-align: left;
      margin: 10px 0px 10px 0px;
    }
    .coveo-layout-section {
      display: none;
    }
    .coveo-result-layout-section {
      display: none;
    }
  }
}
