@import './mixins/breadcrumb';
.coveo-hidden-query-breadcrumb-title {
  @include breadcrumbTitle();
  display: inline-block;
  vertical-align: middle;
}

.coveo-hidden-query-breadcrumb-values {
  display: inline-block;
  vertical-align: middle;
}

.coveo-hidden-query-breadcrumb-value {
  @include clickableVibrant();
}

.coveo-hidden-query-breadcrumb-clear {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  @include clearButton('&');
}
