@import "bourbon/bourbon";
@import "../bin/sass/sprites.scss";
@import "Variables";

.CoveoHierarchicalFacet {
  
  ul.coveo-facet-values {
    overflow-x: auto;

    .coveo-facet-value {
      padding-left: 30px;
      position: relative;
      &.coveo-has-childs {

        &.coveo-has-childs-selected {
          .coveo-facet-value-checkbox-svg {
            width: 12px;
            height: 14px;
            visibility : visible;
            position: relative;
            bottom: 2px;
            left: 0px;
          }
          .coveo-line-svg {
            fill: $color-light-grey-transparent;
          }
          &.coveo-selected {
            .coveo-facet-value-checkbox {
              > span {
                bottom: 1px;
                left: -1px;
                // @include retina-sprite($checkbox-hook-active-group);
              }
            }
            &:hover {
              .coveo-facet-value-checkbox {
                > span {
                  // @include retina-sprite($checkbox-exclusion-group);
                }
              }
            }
          }
        }

        .coveo-has-childs-toggle {
          position: absolute;
          display: inline-block;
          top: 8px;
          left: 7px;
          @include retina-sprite($dropdown-expand-group);
          &:hover {
            cursor: pointer;
          }
        }

        &.coveo-open {
          .coveo-has-childs-toggle {
            @include retina-sprite($dropdown-collapse-group);
          }
        }
      }

      &.coveo-inactive {
        display: none;
      }
    }
  }
}

.coveo-hierarchical-breadcrumb-separator {
  content: "";
  display: inline-block;
  top: 2px;
  left: 3px;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  @include triangle(10px, #b0b3ae, right);
}