@import "bourbon/bourbon";
@import "Variables";

.CoveoHierarchicalFacet {
  
  ul.coveo-facet-values {
    overflow-x: auto;

    .coveo-facet-value {
      padding-left: 30px;
      position: relative;
      &.coveo-has-childs {

        &.coveo-has-childs-selected:not(.coveo-selected) {
          .coveo-facet-value-checkbox-svg {
            width: 12px;
            height: 14px;
            visibility : visible;
            position: relative;
            bottom: 2px;
            left: 0px;
          }
          .coveo-line-svg {
            fill: $color-light-grey-transparent;
          }
        }

        .coveo-has-childs-toggle {
          .coveo-hierarchical-facet-expand-svg, .coveo-hierarchical-facet-collapse-svg {
            width: 16px;
            height: 16px;
            color: $color-greyish-teal-blue
          }
          .coveo-hierarchical-facet-collapse-svg {
            display: none;
          }
          position: absolute;
          display: inline-block;
          top: 8px;
          left: 7px;
          &:hover {
            cursor: pointer;
          }
        }
        &.coveo-open {
          .coveo-hierarchical-facet-collapse-svg {
            display: inline-block;
          }
          .coveo-hierarchical-facet-expand-svg {
            display: none;
          }
        }
      }

      &.coveo-inactive {
        display: none;
      }
    }
  }
}

.coveo-hierarchical-breadcrumb-separator {
  content: "";
  display: inline-block;
  top: 2px;
  left: 3px;
  position: relative;
  margin-left: 2px;
  margin-right: 2px;
  @include triangle(10px, #b0b3ae, right);
}