@import "Variables";
@import "../bin/sass/_GeneratedIconsNew.scss";
@import "mixins/salesforceIconsBackgroundColor";

.coveo-icon {
  @include GeneratedIcons();
  position: relative;
}

.coveo-icon-caption-overlay {
  background-color: white;
  @include defaultRoundedBorder();
  font-size: 11px;
  position: absolute;
  top:-16px;
  left:-10px;
  text-indent: 0;
  padding: 2px;
  color: $color-blueish-gray;
  width: 60px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coveo-icon.coveo-small {
  .coveo-icon-caption-overlay {
    width: 40px;
    top: -18px;
    left: -10px;
  }
}

.coveo-icon[data-with-label="true"] {
  .coveo-icon-caption-overlay {
    display: block;
  }
  &.coveo-small .coveo-icon-caption-overlay {
    display: none;
  }
}

.CoveoIcon, .CoveoIcon.coveo-icon, .CoveoIcon.coveo-icon.filetype, .CoveoIcon.coveo-icon.objecttype, .CoveoIcon.coveo-icon.sysfiletype {
  .CoveoQuickview {
    position: absolute;
    text-indent: 0;
    left:2px;
    right:2px;
    @include align("vertical", "absolute");
    display: none;
  }

  &:hover.coveo-with-quickview {
    background-image: none;
    @include defaultRoundedBorder();
    background-color: $color-blueish-white;
    .CoveoQuickview {
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

