$image-transition-time: 0.7s;

.CoveoSearchInterface {
  .CoveoImageResultList {
   	position: relative;
    height: 0;
    margin-top: 10px;
    overflow: hidden;
	  @include transition (all 0.2s);

  	.CoveoResult {
  	  position: absolute;
  	  left: -1000px;
      top: 0;
      margin: 5px;
  	  border-bottom: 0;
      opacity: 1;
      @include transition (left $image-transition-time);

			img {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				@include transition (all $image-transition-time);
			}

      &.coveo-transition-all {
        @include transition (all $image-transition-time);
      }
    }
  }   
}