@import "Variables";

@include keyframes(placeholderColorChange) {
  0% {
    background: $color-light-grey;
  }
  50% {
    background: $color-blueish-white-grey;
  }
  100% {
    background: $color-light-grey;
  }
}

@mixin placeholderLoading {
  @include animation-name(placeholderColorChange);
  @include animation-timing-function(linear);
  @include animation-duration(2s);
  @include animation-iteration-count(infinite);
}

.coveo-placeholder-icon {
  width: 64px;
  height: 64px;
  margin-left: 2px;
}

.coveo-placeholder-title {
  height: 16px;
  margin-bottom: 20px;
}

.coveo-placeholder-text {
  height: 8px;
}

.CoveoSearchInterface.coveo-during-initialization {
  .CoveoBreadcrumb {
    display: none;
  }
  .coveo-results-header {
    height: 42px;
    visibility: hidden;
  }
}

.coveo-placeholder-title, .coveo-placeholder-text, .coveo-placeholder-icon {
  @include placeholderLoading();
}

.CoveoFacet.coveo-during-initialization {
  display: none;

  &.coveo-with-placeholder {
    @include defaultRoundedBorder();
    margin-bottom: 20px;
    display: block;
    > * {
      display: none;
    }
  }

  .coveo-facet-placeholder {
    display: block;

    .coveo-placeholder-title {
      height: 24px;
    }

    .coveo-facet-placeholder-line {
      padding: 0px 20px 0px 20px;
      margin-bottom: 20px;
      display: flex;
    }

    .coveo-facet-placeholder-checkbox {
      display: inline-block;
      width: 15px;
      height: 15px;
      align-self: center;
      margin-right: 10px;
      @include placeholderLoading();
    }

    .coveo-placeholder-text {
      flex-grow: 1;
      align-self: center;
    }
  }
}

.CoveoSearchbox.coveo-during-initialization {
  display: block;
  height: 50px;
  @include defaultRoundedBorder();
}

.CoveoResultList.coveo-during-initialization {
  .coveo-placeholder-result {
    margin: 20px 0px 20px 20px;
  }
  .coveo-placeholder-text {
    margin-bottom: 12px;
  }
}
