.CoveoResult.coveo-lithium-result {
  .coveo-lithium-header {
    padding-top: 3px;
  }
}

.coveo-lithium-result .coveo-expanded-child-result + .coveo-expanded-child-result {
  border-top: 1px solid #cccccc;
  padding-top: 10px;
}

.coveo-lithium-from, .coveo-lithium-to {
  @include coveo-email-to-and-from;
}