@import './mixins/loader';
.coveo-first-loading-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 100px;
  background: #f7f7f7;
  @include coveo-generic-loading-animation;
  .coveo-loading-container {
    margin-top: 15px;
  }
}

.coveo-generic-loading-animation {
  @include coveo-generic-loading-animation;
}
