@import 'Variables';

.coveo-logo {
  display: inline-block;
}

.coveo-powered-by-svg {
  width: 100px;
  height: 28px;
}

.CoveoLogo {
  float: right;
  display: inline-block;
  margin: 0px 0 0 20px;
  &.coveo-hidden {
    display: none;
  }
  @media (max-width: 970px) {
    position: absolute;
    right: 10px;
    bottom: -30px;
  }
}

.coveo-waiting-for-first-query {
  .CoveoLogo {
    @media (max-width: 970px) {
      display: none;
    }
  }
}

.coveo-facet-column {
  .coveo-logo {
    @include align('horizontal');
    margin: 10px 0px;
  }
}
