.coveo-logo{
  @extend .coveo-sprites-coveo-logo;
}

.coveo-powered-by {
  @extend .coveo-sprites-coveo-powered-by-logo;
}

.CoveoLogo {
  float: right;
  display: inline-block;
  margin: -10px 0 0 20px;
}

.coveo-facet-column {
  .coveo-logo {
    @include align('horizontal');
    margin: 10px 0px;
  }
}
