@import 'Variables';
.CoveoMatrix {
  margin: 10px 5px;
}

.coveo-matrix-title {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0;
  color: $color-greyish-teal-blue;
  font-size: $font-size-bigger;
}

.coveo-matrix {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.coveo-matrix-row {
  display: table-row;
  .matrix-first-column {
    text-align: left;
  }
}

.matrix-header-row,
.matrix-total-row {
  font-weight: bold;
  color: $color-greyish-teal-blue;
  font-weight: bold;
  height: 45px;
  background-color: $color-blueish-white;
}

.matrix-total-row {
  font-weight: bold;
}

.coveo-matrix-cell {
  display: table-cell;
  padding: 5px;
  text-align: right;
  overflow: hidden;
  vertical-align: middle;
  border: $default-border;
  &:hover {
    cursor: pointer;
  }
}

.coveo-matrix-unimportant {
  color: lightgrey;
}

.matrix-results-preview-container {
  position: absolute;
  z-index: 1;
  @include defaultRoundedBorder();
  background-color: white;
  .coveo-result-frame {
    border-bottom: $default-border;
    text-align: left;
    overflow: hidden;
    padding: 5px;
  }
  .coveo-result-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
