@import 'Variables';
.CoveoMissingTerms {
  font-size: 12px;

  .coveo-field-caption {
    margin-right: 5px;
  }

  .coveo-missing-term-show-more,
  .coveo-missing-term {
    &.coveo-clickable {
      @include clickable();
      text-decoration: line-through;
    }
    border: none;
    padding: 0;
    margin-right: 5px;
  }
}
