.CoveoMissingTerm {
  margin: 0;
  font-size: 12px;
  padding: 0;
  .coveo-field-caption {
    margin-right: 5px;
    color: #1e253f;
    opacity: 0.5;
  }
  .coveo-missing-term {
    color: #004990;
    text-decoration: line-through;
    margin-right: 5px;
    &.clickable {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
