@import 'Variables';
.CoveoMissingTerms {
  font-size: 12px;
  .coveo-field-caption {
    margin-right: 5px;
  }
  .coveo-missing-term {
    &.clickable {
      @include clickable();
      text-decoration: line-through;
      border: none;
    }
    text-decoration: line-through;
    margin-right: 5px;
  }
}
