$color-mobile-blue:#0066cc;
$color-mobile-green:#136b13;
$color-mobile-gray-search-section:#ececec;
$color-mobile-gray-result-section:$color-mobile-gray-search-section;
$color-mobile-gray-results-header-section: $color-mobile-gray-search-section;
$color-mobile-tab-section:#2B2D30;
$color-mobile-tab-section-selected: #484855;
$color-mobile-tab-section-border: #222222;
