.coveo-sort-section {
	float:right;
	width:50%;
	text-align: right;
}

.CoveoSort {
  	font-size: 13px;
	border:none;
	min-height:25px;
	min-width:60px;
	padding: 15px 10px 10px 15px;
	text-align:center;
	display:inline;
	float:right;
}