.coveo-pager-list {
  padding-left:0;
  margin:0;
  display: inline-block;
}

.coveo-pager-list-item {
  @include defaultRoundedBorder();
  margin: 5px 6px;
  padding: 4px 8px;
  list-style: none;
  display: inline-block;
  vertical-align: baseline;
  color: $color-vibrant-blue;
  font-size: $font-size-smaller;
  &.coveo-active, &:hover {
    color: $color-greyish-cyan;
    background-color: $color-greyish-teal-blue;
    & a {
      color: $color-greyish-cyan;
    }
  }
  cursor: pointer;
}

.coveo-pager-previous, .coveo-pager-next{
  margin: 5px 6px;
  list-style: none;
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
  border: none;
  padding: 0;
  &:hover {
    color: $color-vibrant-blue;
    background-color: white;
  }
}

.coveo-pager-next > a > span {
  @extend .coveo-sprites-pager-right-arrow;
  vertical-align: middle;
}

.coveo-pager-previous > a > span {
  @extend .coveo-sprites-pager-left-arrow;
  vertical-align: middle;
}

.CoveoPager {
  margin-top: 0px;
  margin-left: 25px;
  display: inline-block;
}
