@import "Variables";
@import "mixins/pagerList";

.coveo-pager-list {
  @include pager-list;
}

.coveo-pager-list-item {
  @include pager-list-item;
}

.coveo-pager-previous, .coveo-pager-next{
  margin: 5px 6px;
  list-style: none;
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
  border: none;
  padding: 0;
  &:hover {
    color: $color-vibrant-blue;
    background-color: white;
  }
}

.CoveoPager {
  margin-top: 0px;
  margin-left: 25px;
  display: inline-block;
}

.coveo-pager-next-icon-svg, .coveo-pager-previous-icon-svg {
  width: 11px;
  height: 20px;
  color: $color-greyish-teal-blue;
  vertical-align: middle
}