@import "Variables";
@import "mixins/pagerList";
@import "../bin/sass/sprites.scss";

.coveo-pager-list {
  @include pager-list;
}

.coveo-pager-list-item {
  @include pager-list-item;
}

.coveo-pager-previous, .coveo-pager-next{
  margin: 5px 6px;
  list-style: none;
  display: inline-block;
  vertical-align: baseline;
  cursor: pointer;
  border: none;
  padding: 0;
  &:hover {
    color: $color-vibrant-blue;
    background-color: white;
  }
}

.coveo-pager-next > a > span {
  @include retina-sprite($pager-right-arrow-group);
  vertical-align: middle;
}

.coveo-pager-previous > a > span {
  @include retina-sprite($pager-left-arrow-group);
  vertical-align: middle;
}

.CoveoPager {
  margin-top: 0px;
  margin-left: 25px;
  display: inline-block;
}
