.CoveoResult.coveo-people-result {
  padding-left: 75px;

  .CoveoThumbnail {
    float: left;
    width: 64px;
    margin-left: -75px;
  }

  .CoveoThumbnail.coveo-no-thumbnail {
    display: inline-block;
    @extend .coveo-sprites-user;
  }

  .coveo-people-details {
    color: #666666;
    font-size: 13px;

    & .CoveoFieldValue {
      &:after {
        content: " - ";
      }

      &:last-child:after {
        content: "";
      }

      a {
       @include clickable();
      }
    }
  }
}
