@import "mixins/preferencePanel";
@import "Variables";

.CoveoPreferencesPanel {
  display: none;
}

.preferences-panel-item-label {
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.CoveoResultsPreferences, .CoveoResultsFiltersPreferences {
  @include coveo-preferences-panel-item;
}

.CoveoPreferencePanelItem {
  @include coveo-preferences-panel-item;
}
