.CoveoPreferencesPanel {
  margin-top: 10px;
  height: 0px;
  display: none;
  overflow: hidden;
  position: relative;

  &.coveo-active {
    height: auto;
    display: block;
  }
}

.coveo-no-results {
  .CoveoPreferencesPanel {
    &.coveo-active {
      text-align: left;
    }
  }
}

.CoveoResultsPreferences, .CoveoResultsFiltersPreferences {
  @include coveo-preferences-panel-item;
}

.CoveoPreferencePanelItem {
  @include coveo-preferences-panel-item;
}

.preferences-panel-item-label {
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.coveo-preferences-panel-close {
  @include coveo-preferences-panel-button();
  @include clearButton('&');
  right: 0;
}

.coveo-preferences-panel-title {
  font-size: 18px;
  display: inline-block;
}
