@import "Variables";

.CoveoPreferencesPanel {
  display: none;
}

.CoveoResultsPreferences + .CoveoResultsFiltersPreferences {
  margin-top: 20px;
}

.preferences-panel-item-label {
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}
