@import 'Variables';

$ellipse-font-family: Arial, Helvetica, sans-serif;

.CoveoPrintableUri {
  @include justify-content(flex-start);
  margin: 2px 0 5px;
  font-size: $font-size-smallest;
  padding: 0 2px;
  @include display(flex);
  position: relative;
  &.CoveoResultLink:hover {
    text-decoration: none;
    color: $color-teal;
    a {
      text-decoration: none;
    }
  }
  .coveo-printable-uri-separator {
    font-size: 12px;
    margin: 0 3px;
  }
  .coveo-hidden {
    display: none;
  }
  .coveo-printable-uri-part {
    color: $color-coveo-for-salesforce;
    margin: 0;
    flex: 0 15 auto;
    min-width: 10px;
    @supports (max-width: max-content) {
      flex: 1 0 0;
      max-width: max-content;
    }
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
  }
  .coveo-printable-uri-ellipsis {
    > button {
      @include clickable();
      border: none;
      background: none;
      font-family: $ellipse-font-family;
    }
  }
}

.coveo-card-layout {
  .CoveoPrintableUri {
    line-height: $font-size-smallest*2;
  }
}
