@import 'Variables';
@import 'Result';
.coveo-promoted-result-badge {
  text-transform: uppercase;
  display: inline-block;
  margin: 0 0 10px;
  padding: 5px 10px;
  color: white;
  border-radius: 2px;
  font-size: $font-size-smallest;
  font-weight: bold;
  letter-spacing: 1px;
}

.coveo-card-layout-container {
  position: relative;
  .coveo-promoted-result-badge {
    position: absolute;
    transform: translate(-10px, -10px);
    z-index: 2;
  }
  .coveo-promoted-result-badge + .coveo-promoted-result-badge {
    z-index: 1;
    left: 79px;
  }
}

.coveo-promoted-result-badge-container-card-layout {
  flex-grow: 1;
  display: flex;
}

.coveo-featured-result-badge {
  background-color: $coveo-orange;
}

.coveo-recommended-result-badge {
  background-color: $coveo-blue;
}
