@import 'Variables';

.CoveoQuerySummary {
  div {
    margin-bottom: 5px;
  }
  ul {
    margin-top: 0;
    li {
      font-size: $font-size-smaller;
    }
  }
  color: $color-blueish-gray;
  &.coveo-hidden {
    display: none;
  }
  text-align: left;

  .coveo-show-if-no-results {
    display: none;
  }

  .coveo-show-if-no-results.coveo-no-results {
    display: block;
  }
}

.coveo-query-summary-no-results-string {
  font-size: $font-size-bigger;
}

.coveo-query-summary-search-tips-info {
  font-size: $font-size-bigger;
}

.coveo-query-summary-cancel-last {
  font-size: $font-size-smaller;
  @include clickable();
}
