@import "Variables";
@import "mixins/mediaQuery";

.CoveoQuickview {
  @include clickable();

  > div {
    position: relative;
  }
  .coveo-list-layout &:hover .coveo-caption-for-icon {
    display: inline;
    top: 26px;
    transform: translateX(-50%);
    left: 50%;
  }
  
  .coveo-caption-for-icon {
    font-size: $font-size-smallest;
    display: none;
    background: $color-greyish-dark-blue;
    color: white;
    border-radius: 2px;
    padding: 6px 16px;
    position: absolute;
    white-space: nowrap;
    z-index: 1;

    &:before {
      border: solid;
      border-color: $color-greyish-dark-blue transparent;
      border-width: 0 6px 7px 6px;
      content: "";
      position: absolute;
      z-index: 99;
      top: -6px;
      left: calc(50% - 6px);
    }
  }
}

.CoveoCardActionBar .CoveoQuickview {
  color: #fff;
  text-decoration: none;
  > * {
    display: flex;
    align-items: center;
  }
  .coveo-caption-for-icon {
    position: relative;
    transform: none;
    display: inline;
    padding: 0px 5px;
    font-size: inherit;
    &:before {
      display: none;
    }
  }
  .coveo-caption-for-quickview {
    margin-top: 0;
    margin-left: 3px;
    font-size: 11px;
  }

}

.CoveoQuickviewDocument {
  overflow: hidden;
  .coveo-quickview-document {
    height: 100%;
    width: 100%;
    display: table;
    > * {
      display: table-row;
    }
    .coveo-iframeWrapper {
      height: 100%;
      width: 100%;
    }
  }
}

.coveo-term-for-quickview * {
  vertical-align: middle;
  box-sizing: border-box;
}

.coveo-term-for-quickview {
  margin: 0px 10px 10px 0px;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;

  border-radius: 5px;
  border: 2px solid;

  .coveo-term-for-quickview-down-arrow {
    display: inline-block;
    padding: 5px;
    height: 26px;
    position: relative;
    width: 20px;
    border-right: 2px solid;
    .coveo-term-for-quickview-down-arrow-icon {
      position: absolute;
      top: 11px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid black;
    }
  }
  .coveo-term-for-quickview-up-arrow {
    display: inline-block;
    padding: 5px;
    height: 26px;
    position: relative;
    width: 20px;
    .coveo-term-for-quickview-up-arrow-icon {
      position: absolute;
      top: 11px;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid black;
    }
  }
  .coveo-term-for-quickview-name {
    font-size: 14px;
    padding: 5px 0;
    margin-left: 5px;
  }
}

.coveo-quickview-left-header {
  overflow: hidden;
  padding-right: 16px;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.coveo-quickview-right-header {
  text-align: right;
  float: right;
}

.coveo-quickview-icon {
  margin-right: 10px;
  vertical-align: middle;
}

.coveo-quickview-pop-up-reminder {
  color: #0066cc;
  font-size: 16px;
  text-align: left;
}

.coveo-quickview-time {
  font-size: 12px;
  color: #b4b4b4;
  font-weight: normal;
  vertical-align: middle;
}

.coveo-modal-container.coveo-quick-view {
  .coveo-modal-body {
    height: 90%;
    > div, .coveo-list-layout, .CoveoQuickviewDocument, .coveo-quick-view-full-height {
      height: 100%;
      width: 100%;
    }
    .coveo-logo {
      height: 64px;
      width: 178px;
    }
    .coveo-loading-dot {
      height: 8px;
      width: 8px;
    }
    .coveo-quickview-header {
      height: auto;
    }
    iframe {
      height: 100%;
      width: 100%;
      position: relative;
      @include defaultRoundedBorder();
      padding: 10px 0 0 10px;
    }
  }
}

.coveo-icon-for-quickview-svg {
  margin-top: 8px;
  width: 20px;
  height: 12px;
  color: $color-greyish-teal-blue;
}

.coveo-computed-modal-box-content {
 > div {
  height: 100%
 }
}