@import "Variables";

.CoveoRecommendation {
  margin: 10px 0;
  padding: 0;
  position: relative;
  @include defaultRoundedBorder();
}

.coveo-recommendation-header {
  padding: 10px 0 10px 0;
  background-color: $color-blueish-white;
}

.coveo-recommendation-title {
  color: $color-greyish-teal-blue;
  text-align: left;
  font-size: $font-size-regular;
  line-height: 20px;
  padding-left: 20px;
}

.coveo-recommendation-body {
  background: white;
  margin-bottom: 1px;
  
  .CoveoResultList {
    margin: 0;
    
    .CoveoResult:first-child {
      border-top: none;
    }
    .CoveoResult {
      margin: 0;
      padding: 5px 15px;
      border-top: $default-border;
      border-bottom: none;
    }
  }
  
}

.coveo-recommendation-column {
  width: 15%;
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
}

#coveo-recommendation-results-column, .coveo-recommendation-results-column, .CoveoSearchInterface .coveo-recommendation-results-column {
  width: 49%;
  display: inline-block;
  &.coveo-no-results {
    width: inherit;
    display: block;
  }
}

#coveo-recommendation-facet-column, .coveo-recommendation-facet-column, .CoveoSearchInterface .coveo-recommendation-facet-column {
  display: inline-block;
  vertical-align: top;
  &.coveo-no-results {
    display: none;
  }
}

#coveo-recommendation-main-section, .coveo-recommendation-main-section, .CoveoSearchInterface .coveo-recommendation-main-section {
  max-width: 1450px;
  &.coveo-no-results {
    .coveo-recommendation-column {
      display: none;
    }
  }
}
