@import "_Variables.scss";

.CoveoSearchInterface.coveo-small-search-interface {
  .coveo-facet-dropdown-header-container {
    display: inline-block;
    border-left: 1px solid white;
    height: 40px;
    vertical-align: top;
    p {
      height: 100%;
    }
  }

  .coveo-facet-dropdown-header {
    margin-left: 10px;
    @include align();
  }

  .coveo-facet-column.coveo-facet-dropdown-content {
    clear: both;
    white-space: nowrap;
    padding: 0;
    min-width: 280px;
    width: 35%;
    z-index: 20;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
    @include defaultRoundedBorder();
    border-radius: 0 0 0 2px;
    border-color: $color-blueish-white;

    .CoveoFacet {
      margin: 0;
      border: 0;
      border-radius: 0;

      .coveo-facet-header {
        border: 0;
        border-radius: 0;
        border-top: $default-border;
      }
    }
    
  }
}
.coveo-facet-dropdown-background {
    @include transition-property(all);
    @include transition-duration(0.300s);
    @include transition-timing-function(ease-out);
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
}