@import 'bourbon/bourbon';
@import 'Variables';
@import 'mixins/mediaQuery';

.coveo-small-tabs {
  &.coveo-tab-section {
    .coveo-tab-dropdown-header {
      margin-left: auto;
      line-height: 22px;
    }
  }

  .CoveoTab {
    @include transition-property(opacity);
    @include transition-duration(0.25s);
    @include transition-timing-function(ease);
    font-size: $font-size-smallest;
    color: $color-greyish-teal-blue;
    font-weight: 400;
    letter-spacing: 0.25px;
    &.coveo-selected,
    &.coveo-selected:hover {
      font-weight: 700;
    }
    &.coveo-selected,
    &.coveo-selected:hover {
      border-bottom: 0;
      p {
        border-bottom: 2px solid $color-greyish-dark-blue;
      }
    }

    p {
      max-width: 240px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .coveo-tab-list {
    text-align: left;
    list-style: none;
    background-color: white;
    @include defaultRoundedBorder();
    padding: 0;
    white-space: nowrap;
    * {
      height: 30px;
      line-height: 30px;
      clear: both;
      white-space: nowrap;
    }
    li:first-child {
      margin-top: 6px;
    }
    li:last-child {
      margin-bottom: 6px;
    }
    li:hover {
      background-color: $color-blueish-white-grey;
    }
  }
}

.coveo-tab-list-container {
  max-width: 80%;
  z-index: 999;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);

  ol {
    margin: 0;

    a {
      width: 100%;

      p {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.coveo-more-tabs-svg {
  width: 7px;
  height: 4px;
  color: $color-greyish-teal-blue;
}
