@import "bourbon/bourbon";
@import "Variables";

.CoveoSearchInterface.coveo-small-facets {

  .coveo-facet-dropdown-content {
    z-index: 20;
    margin: 0;
  }

  .coveo-facet-dropdown-header {
    @include order(2);
    @include defaultRoundedBorder();
    background-color: white;

    &.coveo-dropdown-header-active {
      z-index: 20;
    }
  }

  .coveo-facet-column.coveo-facet-dropdown-content {
    overflow-y: scroll;
    max-height: 600px;
    clear: both;
    white-space: nowrap;
    padding: 0;
    min-width: 280px;
    width: 35%;
    z-index: 20;
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 2px;
    .CoveoFacet,
    .CoveoFacetSlider,
    .CoveoFacetRange,
    .CoveoHierarchicalFacet {
      margin: 0;
      border: 0;
      border-radius: 0;
      .coveo-facet-header {
        border: 0;
        border-radius: 0;
        border-top: $default-border;
        white-space: initial;
      }
    }
  }

  .coveo-facet-header-filter-by-container {
    background: $color-blueish-white;
    font-size: $font-size-bigger;
    font-weight: 700;
    letter-spacing: 0.22px;
    line-height: 22px;
    .coveo-facet-header-filter-by {
      display: block;
      padding: 10px 0 10px 20px;
    }
  }

  .coveo-facet-header-filter-by-container {
    background: $color-blueish-white;
    font-size: $font-size-bigger;
    font-weight: 700;
    letter-spacing: 0.22px;
    line-height: 22px;
    .coveo-facet-header-filter-by {
      display: block;
      padding: 10px 0 10px 20px;
    }
  }
}

.coveo-facet-header-filter-by {
  display: none;
}

.coveo-facet-settings-popup {
  z-index: 999;
}
