.coveo-result-frame, .CoveoResult.coveo-result-frame {
  margin-left: 0;
  @include display(flex);
  @include flex-direction(column);
  .coveo-icon {
    margin: 0 0 4px 0;
    float: none;
    &.coveo-icon-with-caption-overlay {
      overflow: visible;
      position: relative;
    }
  }
  .coveo-result-row {
    @include display(flex);
    @include flex-direction(row);
    margin: 0.25em 0;
  }
  .coveo-result-cell {
    @include flex-grow(1);
    line-height: 1.25em;
    vertical-align: top;
    > * {
      vertical-align: middle;
    }
    .CoveoTemplateLoader {
      display:inline-block;
    }
    &.coveo-no-wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .CoveoThumbnail {
    max-width: 100%;
  }
}