.coveo-result-frame, .CoveoResult.coveo-result-frame {
  margin-left: 0;
  display: flex;
  flex-direction: column;
  .coveo-icon {
    margin: 0 0 4px 0;
    float: none;
    &.coveo-icon-with-caption-overlay {
      overflow: visible;
      position: relative;
    }
  }
  .coveo-result-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    margin: 0.25em 0;
  }
  .coveo-result-cell {
    line-height: 1.25em;
    vertical-align: top;
    > * {
      vertical-align: middle;
    }
    .CoveoTemplateLoader {
      display:inline-block;
    }
    &.coveo-no-wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .CoveoThumbnail {
    max-width: 100%;
  }
}