@import 'bourbon/bourbon';
@import 'mixins/mediaQuery';
@import 'Variables';

.CoveoResultList.coveo-faded {
  opacity: 0.5;
}

.CoveoResultList {
  margin-top: 15px;
  margin-bottom: 15px;

  .coveo-fade-out {
    opacity: 0.5;
    @include transition(opacity 0.5s);
  }

  .coveo-wait-animation {
    display: block;
    margin: 10px auto;
  }

  &.coveo-hidden {
    display: none;
  }

  &[data-layout='table'] {
    overflow-x: auto;
    margin-bottom: 20px;
  }
}

.coveo-card-layout-container {
  @include display(flex);
  @include flex-wrap(wrap);
  margin-right: -20px;
  @include smallScreenWidth {
    margin-right: 0;
  }
}

.coveo-table-layout-container {
  display: table;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.coveo-result-list-table-footer {
  border-bottom: none;
}

@include mediumScreenWidth() {
  .CoveoResultList {
    margin-left: 10px;
    margin-right: 10px;
  }
  .coveo-table-layout-container {
    table-layout: auto;
    td {
      max-width: 300px;
    }
  }
}
