@import "Variables";

.CoveoResultFolding {

  .coveo-folding-results {
    margin-bottom: 6px;
    > .coveo-result-frame {
      > .coveo-result-row {
        margin: 0px;
      }
    }
  }

  .coveo-loading-animation {
    margin: auto;
    width: 84px;
    margin-bottom: 10px;
  }
}

.coveo-list-layout {
  .coveo-result-folding-child-result {
    border-left: $default-border;
    padding: 0px 0px 0px 6px;
    &:hover {
      border-left: 1px solid $color-teal;
    }
  }
  .coveo-folding-normal-caption,
  .coveo-folding-expanded-caption,
  .coveo-folding-oneresult-caption {
    color: #333333;
  }
}

.coveo-folding-footer-section-for-less, .coveo-folding-footer-section-for-more {
  display: inline-block;
}

.coveo-folding-normal-caption,
.coveo-folding-expanded-caption,
.coveo-folding-oneresult-caption {
  font-size: 11px;
  margin-bottom: 10px;
  &.coveo-hidden {
    display: none;
  }
}

.coveo-folding-footer {
  margin-top: 12px;
  margin-bottom: 3px;
}

.coveo-folding-footer-icon {
  margin-left: 5px;
}

.coveo-folding-more {
  &:hover {
    cursor: pointer;
  }
  display: inline-block;
  vertical-align: middle;
  .coveo-folding-footer-icon {
    position: relative;
    top: -2px;
  }
}

.coveo-folding-more-svg {
  width: 10px;
  height: 6px;
  color: $color-greyish-teal-blue;
}

.coveo-folding-less {
  &:hover {
    cursor: pointer;
  }
  display: inline-block;
  .coveo-folding-footer-icon {
    position: relative;
    top: -1px;
  }
}

.coveo-folding-less-svg {
  width: 10px;
  height: 6px;
  color: $color-greyish-teal-blue;
}

a.coveo-folding-show-more, a.coveo-folding-show-less {
  @include clickable();
}

.coveo-card-layout {
  a.coveo-folding-show-more, a.coveo-folding-show-less {
    @include clickable($dark-background: true);
  }
}

.coveo-child-result {
  margin-bottom: 5px;
  * {
    vertical-align: middle;
  }
}

.coveo-card-overlay {
  .coveo-folding-header,
  .coveo-folding-results,
  .coveo-folding-footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .coveo-folding-header {
    margin-top: 10px;
  }

  .coveo-result-folding-child-result:not(:last-child) {
    border-bottom: 1px solid $color-light-grey;
  }
}
