@import 'Variables';
.CoveoResultActionsMenu {
  display: none;
  position: absolute;
  right: 0;
  @include defaultRoundedBorder();
  margin-top: -24px;
  background: white;

  &.coveo-menu-opened {
    @include display(flex);
    @include flex-flow(row nowrap);
    @include justify-content(flex-end);
    float: right;
  }

  .coveo-result-actions-menu-menu-item {
    height: auto;
    padding: 0 8px;

    &:not(:first-child) {
      border-left: $default-border;
    }

    .coveo-icon-for-quickview-svg {
      margin: 0;
    }
  }
}
