@import 'Variables';
@import 'mixins/mediaQuery';

.CoveoSearchInterface.coveo-small-tabs,
.CoveoSearchInterface.coveo-small-facets,
.CoveoSearchInterface.coveo-small-recommendation {
  .coveo-dropdown-content {
    padding: 0;
  }

  .coveo-dropdown-header {
    font-size: $font-size-smallest;
    display: inline-block;
    padding: 0px 7px 0px 7px;
    height: 22px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.09px;
    vertical-align: middle;
    white-space: normal;
    color: $color-greyish-teal-blue;
    cursor: pointer;
    text-transform: uppercase;

    * {
      display: inline-block;
      margin: 0;
    }

    p {
      line-height: 16px;
    }

    .coveo-more-tabs {
      margin-left: 10px;
    }

    &.coveo-hidden {
      display: none;
    }
  }

  .coveo-tab-section {
    > a:last-of-type {
      margin-right: 20px;
    }
  }

  .coveo-dropdown-header-wrapper {
    width: 100%;
    margin: 0;
    padding: 0;
    @include display(inline-flex);
    @include flex-wrap(nowrap);
    @include justify-content(flex-end);

    a {
      margin-right: 10px;
    }
  }
}

.coveo-dropdown-background {
  @include transition-property(opacity);
  @include transition-duration(0.3s);
  background: $color-transparent-background;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
}

@include smallScreenWidth {
  .CoveoSearchInterface {
    .coveo-tab-section {
      background-color: $color-blueish-white;
    }

    .CoveoSearchbox {
      max-width: $medium_screen_width + unquote('px');
      margin-right: 50px;
    }

    .CoveoSettings {
      margin-left: 0;
    }

    .CoveoSettings + .CoveoSearchbox {
      margin-right: 50px;
    }
  }
}
