.coveo-result-frame, .CoveoResult.coveo-result-frame {
  margin-left: 0;
  display: block;
  .coveo-icon {
    margin: 0 0 4px 0;
    float: none;
    &.coveo-icon-with-caption-overlay {
      overflow: visible;
      position: relative;
    }
  }
  .coveo-result-row {
    width: 100%;
    display: table;
    table-layout: fixed;
    margin: 0.25em 0;
  }
  .coveo-result-cell {
    line-height: 1.25em;
    display: table-cell;
    vertical-align: top;
    > * {
      vertical-align: middle;
    }
    .CoveoTemplateLoader {
      display:inline-block;
    }
    &.coveo-no-wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .CoveoThumbnail {
    max-width: 100%;
  }
}