.CoveoResultsPerPage {
  margin: -10px 0px 0 15px;
  display: inline-block;
  float: right;
}

.coveo-results-per-page-text {
  padding-left: 0;
  color: $color-light-grey;
}

.coveo-results-per-page-list {
  @debug $pager-list-group;
@include retina-sprite($pager-list-group);
}

.coveo-results-per-page-list-item {
  @debug $pager-list-item-group;
@include retina-sprite($pager-list-item-group);
  padding: 4px;
}

.coveo-results-per-page-no-results {
  display: none;
}
