.CoveoResultList.coveo-faded {
	opacity : 0.5;
}

.CoveoResultList {
  margin-top: 15px;

  .coveo-fade-out {
	opacity : 0.5;
	@include transition (opacity .5s);
  }

  .coveo-wait-animation {
    display: block;
    margin: 10px auto;
  }

  &.coveo-hidden {
    display: none;
  }

  &[data-layout="table"] {
    overflow-x: auto;
    margin-bottom: 20px;
  }
}

.coveo-card-layout-container {
  @include display(flex);
  @include flex-wrap(wrap);
  margin-right: -20px;
  @include mediaSelector(480) {
    margin-right: 0;
  }
}

.coveo-table-layout-container {
  display: table;
  white-space: nowrap;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.coveo-result-list-table-header {
  display: table-row;
  text-align: left;
  font-size: 12px;
  color: $color-greyish-teal-blue;
  font-weight: bold;
  border-bottom: $default-border;
}

.coveo-table-header-cell {
  display: table-cell;
}

.coveo-result-list-table-footer {
  @extend .coveo-result-list-table-header;
  .coveo-result-cell {
    border-bottom: none;
  }
}

@include mediaSelector(800) {
  .CoveoResultList {
    margin-left: 10px;
    margin-right: 10px;
  }
}
