@import 'Variables';

.CoveoResultAttachments {
  .coveo-attachment-sub-container {
    padding: 6px 0 6px 20px;
  }
  .coveo-attachment-icon {
    margin-right: 5px;
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    position: relative;
    top: 3px;
  }
}

.coveo-result-attachments-container {
  font-size: 14px;
  margin: 0 0 5px;
  position: relative;
  .coveo-icon {
    margin: 0 5px 0 0;
  }
  * {
    vertical-align: middle;
  }
}
