@import "mixins/resultsHeaderElement";
@import "bourbon/bourbon";
@import "Variables";

.CoveoResultLayout {
  @include display(flex);
  &.coveo-result-layout-hidden {
    display: none;
  }
}

.coveo-result-layout-selector {
  @include resultsHeaderElement();

  .coveo-icon {
    margin-right: 5px;
    min-width: 14px;
  }
  &.coveo-hidden {
    display: none;
  }
}

.coveo-card-layout-icon {
  width: 16px;
  height: 16px;
  fill: black;
}

.coveo-list-layout-icon {
  width: 19px;
  height: 14px;
  fill: black;
}

.coveo-table-layout-icon {
  width: 18px;
  height: 13px;
  fill: black;
}
