@import 'Variables';
@import 'mixins/mediaQuery';

.CoveoSearchInterface.coveo-small-recommendation {
  .coveo-recommendation-dropdown-header {
    @include order(1);
    @include defaultRoundedBorder();
    background-color: white;

    &.coveo-dropdown-header-active {
      background-color: $color-blueish-white-grey;
      border-color: $color-vibrant-blue;
    }
  }

  .coveo-recommendation-dropdown-content {
    @include transition(all $standard-transition-timing-function 300ms);
    overflow: hidden;
    max-height: 0;
    width: 100%;
    padding: 0;
    margin: 25px 0 15px;
    border-bottom: 0px solid $color-blueish-white-grey;

    @include smallScreenWidth() {
      @include transition(all $standard-transition-timing-function 400ms);
    }

    &.coveo-recommendation-column,
    &.CoveoRecommendation {
      display: block;
    }

    &.coveo-open-dropdown-content {
      max-height: 1000px;
      width: 100%;
      border-bottom: 5px solid $color-blueish-white-grey;
    }
  }

  .CoveoRecommendation,
  .coveo-recommendation-facet-column,
  .coveo-recommendation-dropdown-container {
    padding: 0;
  }

  .CoveoRecommendation {
    border: none;
  }

  .CoveoResultlist {
    .CoveoResult:first-child {
      border-top: $default-border;
    }
  }

  .coveo-recommendation-header {
    padding: 5px 0 5px 0;
    background-color: $color-blueish-white-grey;
    border-bottom: $default-border;
  }

  .coveo-recommendation-title {
    color: $color-blueish-gray;
  }
}

.CoveoSearchInterface.coveo-small-recommendation,
.CoveoSearchInterface.coveo-small-facets {
  #coveo-recommendation-results-column,
  .coveo-recommendation-results-column {
    width: auto;
    display: block;
  }

  .coveo-recommendation-facet-column {
    width: 30%;
  }
}
