@import 'Variables';
@import 'mixins/pagerList';
.CoveoResultsPerPage {
  margin: 0 0 0 15px;
  float: right;
}

.coveo-results-per-page-text {
  padding-left: 0;
}

.coveo-results-per-page-list {
  @include pager-list;
}

.coveo-results-per-page-list-item {
  @include pager-list-item;
  padding: 4px;
}

.coveo-results-per-page-no-results {
  display: none;
}
