.coveo-feedItem-result, .coveo-feedComment-result {
  .coveo-header {
    padding-top: 3px;
    .coveo-date {
      float: right;
      color: #666666;
    }
    .coveo-from {
      color: #0066cc
    }
  }
  .coveo-footer {
    background-color: #f7f7f7;
    overflow: hidden;
    padding: 0 5px;
    .coveo-like, .coveo-comment {
      margin: 5px 10px 5px 0;
      display: inline-block;
      vertical-align: middle;
      .coveo-caption, .coveo-icon{
        vertical-align: middle;
      }
      .coveo-caption {
        color: #666666;
        font-size: 14px;
      }
    }

    .coveo-icon {
      width: 16px;
      height: 16px;
      text-indent: 16px;
      zoom: 1;
      background-repeat: no-repeat;
      overflow: hidden;
      margin: 0px 4px 0px 0px;
      float: none;
    }
  }
  .CoveoResultAttachments > div {
    background: #FFFFFF;
    border-left: 2px solid #666666;
    padding: 5px;
    margin: 3px 0 3px 0;
  }
  .CoveoResultAttachments > div:hover {
    border-left: 2px solid blue;
  }
  .coveo-thumbnail-icon {
    display: block;
    @include coveo-thumbnail-icon;
  }
  .CoveoResultFolding .coveo-folding-results {
    margin-top: 6px;
  }
}