.coveo-modalBox > .coveo-wrapper > .coveo-title {
  height: 40px;
  line-height: 23px;
  text-align: center;
  cursor: pointer;

  .coveo-close-button {
    position: absolute;
    left: 25px;
    display: inline-block;

    .coveo-icon {
      margin-right:10px;
    }
  }

  .coveo-pop-up-reminder {
    color: #B4B4B4;
    font-weight: normal;
    display: inline-block;
  }
}