.CoveoSearchButton {
  color: white;
  border: 1px solid #bcc3ca;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  height: 50px;
  width: 60px;
  cursor: pointer;
  &:before {
    content: '';
    vertical-align: middle;
    height: 100%;
    display: inline-block;
  }

  & > .coveo-icon {
    vertical-align: middle;
    @extend .coveo-sprites-main-search;
    animation: none;
  }
  &:hover > .coveo-icon {
    @extend .coveo-sprites-main-search-active;
  }
}

.coveo-executing-query .CoveoSearchButton > .coveo-icon, .coveo-executing-query .CoveoSearchButton:hover > .coveo-icon {
  @extend .coveo-sprites-facet-loading;
  @include animation-name(coveo-spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}

.ie8or9 .coveo-executing-query .CoveoSearchButton > .coveo-icon {
  @extend .coveo-sprites-main-search;
}
