.CoveoSearchInterface {
  display: none; //hide the UI while loading
  min-height: 100%;
  position: relative;
  margin: 0;
  font-family: $helvetica, sans-serif;
  font-size: 15px;
  color: $color-dark-grey;

  .coveo-highlight, .highlight {
    font-weight:bold;
  }
  
  input[type=text]::-ms-clear { 
    width : 0; height: 0; 
  }
  input:focus, textarea:focus, select:focus {
    outline: none;
  }
  input[type=text], textarea {
    color: $color-blueish-gray;
  }

  &.coveo-waiting-for-first-query{
    background: #f7f7f7;
  }

  .coveo-tab-disabled {
    display: none;
  }

  * {
    @include box-sizing(border-box);
  }
}

.coveo-hide-until-loaded {
  display: none;
}

.coveo-show-after-loaded {
  @include animation-name(coveo-appear);
  @include animation-duration(1s);
}

body.coveo-modalBox-opened {
  &, .CoveoSearchInterface {
    overflow: hidden;
  }
}

@include keyframes(coveo-appear) {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}