@import "../bin/sass/sprites";
@import "Variables";

.CoveoSearchButton {
  color: white;
  border: 1px solid #bcc3ca;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  height: 50px;
  width: 60px;
  cursor: pointer;
  &:before {
    content: '';
    vertical-align: middle;
    height: 100%;
    display: inline-block;
  }

  & > .coveo-icon {
    vertical-align: middle;
    //@include retina-sprite($main-search-group);
    //animation: none;
  }
  &:hover > .coveo-icon {
    //@include retina-sprite($main-search-active-group);
  }

  svg {
    vertical-align: middle;    
    width: 20px;
    height: 20px;
  }
}

.coveo-executing-query .CoveoSearchButton > .coveo-icon, .coveo-executing-query .CoveoSearchButton:hover > .coveo-icon {
  @include retina-sprite($facet-loading-group);
  @include animation-name(coveo-spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}

