@import 'Variables';
@import './mixins/mediaQuery';
.CoveoSettings {
  top: 0px;
}
.CoveoSearchbox {
  @include display(flex);
  flex-grow: 1;

  &.coveo-small {
    .CoveoOmnibox,
    .CoveoSearchbox {
      height: 40px;
      line-height: 40px;
    }
    .CoveoSearchButton {
      height: 40px;
    }

    .magic-box-icon {
      height: 40px;
      margin-top: -5px;
    }

    .magic-box .magic-box-input,
    .magic-box .magic-box-clear {
      height: 38px;
    }

    .magic-box .magic-box-input .magic-box-underlay,
    .magic-box .magic-box-input > input {
      height: 40px;
    }

    .magic-box-suggestions .magic-box-suggestion {
      height: 40px;
      line-height: 16px;
    }
  }

  &.coveo-inline {
    overflow: hidden;
    .magic-box {
      overflow: visible;
    }
  }
  .CoveoSearchButton {
    z-index: 2;
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
  }
  .magic-box {
    @include flex-grow(1);
    @include defaultRoundedBorder();
    .magic-box-clear-svg {
      width: 15px;
      height: 15px;
      color: $color-greyish-teal-blue;
    }
    .magic-box-clear:before {
      border-left: none;
    }
    .magic-box-clear .magic-box-icon:before {
      content: '';
    }
    .magic-box-input {
      border-radius: $default-border-radius;
    }
    .magic-box-input > input {
      color: $color-blueish-gray;
    }
  }
}

.CoveoSearchInterface.coveo-waiting-for-query {
  .CoveoSearchbox {
    margin: 0;
    @include smallScreenWidth {
      margin: 0 20px;
    }
  }
}

.magic-box,
.magic-box.magic-box-hasFocus {
  .magic-box-input {
    .magic-box-underlay {
      .magic-box-ghost-text {
        display: none;
      }
    }
  }
}

.coveo-query-syntax-disabled {
  &.magic-box .magic-box-input .magic-box-underlay span,
  .magic-box-highlight-container {
    display: none;
  }
}
