@import 'Variables';
@import './mixins/mediaQuery';

.CoveoSearchbox {
  &.coveo-inline {
    overflow: hidden;
    .magic-box {
      overflow: visible;
    }
  }
  .CoveoSearchButton {
    float: right;
    z-index: 2;
    position: relative;
    border-top-right-radius: $default-border-radius;
    border-bottom-right-radius: $default-border-radius;
  }

  .magic-box {
    @include defaultRoundedBorder();
    .magic-box-clear-svg {
      width: 15px;
      height: 15px;
      color: $color-greyish-teal-blue;
    }
    .magic-box-clear:before {
      border-left: none;
    }
    .magic-box-clear .magic-box-icon:before {
      content: '';
    }
    .magic-box-input {
      border-radius: $default-border-radius;
    }
    .magic-box-input > input {
      color: $color-blueish-gray;
    }
  }
}

.CoveoSettings ~ .CoveoSearchbox {
  margin-right: 76px;
}

.CoveoSearchInterface.coveo-waiting-for-query {
  .CoveoSearchbox {
    margin: 0;
    @include smallScreenWidth {
      margin: 0 20px;
    }
  }
}

.magic-box,
.magic-box.magic-box-hasFocus {
  .magic-box-input {
    .magic-box-underlay {
      .magic-box-ghost-text {
        display: none;
      }
    }
  }
}
