@import "Variables";

.coveo-share-query-summary-info-label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
  font-weight: initial;
}

.coveo-share-query-summary-info-input {
  width: 100%;
  margin-bottom: 5px;
  @include defaultRoundedBorder();
  padding: 5px;
  height: 35px;
  font-size: $font-size-smaller;
}

.coveo-share-query-svg {
  width: 18px;
  height: 14px;
  color: $color-greyish-teal-blue; 
}