@import 'Variables';

@mixin pointer($size, $offsetY) {
  position: relative;
  &::before {
    content: '';
    display: inline-block;
    position: absolute;
    top: $size / 2 + $offsetY;
    @include triangle($size, $color-blue-background, up);
  }
}

.CoveoSmartSnippet {
  margin-top: 30px;

  display: none;
  &.coveo-smart-snippet-has-answer {
    display: block;
  }

  @at-root .coveo-smart-snippet-answer {
    @include defaultMediumRoundedBorder();
    padding: 16px;
  }

  @at-root .coveo-smart-snippet-source {
    margin-top: 24px;

    &-url {
      display: block;
      color: $color-strong-contrast-grey;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }

    &-title {
      margin-top: 8px;
      display: block;
      font-size: 22px;
      color: $coveo-blue;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.coveo-user-feedback-banner {
  @at-root .coveo-user-feedback-banner-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 8px 8px 8px;
    overflow: hidden;
    font-size: 12px;

    @at-root .coveo-user-feedback-banner-buttons {
      display: flex;

      button {
        border: none;
        background: none;
        padding: 0;
        margin-left: 18px;
        display: inline-flex;
        align-items: center;

        text-decoration: underline;
        &:hover,
        &.coveo-user-feedback-banner-button-active {
          text-decoration: none;
        }

        &.coveo-user-feedback-banner-button-active {
          cursor: default;
        }

        $icon-size: 14px;
        @at-root .coveo-user-feedback-banner-thanks-icon {
          display: inline-block;
          width: $icon-size;
          height: $icon-size;
          margin-right: 3px;
        }

        @at-root .coveo-user-feedback-banner-button-active {
          .coveo-user-feedback-banner-thanks-icon {
            @include pointer($icon-size, 3px);
          }

          &.coveo-user-feedback-banner-yes-button {
            color: $color-green;
            fill: $color-green;
          }

          &.coveo-user-feedback-banner-no-button {
            color: $color-red;
            fill: $color-red;
          }
        }
      }
    }
  }

  @at-root .coveo-user-feedback-banner-thanks {
    overflow: hidden;
    box-sizing: border-box;
    height: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $color-blue-background;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    font-weight: lighter;

    &-active {
      height: auto;
    }

    > * {
      margin: 8px 16px 8px 0;
    }

    @at-root .coveo-user-feedback-banner-explain-why {
      border: none;
      background: none;
      padding: 0;
      color: white;
      font-weight: normal;
      font-size: 12px;

      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }

      display: none;
      &-active {
        display: inline;
      }
    }
  }
}
