$stop-float: new-breakpoint(max-width 480px 1);

.coveo-sort-section {
  text-align: right;
  font-size: 0;
}

.CoveoSort {
  font-size: $font-size-smallest;
  font-weight: bold;
  padding: 0px 5px 10px 5px;
  border-bottom: $default-border;
  text-transform: uppercase;

  border-bottom: 2px solid $color-light-grey;
  padding-bottom: 11px;

  &.coveo-selected, &.coveo-selected:hover {
    border-bottom: 2px solid $color-greyish-dark-blue;
  }

  &:hover {
    color: $color-greyish-dark-blue;
  }

  cursor: pointer;

  .coveo-icon {
    margin-left: 5px;
    position: relative;
    top: 3px;
    @extend .coveo-sprites-arrow-down;
  }

  &.coveo-ascending {
    .coveo-icon {
      @extend .coveo-sprites-arrow-up;
    }
  }
  &.coveo-descending {
    .coveo-icon {
      @extend .coveo-sprites-arrow-down;
    }
  }
  
  &.coveo-sort-hidden {
    display: none;
  }
}