@import 'mixins/resultsHeaderElement';
@import 'bourbon/bourbon';
@import 'Variables';
@import 'mixins/mediaQuery';

$stop-float: new-breakpoint(max-width $small-screen-width px 1);

.coveo-sort-section {
  text-align: right;
  font-size: 0;
}

.coveo-sort-icon-descending-svg {
  width: 10px;
  height: 6px;
  color: $color-greyish-teal-blue;
}

.coveo-sort-icon-ascending-svg {
  display: none;
}

.CoveoSort {
  @include resultsHeaderElement();
  .coveo-icon {
    margin-left: 5px;
    position: relative;
    &.coveo-hidden {
      visibility: hidden;
    }
  }

  &.coveo-ascending {
    .coveo-sort-icon-ascending-svg {
      display: inline-block;
      width: 10px;
      height: 6px;
      color: $color-greyish-teal-blue;
    }
    .coveo-sort-icon-descending-svg {
      display: none;
    }
  }

  &.coveo-sort-hidden {
    display: none;
  }

  &.coveo-table-header-sort {
    text-transform: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
    display: table-cell;
  }
}

.coveo-result-list-table-header .CoveoSort:not(.coveo-selected) {
  .coveo-icon {
    visibility: hidden;
  }
}
