@import 'mixins/resultsHeaderElement';
@import 'Variables';

.CoveoSortDropdown {
  .coveo-dropdown {
    @include resultsHeaderElement();

    text-indent: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background-position-y: -5px;
    font-family: 'Lato', $helvetica, sans-serif;
  }

  .CoveoSort {
    display: none;
  }

  &.coveo-hidden {
    display: none;
  }
}
