@import "../bin/sass/sprites";

$stop-float: new-breakpoint(max-width 480px 1);

.coveo-sort-section {
  text-align: right;
  font-size: 0;
}

.CoveoSort {
  @include resultsHeaderElement();
  .coveo-icon {
    margin-left: 5px;
    position: relative;
    top: 2px;
    @include retina-sprite($arrow-dowsn-group);
  }

  &.coveo-ascending {
    .coveo-icon {
      @include retina-sprite($arrow-up-group);
    }
  }
  &.coveo-descending {
    .coveo-icon {
      @include retina-sprite($arrow-down-group);
    }
  }

  &.coveo-sort-hidden {
    display: none;
  }
}