@import 'Variables';

.CoveoStarRating {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  pointer-events: none;
}

.coveo-star-rating-star + .coveo-star-rating-star {
  margin-left: 2px;
}

.coveo-star-rating-star {
  svg {
    width: 15px;
    height: 15px;
    color: $color-blueish-white-grey;
  }
}

.coveo-star-rating-star-active {
  svg {
    color: $color-active-yellow;
  }
}

.coveo-star-rating-label {
  margin-left: 5px;
  font-size: 11px;
  color: $color-grey;
}
