@import "_Variables.scss"; 

.CoveoTab {
  //color: $color-blueish-gray;
  color: black;
  text-decoration: none;
  cursor: pointer;
  height: 52px;
  display: inline-block;
  font-size: 15px;
  padding: 0px 10px 2px 10px;
  text-transform: uppercase;
  vertical-align: middle;
  * {
    display: inline-block;
    vertical-align: middle;
    line-height: 52px;
    margin: 0;
  }
  & >.coveo-icon {
    margin-right: 5px;
  }
  p {
    height: 100%;
  }

  &.coveo-selected, &.coveo-selected:hover {
    border-bottom: 2px solid $color-greyish-dark-blue;
    padding-bottom: 0px;
  }

  &:hover {
    color: $color-greyish-dark-blue;
  }
}