.CoveoTabGroupMenu {
  display: inline-block;
  float: left;

  a {
    line-height: 30px;
    display: block;
  }

  .coveo-menu-item-active {

    text-align: center;
    padding: 0px 10px 0px 10px;
    min-width: 60px;
    color: #fefefe;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }

    > .coveo-icon {
      position: relative;
      top: 3px;
      margin-right: 5px;
    }
  }

  .coveo-menu-item-container {
    position: absolute;
    z-index: 999;

    a {
      padding: 2px 10px 2px 10px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        cursor: pointer;
      }

      > .coveo-icon {
        margin-right: 5px;
        position: relative;
        top: 3px;
      }
    }
  }
}

