@import 'Variables';
@import 'mixins/mediaQuery';

.CoveoTab {
  color: $color-blueish-gray;
  text-decoration: none;
  cursor: pointer;
  height: 52px;
  display: inline-block;
  font-size: 15px;
  padding: 0px 10px 2px 10px;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: normal;
  * {
    display: inline-block;
    vertical-align: middle;
    line-height: 52px;
    margin: 0;
  }
  & > .coveo-icon {
    margin-right: 5px;
  }
  p {
    height: 100%;
  }

  &.coveo-selected,
  &.coveo-selected:hover {
    border-bottom: 2px solid $color-greyish-dark-blue;
    padding-bottom: 0px;
  }

  &:hover {
    color: $color-greyish-dark-blue;
  }
  &:active,
  &:active:focus,
  &.coveo-selected {
    outline: none;
  }
}

.coveo-tab-section {
  width: 100%;
  min-height: 52px;
  background-color: $color-blueish-white;
  text-align: center;
  border-bottom: 1px solid $color-light-grey;
  font-size: 0;
  white-space: nowrap;
}

@include smallScreenWidth {
  .coveo-tab-section {
    min-height: 40px;
  }
  .CoveoTab {
    height: 40px;
    * {
      line-height: 40px;
    }
  }
}
