@import 'Variables';
$arrow-width: 6px;
$arrow-height: 7px;
$arrow-color: $color-greyish-dark-blue;

.coveo-text-ellipsis-tooltip {
  font-size: $font-size-smallest;
  background-color: $color-greyish-dark-blue;
  color: white;
  border-radius: 2px;
  padding: 6px 16px;
  position: absolute;
  white-space: nowrap;

  &.coveo-hidden {
    display: none;
  }
}

.coveo-text-ellipsis-tooltip-arrow {
  border: solid;
  content: '';
  position: absolute;
  z-index: 99;
  bottom: -$arrow-width;
  left: calc(50% - $arrow-width);
  border-width: $arrow-height $arrow-width 0;
  border-color: $arrow-color transparent;
}
