@import 'bourbon/bourbon';

// https://app.frontify.com/d/GthysWU8RY0Q/brand-guidelines#/basics/colors

// Corporate Main Colors
$coveo-orange: #f58020;
$coveo-blue: #004990;
$coveo-red: #dc291e;

// Complementary Colors Set 1
$color-charcoal: #08080e;
$color-dark-grey: #373737;
$color-grey: #4f5658;
$color-greyish-dark-blue: #263e55;
$color-greyish-teal-blue: #1d4f76;
$color-blueish-gray: #67768b;
$color-vibrant-blue: #009ddc;

// Complementary Colors Set 2
$color-teal: #296896;
$color-greyish-cyan: #cddee9;
$color-greyish-light-cyan: #cddee9;
$color-light-grey: #bcc3ca;
$color-blueish-white-grey: #e6ecf0;
$color-blueish-white: #f7f8f9;
$color-light-greyish-blue: #9cb4cb;

// Coveo Partners Colors
$color-coveo-for-sitecore: #dc291e;
$color-coveo-for-salesforce: #009ddc;

$color-green: #4caf50;
$color-red: #cc0d00;
$color-active-yellow: #ecad00;
$color-transparent-background: rgba(28, 79, 118, 0.9);
$color-white-transparent: rgba(255, 255, 255, 0.5);
$color-light-grey-transparent: rgba($color-light-grey, 0.74);

// Font sizes
$font-size-huge: 24px;
$font-size-biggest: 18px;
$font-size-bigger: 16px;
$font-size-regular: 15px;
$font-size-smaller: 14px;
$font-size-smallest: 12px;

// Border
$default-border-radius: 2px;
$small-border-radius: 1px;
$default-border: 1px solid $color-light-grey;

@mixin defaultRoundedBorder {
  border: $default-border;
  border-radius: $default-border-radius;
}

$standard-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

/*
* @param direction vertical or horizontal
* @param position type of positioning to apply (relative/absolute)
*/
@mixin align($direction: 'vertical', $position: relative) {
  position: $position;
  @if $direction == 'vertical' {
    top: 50%;
    @include transform(translateY(-50%));
  } @else {
    left: 50%;
    @include transform(translateX(-50%));
  }
}

@mixin hoverEffectForDropdown($target: '&') {
  @include clickable();
  cursor: pointer;
  #{$target} {
    background: white;
  }

  #{$target}:hover {
    background: $color-blueish-white-grey;
  }
}

@mixin iconWithHoverState($iconClass, $float:'left', $inactive : 'coveo-disabled') {
  .#{$iconClass} {
    float: #{$float};
  }
  &:hover {
    .coveo-active-shape-svg {
      fill: $color-active-yellow;
    }
  }
  &:hover.#{$inactive} {
    .coveo-active-shape-svg {
      fill: currentColor;
    }
  }
}

@mixin clickable($dark-background: false) {
  color: $color-teal;
  @if $dark-background == true {
    color: $color-coveo-for-salesforce;
  }
  text-decoration: none;
  cursor: pointer;
  &:hover,
  &:visited {
    text-decoration: none;
    @if $dark-background == false {
      color: $color-greyish-dark-blue;
    } @else {
      color: $color-coveo-for-salesforce;
    }
  }
  &:hover,
  &:hover a {
    text-decoration: underline;
  }
  &.coveo-selected * {
    @if $dark-background == false {
      color: $color-greyish-dark-blue;
    } @else {
      color: $color-coveo-for-salesforce;
    }
  }
}

@mixin clickableVibrant($dark-background: false) {
  @include clickable($dark-background);
  color: $color-coveo-for-salesforce;
  &:hover {
    color: $color-coveo-for-salesforce;
  }
  &.coveo-selected * {
    color: $color-coveo-for-salesforce;
  }
}

/*
* @param $selector css selector on which to apply the icon. Can be '&' if the icon should be applied on the current element;
* @param $size size of the icon to use
*/
@mixin clearButton($selector, $size:'normal') {
  cursor: pointer;
  color: $color-greyish-teal-blue;
  .coveo-exclusion-svg {
    fill: $color-greyish-teal-blue;
  }

  #{$selector} svg {
    @if $size == 'normal' {
      width: 12px;
      height: 12px;
    } @else if $size == 'small' {
      width: 8px;
      height: 8px;
    } @else if $size == 'big' {
      width: 15px;
      height: 15px;
    }
  }

  &:hover {
    #{$selector} {
      color: $color-red;
      .coveo-exclusion-svg {
        fill: $color-red;
      }
    }
  }
}

@mixin breadcrumbTitle {
  color: $color-blueish-gray;
  margin-right: 14px;
}

@mixin coveo-email-to-and-from {
  font-size: 13px;
  a {
    @include clickable();
    white-space: nowrap;
  }
}
