.coveo-youtube-player.coveo-modalBox {
  > .coveo-wrapper {
    height: 90%;
    width: 90%;
    position: relative;
    overflow: hidden;
  }
}

.coveo-youtube-thumbnail-container {
  position: relative;
}

.coveo-youtube-thumbnail-play-button {
  display: none;
}

.coveo-modal-container.coveo-youtube-player {
  .coveo-modal-body {
    height: 90%;
    div {
      height: 100%;
      width: 100%;
    }
    iframe {
      height: 100%;
      width: 100%;
      border: none;
    }
  }
}