<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width: 32px; vertical-align: middle;">
          <div class="CoveoIcon" data-small="true" data-with-label="false">
          </div>
        </div>
        <div class="coveo-result-cell" style="text-align:left; padding-left: 10px; vertical-align: middle;">
          <a class="CoveoResultLink"></a>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:10px; padding-bottom:10px">
          <span class="CoveoFieldValue"
                data-field="@filetype"
                data-helper="translatedCaption"
                style="border: 1px solid #BCC3CA; border-radius: 3px; padding: 2px 10px;
                       text-transform: uppercase; font-weight: bold; font-size: 9px"></span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <div class="CoveoText" data-value="Description" data-weight="bold"></div>
          <span class="CoveoExcerpt">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <div class="CoveoText" data-value="Modified" data-weight="bold"></div>
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <span class="CoveoPrintableUri">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="CoveoCardActionBar">
    <div class="CoveoQuickview"></div>
    <div class="CoveoCardOverlay" data-title="Details" data-icon="search">
      <table class="CoveoFieldTable" data-allow-minimization="false">
        <tbody>
          <tr data-field="@author" data-caption="Author">
          </tr>
          <tr data-field="@source" data-caption="Source">
          </tr>
          <tr data-field="@language" data-caption="Language">
          </tr>
          <tr data-field="@dropboxrevision" data-caption="Revision">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
