<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:40px; vertical-align:middle">
      <span class="CoveoIcon" data-small="true">
      </span>
    </div>
    <div class="coveo-result-cell coveo-no-wrap" style="vertical-align:middle">
      <a class="CoveoResultLink">
      </a>
    </div>
    <div class="coveo-result-cell" style="width:80px; text-align:center">
      <div class="CoveoFieldValue" data-field="@date" data-helper="date">
      </div>
      <div class="CoveoQuickview">
        <span class="coveo-sprites-quickview">
        </span>
      </div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <table class="CoveoFieldTable">
        <tbody>
          <tr data-field="@author" data-caption="Author">
          </tr>
          <tr data-field="@source" data-caption="Source">
          </tr>
          <tr data-field="@language" data-caption="Language">
          </tr>
          <tr data-field="@dropboxrevision" data-caption="Revision">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoPrintableUri">
      </span>
    </div>
  </div>
</div>
