# These owners will be the default owners for everything in
# the repo.
# see https://help.github.com/articles/about-codeowners/ for more details

* @samisayegh @btaillon @olamothe @ThibodeauJF @kshimCoveo @nrawji

# Prevent PRs that only modify dependencies from notifying everyone
package.json @ghost
yarn.lock @ghost
