<div class="coveo-result-frame coveo-email-result">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px; font-size:14px">
      <span class="CoveoIcon"></span>
    </div>
    <div class="coveo-result-cell" style="font-size:14px">
      <span class="CoveoText" data-value="From:"></span>
      <span class="CoveoFieldValue" data-field="@from" data-helper="email" data-html-value="true"></span>
      <span class="CoveoText" data-value="To:"></span>
      <span class="CoveoFieldValue" data-field="@recipients" data-helper="email" data-html-value="true"></span>
    </div>
    <div class="coveo-result-cell" style="width:200px; text-align:right; font-size:14px">
      <span class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell" style="font-size: 16px">
      <a class="CoveoResultLink"></a>
      <span class="CoveoQuickview" data-template-id="EmailQuickviewContent"><div class='coveo-icon-for-quickview'>Quickview</div></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell" style="text-align:justify">
      <span class="CoveoExcerpt"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell">
      <table class="CoveoFieldTable" data-use-json-template-fields="true"></table>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell">
      <span class="CoveoResultAttachments" data-result-template-id="EmailResultAttachment"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell">
      <span class="CoveoResultFolding" data-result-template-id="EmailChildResult" data-more-caption="ShowAllReplies" data-less-caption="ShowOnlyMostRelevantReplies"></span>
    </div>
  </div>
</div>