@import "../../bin/sass/sprites";

.CoveoFollowItem {
  display: inline-block;
  color: #adadad;
  padding-left: 7px;
  cursor: pointer;
  &:before {
    content: '';
    @include retina-sprite($result-follow-group);
    vertical-align: middle;
    margin-right: 6px;
  }
  &.coveo-follow-item-followed:before {
    @include retina-sprite($result-follow-active-group);
  }
  &.coveo-follow-item-loading:before {
    @include retina-sprite($facet-loading-group);
    @include animation-name(coveo-spin);
    @include animation-timing-function(linear);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
    width: 16px;
    height: 16px;
    margin: 1px 9px 1px 3px;
  }
  span {
    vertical-align: middle;
  }
}
