.CoveoFollowItem {
  display: inline-block;
  color: #adadad;
  padding-left: 7px;
  cursor: pointer;
  &:before {
    content: '';
    @extend .coveo-sprites-result-follow;
    vertical-align: middle;
    margin-right: 6px;
  }
  &.coveo-follow-item-followed:before {
    @extend .coveo-sprites-result-follow-active;
  }
  &.coveo-follow-item-loading:before {
    @extend .coveo-sprites-facet-loading;
    @include animation-name(coveo-spin);
    @include animation-timing-function(linear);
    @include animation-duration(1s);
    @include animation-iteration-count(infinite);
    width: 16px;
    height: 16px;
    margin: 1px 9px 1px 3px;
  }
  span {
    vertical-align: middle;
  }
}

.CoveoCardActionBar .CoveoFollowItem {
  display: flex;
  padding-left: 0;
  color: #fff;
}
