.CoveoSubscriptionsPanel {
  overflow: hidden;
  margin-top: 10px;
  display: none;
}

.coveo-modalBox.coveo-subscriptions-panel > .coveo-wrapper > .coveo-title {
  cursor: inherit;
}


.coveo-subscriptions-panel {
  > .coveo-wrapper {
    overflow: visible;
  }
  .coveo-body {
    max-height: 600px;
    min-width: 500px;
  }

  @media (max-width: 600px) {
    .coveo-body {
      min-width: inherit;
    }
  }

  .coveo-dropdown {
    margin: 0;
  }

  .coveo-subscriptions-panel-fail {
    padding: 10px 0px ;
  }
  .coveo-subscriptions-panel-content {
    width: 100%; 
    margin: 20px 0;
    .coveo-subscriptions-panel-spacer td{
      height: 20px;
    }
    th,
    td {
      text-align: left;
      padding: 0 10px;
      line-height: 37px;
      height: 37px;
      &.coveo-subscriptions-panel-content-type {
        padding-left: 30px;
      }
      &.coveo-subscriptions-panel-content-actions {
        padding-right: 30px;
      }
    }
    th {
      color: #395f84;
      font-size: 13px;
      font-weight: bold;
      border-bottom: 1px solid #bcc3ca;
    }
    .coveo-subscriptions-panel-subscription {
      .coveo-subscriptions-panel-context {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 300px;
      }
      .coveo-subscriptions-panel-action {
        display: block;
        padding-left: 34px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        white-space: nowrap;
        &:before {
          content: '';
          display: block;
          width: 24px;
          height: 24px;
          background-color: #006286;
          border: 2px solid #006487;
          border-radius: 3px;
          position: absolute;
          left: 0;
          top: 7px;
          box-sizing: border-box;
        }
        &:after {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          background-color: white;
          position: absolute;
          left: 8px;
          top: 15px;
        }
      }
      .coveo-subscriptions-panel-action-follow {
        height: 0;
        &:before {
          background-color: #003a4c;
          border: 2px solid #003a4c;
        }
        &:after {
          background-color: #bcc3ca;
        }
      }
      &.coveo-subscription-unfollowed {
        .coveo-subscriptions-panel-action-follow {
          height: auto;
        }
        .coveo-subscriptions-panel-action-unfollow {
          height: 0;
        }
        .coveo-subscriptions-panel-frequency {
          visibility: hidden;
        }
      }
    }
  }
  .coveo-subscriptions-panel-subscription + .coveo-subscriptions-panel-no-subscriptions {
    display: none;
  }
}

.coveo-subscriptions-panel-svg{
  width: 15px;
  height: 12px;
  color: $color-greyish-teal-blue;
}