@import '../_Variables';
@import '../mixins/mediaQuery';
.coveo-subscriptions-messages {
  z-index: 1;
}

.coveo-subscriptions-messages-message {
  background-color: #ecad00;
  @include display(flex);
  border-radius: 2px;
  color: #fff;
  white-space: nowrap;
  &.coveo-subscriptions-messages-error {
    background-color: #f44336;
    &:after {
      border-color: transparent transparent #f44336 transparent;
    }
  }
  &:before {
    content: '';
    vertical-align: middle;
    margin: 5px 7px 4px 0;
    float: left;
  }
  &:after {
    position: absolute;
    top: -7px;
    left: 8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent $color-active-yellow transparent;
    float: left;
  }

  .coveo-subscriptions-messages-content {
    padding: 7px 0;
    font-size: 12px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    span {
      vertical-align: middle;
    }
    @include mediumScreenWidth() {
      font-size: 10px;
    }
  }

  .coveo-subscriptions-messages-info-close {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin: 6px 6px;
    @include clearButton('&');
  }
}
