@import '../Variables';

.coveo-dynamic-facet-search {
  margin-top: 15px;

  .coveo-checkbox-span-label-suffix {
    // For accessibility contrast reasons
    color: black;
  }

  .coveo-combobox-value {
    padding: 5px;

    &.coveo-focused,
    &:hover {
      .coveo-checkbox-span-label,
      .coveo-checkbox-span-label-suffix {
        opacity: 1;
      }
    }
  }
}
