@import '../Variables';

.coveo-dynamic-facet-search {
  margin-top: 15px;

  .coveo-combobox-value {
    padding: 0 5px;

    &.coveo-focused {
      .coveo-checkbox-span-label,
      .coveo-checkbox-span-label-suffix {
        opacity: 1;
      }
    }
  }
}
