// General
$border-radius: 2px;
$title-font-size: 16px;
$default-font-size: 15px;
$default-border: 1px solid $medium-grey;
$big-title-font-size: 24px;

//Typography
$big-line-height: 21px;

// Button
$button-font-size: 12px;
$button-line-height: 15px;
$button-font-weight: 700;
$button-padding-x: 16px;
$button-padding-y: 8.5px;
$button-border-width: 1px;
$button-height: 34px;
$button-margin-width: 10px;
$button-small-font-size: 11px;
$button-small-line-height: 14px;
$button-small-padding-x: 10px;
$button-small-height: 24px;
$button-large-height: 50px;
$button-confirm-icon-width: 15px;
$button-confirm-margin-bottom: 20px;

// Checkboxes and radios
$checkbox-size: 17px;
$checkbox-label-margin: 18px;
$checkbox-label-margin-top: 10px;
$radio-button-option-height: 18px;
$radio-button-size: 18px;

// Input and textarea
$input-border: 1px solid rgba($medium-grey, 0.4);
$input-height: 34px;
$input-font-size: 15px;
$input-margin: 0 0 15px 0 !default;
$input-padding: 0 !default;
$input-transition: all 0.2s ease !default;
$input-color-transition: color 0.2s ease;
$input-margin-top: 15px;
$input-vertical-padding: 3px;
$input-height: 34px;
$input-max-width: 440px;

// Links
$links-color: #009ddc;

// Filter Box
$filter-box-height: 34px;
$filter-box-small-height: 32px;
$filter-box-small-font-size: 13px;
$clear-icon-height: 12px;
$screen-size-break-point: 1600px;
$filter-box-width-large-screen: 336px;
$filter-box-width-small-screen: 260px;
$filter-box-width-mod-small: 200px;
$icon-offset-large-screen: 20px;
$icon-offset-small-screen: 10px;

// Flat select
$flat-select-option-size: 26px;

// Header
$header-height: 65px;
$header-padding: 40px;
$header-height-padding: 20px;
$header-padding-y: 5px;
$panel-header-height: 100px;
$description-margin-top: 5px;

// Popover
$popover-min-width: 320px;
$popover-footer-y-padding: 12px;

// Modal
$modal-header-height: 100px;
$modal-form-width-small: 440px;
$modal-footer-padding: 24px 40px;
$modal-footer-small-padding: 12px 20px;

// Prompt modal
$modal-prompt-text-padding-y: 24px;
$modal-prompt-close-icon-size: 14px;
$modal-prompt-horizontal-padding: 30px;
$modal-prompt-max-height: 350px;
$modal-prompt-min-height: 280px;
$modal-prompt-min-width: 500px;
$modal-prompt-max-width: 550px;
$modal-prompt-header-height: 90px;
$modal-prompt-footer-height: calc(
  2 * 24px + #{$button-height} + 2 * #{$button-border-width}
); // Calculate the button height + 2 border top and bottom and the space below the button for the max height
$modal-prompt-footer-height-ie: 84px;
$modal-prompt-body-min-height: calc(#{$modal-prompt-min-height} - #{$modal-prompt-header-height} - #{$modal-prompt-footer-height});
$modal-prompt-body-min-height-ie: calc(#{$modal-prompt-min-height} - #{$modal-prompt-header-height} - #{$modal-prompt-footer-height-ie});

// Wizard card
$wizard-card-width: 490px;
$wizard-card-small-width: 365px;
$wizard-card-large-width: 1095px;
$wizard-card-form-padding: 30px;
$wizard-card-footer-padding: 20px 30px;

// Application
$application-container-min-height: 400px;

// Navigation
$navigation-width: 245px;
$navigation-background-color: $dark-blue;
$navigation-active-background-color: #57748a;
$navigation-active-border-width: 3px;
$navigation-section-icon-size: 16px;
$navigation-section-icon-margin: 15px;
$navigation-locked-color: $medium-grey;

// Navigation
$sub-navigation-padding-top: 26px;
$sub-navigation-border: $default-border;
$sub-navigation-item-padding: 7px 37px;
$sub-navigation-selected-border-width: $navigation-active-border-width;
$sub-navigation-line-height: 16px;

// Tabs
$tab-bottom-border-height: 4px;
$tab-padding: 10px 0 5px;
$tab-margin-right: 30px;
$tab-navigation-min-height: 36px;
$tab-font-size: 13px;
$tab-pane-loading-margin-top: 50px;
$sub-tab-font-size: 12px;

// Table
$table-first-column-padding-left: 35px;
$table-border-width: 1px;
$table-cell-left-right-padding: 15px;
$table-header-inner-height: 30px;
$table-header-height: $table-header-inner-height + 2 * $table-border-width;
$table-header-font-size: 12px;
$table-header-line-height: 16px;
$table-header-top-bottom-padding: (($table-header-inner-height - $table-header-line-height) / 2);
$table-row-inner-height: 36px;
$table-row-height: $table-row-inner-height + $table-border-width;
$table-row-font-size: 15px;
$table-row-line-height: 18px;
$table-row-top-bottom-padding: (($table-row-inner-height - $table-row-line-height) / 2);
$table-border: $table-border-width solid $medium-grey;
$table-border-button: $table-border-width solid transparent;
$table-selected-border-width: 5px;
$table-column-draggable-width: 25px;
$table-column-draggable-padding: 7px 10px;
$table-row-drag-over-color: rgba($medium-grey, 0.5);
$big-table-blankslate-section-padding: 20px 40px 20px 35px;
$big-table-row-height: 36px;
$big-table-icon-margin: 20px;
$big-table-icon-size: 15px;
$big-table-first-row-font-size: 15px;
$big-table-first-row-line-height: 20px;
$big-table-second-row-font-size: 12px;
$big-table-second-row-line-height: 17px;
$table-slim-font-size: 13px;

// Table actions
$table-actions-container-height: 52px;
$table-actions-margin: 30px;
$table-actions-dropdown-padding-x: 10px;
$table-item-filter-padding-x: 10px;

// Table collapsible rows
$table-collapsible-row-height: 45px;
$details-container-padding: 15px;

// Form elements
$form-bottom-padding: 30px;
$form-top-padding: 20px;
$form-elements-margin: 10px;
$form-group-margin: 30px;
$form-control-label-margin: 10px;
$form-control-label-font-size: 13px;
$form-section-header-margin-bottom: 20px;
$form-heading-description-margin-top: 10px;

// Blackslate elements
$blankslate-margin: 15px;
$blankslate-title-margin-bottom: 24px;
$blankslate-paragraph-margin-bottom: 20px;
$blankslate-padding: 30px;

// Progress bar
$progress-bar-border-radius: 12px;
$progress-bar-default-height: 20px;

// Collapsible
$collapsible-height: 50px;
$collapsible-border-width: 1px;
$collapsible-header-font-size: 13px;
$collapsible-header-icon-size: 10px;
$collapsible-title-padding: 10px;
$collapsible-content-font-size: 12px;
$collapsible-box-padding: 10px;

// Dropdown
$dropdown-choices-top-bottom-margin: 8px;
$dropdown-arrow-icon-size: 10px;
$dropdown-icon-text-spacing: 10px;
$dropdown-button-font-size: 13px;
$dropdown-choice-font-size: 13px;
$dropdown-menu-max-height: 240px;

// Chosen
$chosen-clear-icon-size: 10px;
$chosen-filter-icon-size: 16px;
$chosen-multi-search-choice-height: 24px;
$chosen-multi-search-choice-margin: 10px;
$chosen-multi-search-choice-padding: 10px;

// Facet
$facet-column-max-width: 360px;
$facet-column-padding-y: 24px;
$facet-column-padding-right: 32px;
$facet-column-padding-left: 40px;
$facet-checkbox-mark-size: 10px;
$facet-checkbox-line-width: 2px;
$facet-more-height: 200px;

// Spaced boxes
$box-spacing: 10px;

// multiline input
$tooltip-width: 150px;

// Pagination
$pagination-vertical-margin: 20px;

// Loading
$loading-size: 40px;
$big-loading-size: 70px;
$bounce-size: 10px;
$big-bounce-size: 20px;
$loading-vertical-margin: 100px;
$loading-font-size: 16px;
$loading-prompt-margin-top: 60px;
$loading-prompt-margin-bottom: 50px;
$big-loading-margin-top: 30px;

// Splash
$splash-default-height: 30vh;
$splash-medium-height: 45vh;
$splash-wizard-width: 1025px;
$splash-wizard-padding-top: 145px;
$splash-large-wizard-width: 1400px;

// Calendar & Date Picker
$date-picker-width: 562px;
$date-picker-dimension: 36px;
$calendar-width: 280px;
$calendar-cell-dimensions: 40px;
$calendar-border-width: 1px;
$calendar-border: $calendar-border-width solid $light-grey;
$selected-date-offset: 2px;
$selected-date-height: 28px;
$calendar-limit-border-width: 2px;
$calendar-limit-border-length: 5px;
