<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:75px">
      <img class="CoveoThumbnail" data-no-thumbnail-class="coveo-sprites-people-no-thumbnail"/>
    </div>
    <div class="coveo-result-cell" style="">
      <a class="CoveoResultLink">
            </a>
      <span class="CoveoFieldValue" data-field="@worktitle"></span>
      <span class="CoveoFieldValue" data-field="@company"></span>
      <span class="CoveoQuickview"><div class='coveo-icon-for-quickview'>Quickview</div></span>
      <table class="CoveoFieldTable" data-use-json-template-fields="true">
        <tr data-field="@workemail" data-caption="Email"></tr>
        <tr data-field="@workphone" data-caption="Work Phone"></tr>
        <tr data-field="@mobilephone" data-caption="Mobile Phone"></tr>
        <tr data-field="@homephone" data-caption="Home Phone"></tr>
      </table>
    </div>
  </div>
</div>