.coveo-facet-search-results {
  position: absolute;
  border: 1px solid $color-facet-border;
  border-radius: 2px;
  background-color: white;
  list-style: none;
  margin: 3px 0 3px 0;
  padding: 0;
  z-index: 999;
  box-shadow: $drop-down-box-shadow;

  input[type='checkbox'] {
    display: none;
  }
}

.coveo-facet-search-select-all {
  margin: 0;
  padding: 3px 5px 5px 5px;
  font-weight: bold;
}

.coveo-facet-search-selectable {
  &:hover {
    background-color: $color-light-blue;
  }
  &.coveo-current {
    background-color: $color-light-blue;
  }
}

.coveo-facet-search-clear {
  float: right;
  margin: 2px 4px 0px 0px;
  cursor: pointer;
  opacity: 0.5;
  clear: none;
  .coveo-icon {
    @extend .coveo-sprites-facet-clear_facetsearch;
  }

  &:hover {
    opacity: 1;
  }
}

.coveo-facet-search-input {
  border: 0px;
  padding: 1px 0px 0px 0px;
  margin: 0px;
  color: $color-light-red;
  font-family: $helvetica;
  font-size: 13px;
  width: 100%;
  background-color: inherit;
  line-height: 15px;

  &:focus {
    outline: none;
    color: $color-dark-gray;
  }

  &[value=""] {
    color: $color-light-gray;
  }
}

.coveo-facet-search {
  border: 1px solid $color-facet-search-box-border;
  border-top-color: #c1c1c1;
  border-radius: 4px;
  box-shadow: $facet-search-box-shadow;
  padding: 2px;
  margin: 0px 0px 5px 0px;
  background-color: white;
  position: relative;

}

.coveo-facet-search-no-results {
  background-color: #ffd0d0;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.05);
}

.coveo-facet-search-magnifier {
  float: left;
  margin: 5px 6px 5px 4px;
  @extend .coveo-sprites-facet-facetsearch;
}

.coveo-facet-search-wait-animation {
  float: left;
  margin: 5px 6px 5px 4px;
  @extend .coveo-sprites-facet-spin_facet_search;
  @include animation-name(coveo-spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}

.coveo-facet-search-middle {
  overflow: hidden;
  line-height: 19px;
}