.coveo-facet-header {
  padding: 5px 0;
  > .coveo-icon, > .coveo-icon-custom {
    float: left;
    margin: 2px 5px 0 3px;
  }
}

.coveo-facet-header-title {
  font-size: 15px;
  font-weight: bold;
  color: $color-facet-title;
  padding-top: 2px;
}

.coveo-facet-header-expand {
  .coveo-icon {
    @extend .coveo-sprites-facet-collapsed;
  }
}

.coveo-facet-header-collapse {
  .coveo-icon {
    @extend .coveo-sprites-facet-expanded;
  }
}

.coveo-facet-header-eraser {
  .coveo-icon {
    @extend .coveo-sprites-facet-clear_facet;
  }
}

.coveo-facet-header-operator {
  .coveo-icon.coveo-and {
    @extend .coveo-sprites-facet-modeand;
  }
  .coveo-icon.coveo-or {
    @extend .coveo-sprites-facet-modeor;
  }
}

.coveo-facet-header-settings {
  .coveo-icon {
    @extend .coveo-sprites-facet-moreoption;
  }
}

.coveo-facet-header-operator, .coveo-facet-header-eraser, .coveo-facet-header-settings, .coveo-facet-header-collapse, .coveo-facet-header-expand {
  float: right;
  cursor: pointer;
  margin-left: 5px;
}

.coveo-facet-header-wait-animation {
  float: left;
  margin: 2px 5px 0px 3px;
  position: relative;
  width: 16px;
  height: 16px;
  @extend .coveo-sprites-facet-spin;
  @include animation-name(coveo-spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}