.coveo-facet-footer {
  text-align: center;

}

.coveo-facet-more, .coveo-facet-less {
  color: $color-medium-gray;
  text-decoration: none;
  padding: 1px 6px 2px;
  line-height: 12px;
  display: inline-block;
  cursor: pointer;
}

.coveo-facet-more {
  display: none;
  &.coveo-active {
    display: inline-block;
  }
}

.coveo-facet-less {
  display: none;
  &.coveo-active {
    display: inline-block;
  }
}

.coveo-facet-more.coveo-active + .coveo-facet-less {
  border-left: 1px solid #999999;
}