.coveo-facet-breadcrumb, .coveo-facet-slider-breadcrumb {
  margin-left: 4px;

  * {
    vertical-align: top;
  }
}

.coveo-facet-breadcrumb-title, .coveo-facet-slider-breadcrumb-title {
  margin-right: 8px;
}

.coveo-facet-breadcrumb-value, .coveo-facet-slider-breadcrumb-value {
  color: $color-result-link;
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: $color-orange;
    .coveo-clear {
      opacity: 1;
    }
  }

  &.coveo-excluded .coveo-facet-breadcrumb-caption {
    text-decoration: line-through;
  }
}

.coveo-facet-breadcrumb-separator {
  color: #000000;
}

.coveo-facet-breadcrumb-clear, .coveo-facet-slider-breadcrumb-clear {
  display: inline-block;
  opacity: 0.5;
  margin: 2px 2px 2px;
  @extend .coveo-sprites-facet-clear_activefilter;
}

.coveo-facet-breadcrumb-multi-icon {
  margin: 0;
  &.coveo-selected {
    @extend .coveo-sprites-facet-resume_selected;
    vertical-align: middle;
    margin-left: 5px;
  }
  &.coveo-excluded {
    @extend .coveo-sprites-facet-resume_disable;
    vertical-align: middle;
    margin-left: 5px;
  }
}