.coveo-hidden-query-breadcrumb-title {
  margin-right: 8px;
  vertical-align: middle;
}

.coveo-hidden-query-breadcrumb-values {
  vertical-align: middle;
}

.coveo-hidden-query-breadcrumb-value {
  color: $color-result-link;
  cursor: pointer;
  display: inline-block;

  &:hover {
    color: $color-orange;
    .coveo-clear {
      opacity: 1;
    }
  }
}

.coveo-hidden-query-breadcrumb-clear {
  display: inline-block;
  opacity: 0.5;
  margin: 2px 2px 2px;
  vertical-align: middle;
  @extend .coveo-sprites-facet-clear_activefilter;
}