@import "bourbon/bourbon";
@import "Common";
@import "Fonts";

.CoveoSearchInterface {
  min-height: 100%;
  * {
    @include box-sizing(border-box);
  }

  position: relative;
  margin: 0;
  background-color: $color-main-background;
  font-family: $helvetica;
  font-size: 13px;
  background: $grey-200;

  overflow-y: scroll;
  .coveo-header, .coveo-body {
    > .coveo-wrapper {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 16px;
    }
  }

  .coveo-header {
    overflow: hidden;
    background: $grey-900;
    .CoveoTab {
      color: $white;
      background: $grey-900;
      &.coveo-selected{
        background: $grey-800;
      }
    }
  }

  .coveo-body {
    margin: 16px auto;

    .CoveoDidYouMean, .coveo-error {
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-color: $white;
      margin: 16px 0 0 0;
      padding: 16px;
      font-size: 16px;
      line-height: 24px;
    }
    .coveo-error {
      color: $red-a700;
      background: $red-50;
    }
    .coveo-results{
      position: relative;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
      background-color: $white;
      margin: 16px 0 0 0;
      min-height: 0px;
      transition: min-height 0.3s;
      .coveo-loading-bar {
        position: absolute;
        top:0;
        left: 0;
        z-index: 1;
        overflow: hidden;
        height: 0px;
        transition: height 0.3s;
        width: 100%;
        &:before {
          height: 4px;
          background-color: $grey-500;
          content: '';
          display: block;
          width: 50%;
          -webkit-animation: coveo-loading-bar 3s infinite linear;
          animation: coveo-loading-bar 3s infinite linear;
        }
      }
      &.coveo-loading {
        min-height: 4px;
        .coveo-loading-bar {
          height: 4px;
        }
      }

      .CoveoResultList {
        margin: 0;
        .coveo-result-card {
          background-color: $white;
          border: none;
          border-top: 1px solid $grey-300;
          padding: 8px 16px;
          margin: 0;
          &:first-child {
            border: none;
          }
          .coveo-title {
            margin: 8px 0;
            line-height: 24px;
            .CoveoIcon {
              float: left;
              margin: 4px 4px 4px 0;
            }
            .coveo-date {
              float: right;
              font-size: 12px;
              color: $grey-600;
              margin: 0 0 0 4px;
              padding: 0;
            }
            .CoveoQuickview {
              display: none
            }
            .CoveoResultLink {
              font-weight: bold;
              font-size: 16px;
              display: block;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
          .CoveoExcerpt {
            font-size: 12px;
            line-height: 16px;
            color: $grey-700;
            margin: 8px 0;
          }
        }
      }
      .coveo-no-results {
          padding: 16px;
          font-size: 16px;
          line-height: 24px;
      }
    }
  }
}

@-webkit-keyframes coveo-loading-bar {
  0% {
    margin-left: -50%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes coveo-loading-bar {
  0% {
    margin-left: -50%;
  }
  100% {
    margin-left: 100%;
  }
}
