<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:40px; vertical-align:middle">
      <span class="CoveoIcon" data-small="true">
      </span>
    </div>
    <div class="coveo-result-cell" style="vertical-align:middle">
      <a class="CoveoResultLink">
      </a>
    </div>
    <div class="coveo-result-cell" style="width:60px; text-align:center; vertical-align:middle">
      <div class="CoveoFieldValue" data-field="@date" data-helper="date">
      </div>
      <div class="CoveoQuickview">
        <span class="coveo-sprites-quickview">
        </span>
      </div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <table class="CoveoFieldTable">
        <tbody>
          <tr data-field="@sffcaseid" data-caption="Subject">
          </tr>
          <tr data-field="@sfcasesubject" data-caption="Subject">
          </tr>
          <tr data-field="@sfcasenumber" data-caption="Case Number">
          </tr>
          <tr data-field="@sfcasepriority" data-caption="Priority">
          </tr>
          <tr data-field="@sfcaseorigin" data-caption="Origin">
          </tr>
          <tr data-field="@sfaccountname" data-caption="Account Name">
          </tr>
          <tr data-field="@sfowner" data-caption="Owner">
          </tr>
          <tr data-field="@sfcasestatus" data-caption="Status">
          </tr>
          <tr data-field="@sfcontactname" data-caption="Contact">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <div class="CoveoResultFolding" data-result-template-id="MobileChatter" data-more-caption="ShowAllReplies" data-less-caption="ShowOnlyMostRelevantReplies">
      </div>
    </div>
  </div>
</div>
