<div class="coveo-result-frame">
    <div class="coveo-result-cell">
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <div class="coveo-result-row">
            <div class="coveo-result-cell" style="text-align:left;">
              <a class="CoveoResultLink" data-field="@clickableuri"></a>
            </div>
            <div class="coveo-result-cell" style="width:50px">
              <div class="CoveoQuickview" data-always-show="true"></div>
            </div>
          </div>
          <div class="coveo-result-row">
            <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
              <div class="CoveoText" data-value="Description" data-weight="bold"></div>
              <div class="CoveoFieldValue" data-field="@sflongdescrt" style="height: 3.6em; text-overflow: ellipsis; overflow: hidden"></div>
              <div class="CoveoStarRating" data-rating-field="@sfaveragerating" data-number-of-ratings-field="@sfnumberofreviews"></div>
            </div>    
          </div>
          <div class="coveo-result-row">
            <div class="coveo-result-cell">
              <div class="CoveoText" data-value="Type" data-weight="bold"></div>
              <div class="CoveoFieldValue" data-field="@sfproducttype"></div>
            </div>
            <div class="coveo-result-cell">
              <div class="CoveoText" data-value="SKU" data-weight="bold"></div>
              <div class="CoveoFieldValue" data-field="@sfsku"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>