<div class="coveo-result-frame">
  <div class="coveo-result-cell" style="vertical-align:top; padding-left:16px;">
    <div class="coveo-result-row" style="margin-top:0;">
      <div class="coveo-result-cell" style="vertical-align:top; font-size:16px;" role="heading" aria-level="2">
        <a class="CoveoResultLink" data-field="@clickableuri" data-open-quickview="true"></a>
      </div>
    </div>
    <div class="coveo-result-row" style="margin-top:10px">
      <div class="coveo-result-cell">
        <div class="CoveoFieldValue" data-field="@sflongdescrt" style="height: 4em; text-overflow: ellipsis; overflow: hidden; font-size: 13px"></div>
      </div>
    </div>
    <div class="coveo-result-row" style="margin-top: 10px">
      <div class="coveo-result-cell" style="font-size:13px; vertical-align:bottom">
        <span class="CoveoStarRating" data-rating-field="@sfaveragerating" data-number-of-ratings-field="@sfnumberofreviews" style="margin-right:2.5em; display:inline-block"></span>
        <span class="CoveoFieldValue" data-field="@sfproducttype" data-text-caption="Type" style="margin-right:2.5em;"></span>
        <span class="CoveoFieldValue" data-field="@sfsku" data-text-caption="SKU" style="margin-right:2.5em;"></span>
      </div>
    </div>
  </div>
  <div class="coveo-result-cell" style="font-size:15px; width:90px; padding-left:15px">
    <div class="CoveoQuickview" data-always-show="true"></div>
  </div>
</div>