.coveo-dropdown {
  @include appearance(none);
  position: relative;
  display: inline-block;
  border: 1px solid darken($color-light-grey, 10%);
  border-radius: 2px 0 0 2px;
  font-size: $input-font-size;
  background: white;
  margin: 0 10px;
  @include flex-basis(115px);
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaW5ZTWluIiB2aWV3Qm94PSIwIDAgNC45NSAxMCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fS5jbHMtMntmaWxsOiM0NDQ7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5hcnJvd3M8L3RpdGxlPjxyZWN0IGNsYXNzPSJjbHMtMSIgd2lkdGg9IjQuOTUiIGhlaWdodD0iMTAiLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMS40MSA0LjY3IDIuNDggMy4xOCAzLjU0IDQuNjcgMS40MSA0LjY3Ii8+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjMuNTQgNS4zMyAyLjQ4IDYuODIgMS40MSA1LjMzIDMuNTQgNS4zMyIvPjwvc3ZnPg==)
    no-repeat;
  background-position: right 5px top 50%;
  background-size: 16px 32px;
  vertical-align: middle;
  height: 30px;
  min-width: 150px;
  padding: 0 25px 0 0;
  text-indent: 5px;
  color: $color-dark-grey;
}

select.coveo-dropdown::-ms-expand {
  display: none;
}
