@import '../coveo-styleguide/scss/common/palette';
@import '../bourbon/bourbon';
@import '../Variables';

.coveo-multi-select {
  border: $default-low-contrast-border;
  width: 250px;
  padding: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .coveo-list-group {
    color: $color-light-contrast-grey;
    margin: 16px 0 0;
    padding: 0 0 0 16px;
    font-weight: 400;

    &:last-child {
      margin-bottom: 16px;
    }
  }

  .coveo-list-item {
    color: $dark-grey;
    margin: 0 0 0 -16px;
    padding: 0 16px;

    &:checked {
      background-color: transparent;
    }

    &:first-child {
      margin-top: 12px;
    }

    &:last-child {
      margin-bottom: 8px;
    }
  }

  &:focus {
    .coveo-list-item {
      &:checked {
        background-color: $coveo-blue;
      }
    }
  }
}

.coveo-list-item {
  height: 30px;
  @include display(flex);
  @include align-items(center);
}
