.coveo-numeric-spinner {
  *, *:before, *:after {
    box-sizing: border-box;
  }

  input[type='text'] {
    width: 35px;
    height: 30px;
    border: 1px solid darken($color-light-grey, 10%);
    border-radius: 2px 0 0 2px;

    font-size: $input-font-size;
    text-align: center;
  }

  .coveo-add-on {
    display: inline-block;
    height: 30px;
    padding: 0;
    margin-left: -5px;

    vertical-align: top;

    border: 1px solid darken($color-light-grey, 10%);
    border-radius: 0 2px 2px 0;
    padding-top: 2px;

    border-left-width: 0;

    user-select: none;

    div {
      padding: 0 6px;

      border-radius: 3px;

      cursor: pointer;

      &:hover {
        background-color: $color-teal;
      }

      i {
        display: block;
      }
    }
  }
}
