@import '../Variables';
@import '../mixins/_facetHeaderAnimation';

.coveo-dynamic-facet-header {
  padding: 8px 0;
  border-bottom: $default-border;
  @include display(flex);
}

.coveo-dynamic-facet-header-title {
  margin: 0;
  font-size: $font-size-regular;
  color: $coveo-blue;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: capitalize;

  @include flex-grow(1);

  &.coveo-clickable {
    cursor: pointer;
  }
}

$header-element-padding: 5px;
$header-svg-dimensions: 15px;

@mixin coveo-dynamic-facet-header-svg {
  width: $header-svg-dimensions;
  height: $header-svg-dimensions;
  color: $coveo-blue;
  display: inline-block;
  vertical-align: middle;
}

.coveo-dynamic-facet-header-wait-animation {
  padding: 0 $header-element-padding;
}

.coveo-dynamic-facet-header-wait-animation-svg {
  @include coveo-dynamic-facet-header-svg;
  @include facet-header-animation;
}

.coveo-dynamic-facet-collapse-toggle-svg {
  @include coveo-dynamic-facet-header-svg;
}

.coveo-dynamic-facet-header-btn {
  @include linkButton();

  padding: 0 $header-element-padding;
  font-size: $font-size-smaller;
}
