@import '../Variables';
@import '../mixins/dynamicFacet';

.coveo-dynamic-facet-values {
  @include facetValues;
}

.coveo-dynamic-facet-value {
  &.coveo-selected {
    .coveo-checkbox-span-label,
    .coveo-checkbox-span-label-suffix {
      font-weight: bold;
    }
  }

  .coveo-checkbox-label {
    padding: 5px 0;
    width: 100%;
  }

  .coveo-checkbox-span-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2em;
  }

  .coveo-checkbox-label button + .coveo-checkbox-span-label {
    margin-left: 12px;
  }

  .coveo-checkbox-span-label-suffix {
    margin-left: 8px;
    color: $color-blueish-gray;
  }

  .coveo-checkbox-label:hover,
  &.coveo-focused {
    .coveo-checkbox-span-label {
      opacity: $active-text-opacity;
    }
  }
}

.coveo-dynamic-facet-show-more {
  @include facetShowMore();
}

.coveo-dynamic-facet-show-less {
  @include facetShowLess();
}

.coveo-dynamic-facet-collapsed-values {
  line-height: 1.6em;
  display: none;
}

.coveo-dynamic-facet-collapsed {
  .coveo-dynamic-facet-value,
  .coveo-dynamic-facet-show-more,
  .coveo-dynamic-facet-show-less {
    display: none;
  }

  .coveo-dynamic-facet-collapsed-values {
    display: inherit;
  }
}
