@import '../Variables';

#{$allDynamicFacetsType} {
  background: white;

  &.coveo-hidden {
    display: none;
  }
  &.coveo-hidden-dependant-facet {
    display: none;
  }
}

.coveo-no-visible-facet {
  .coveo-facet-column {
    display: none;
  }
}
