<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:40px; vertical-align:middle">
      <span class="CoveoIcon" data-small="true">
      </span>
    </div>
    <div class="coveo-result-cell" style="vertical-align:middle">
      <a class="CoveoResultLink">
      </a>
    </div>
    <div class="coveo-result-cell" style="width:60px; text-align:center; vertical-align:middle">
      <span class="CoveoFieldValue" data-field="@date" data-helper="date">
      </span>
      <div class="CoveoQuickview">
        <span class="coveo-sprites-quickview">
        </span>
      </div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <table class="CoveoFieldTable">
        <tbody>
          <tr data-field="@author" data-caption="Author">
          </tr>
          <tr data-field="@site" data-caption="Site">
          </tr>
          <tr data-field="@sptagnames" data-caption="Tags">
          </tr>
          <tr data-field="@spcontenttype" data-caption="Content Type">
          </tr>
          <tr data-field="@spitemtype" data-caption="Item Type">
          </tr>
          <tr data-field="@spparentname" data-caption="Parent">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoPrintableUri">
      </span>
    </div>
  </div>
</div>
