<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px; text-align:center; padding-top:5px">
      <span class="CoveoIcon">
      </span>
      <div class="CoveoQuickview">
      </div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="width:120px;font-size:12px;">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <span class="CoveoExcerpt">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
          <table class="CoveoFieldTable">
            <tbody>
              <tr data-field="@author" data-caption="Author">
              </tr>
              <tr data-field="@site" data-caption="Site">
              </tr>
              <tr data-field="@sptagnames" data-caption="Tags">
              </tr>
              <tr data-field="@spcontenttype" data-caption="Content Type">
              </tr>
              <tr data-field="@spitemtype" data-caption="Item Type">
              </tr>
              <tr data-field="@spparentname" data-caption="Parent">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
          <span class="CoveoPrintableUri">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
