<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:40px; text-align:center">
      <img class="CoveoThumbnail" data-no-thumbnail-class="coveo-sprites-user-small"/>
      <div class="CoveoQuickview">
        <span class="coveo-sprites-quickview">
        </span>
      </div>
    </div>
    <div class="coveo-result-cell">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:15px">
          <a class="CoveoResultLink">
          </a>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <table class="CoveoFieldTable" data-use-json-template-fields="true">
            <tbody>
              <tr data-field="@worktitle" data-caption="Title">
              </tr>
              <tr data-field="@company" data-caption="Company">
              </tr>
              <tr data-field="@workemail" data-caption="Email">
              </tr>
              <tr data-field="@workphone" data-caption="Work Phone">
              </tr>
              <tr data-field="@mobilephone" data-caption="Mobile Phone">
              </tr>
              <tr data-field="@homephone" data-caption="Home Phone">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
