<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px; text-align:center; padding-top:5px">
      <img class="CoveoThumbnail" data-no-thumbnail-class="coveo-sprites-user" width="60px" height="60px" style="border-radius:4px;"/>
      <div class="CoveoQuickview">
      </div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px" role="heading" aria-level="2">
          <a class="CoveoResultLink">
          </a>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
          <table class="CoveoFieldTable" data-use-json-template-fields="true" data-minimized-by-default="false" data-allow-minimization="false">
            <tbody>
              <tr data-field="@worktitle" data-caption="Title">
              </tr>
              <tr data-field="@company" data-caption="Company">
              </tr>
              <tr data-field="@office" data-caption="Office">
              </tr>
              <tr data-field="@workemail" data-caption="Email">
              </tr>
              <tr data-field="@workphone" data-caption="Work Phone">
              </tr>
              <tr data-field="@mobilephone" data-caption="Mobile Phone">
              </tr>
              <tr data-field="@homephone" data-caption="Home Phone">
              </tr>
              <tr data-field="@manager" data-caption="Manager">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell">
          <div class="CoveoMissingTerms"></div>
        </div>
      </div>
    </div>
  </div>
</div>
