@mixin coveo-table-to-display-field-inside-result {
  display: block;
  width: 100%;
  padding: 6px 5px;
  background-color: $color-result-value-table-background;
  border-collapse: collapse;
  
  tr {
    width: 100%;
  }

  th {
    color: $color-result-value-table-header-color;
    text-align: right;
    font-weight: normal;
    min-width: 100px;
    max-width: 180px;
  }

  td {
    text-align: left;
  }

  th, td {
    line-height: 16px;
    padding: 3px 5px;
    overflow: hidden;
  }
}

@mixin coveo-clickable-field-value-inside-result {
  word-break: break-word;
  span.coveo-selected {
    font-weight: 700;
  }

  span.coveo-clickable, a.coveo-clickable {
    @include coveo-clickable-link-inside-result;
  }
  span, span.coveo-clickable, a.coveo-clickable {
    &:first-child:before {
      content:none;
    }
    &:before {
      color: #333;
      font-weight:normal;
      content:"; ";
    }
  }
}