@mixin coveo-generic-button {
  background-color: $color-gray-background;
  border: 1px solid $color-medium-dark-gray;
  &:hover {
    cursor: pointer;
    background-color:white;
    @include transition(background-color 0.25s);
  }
}

@mixin coveo-generic-button-no-hover-effect {
  border: none;
  background-color: $color-gray-background;
}

@mixin coveo-generic-button-no-border{
  background-color: $color-gray-background;
  &:hover {
    cursor: pointer;
    background-color:white;
    @include transition(background-color 0.25s);
  }
}