@mixin coveo-thumbnail-icon {
  @extend .coveo-sprites-quickview-quickview;
  position: relative;
  margin-left: 5px;
  top: 5px;
  overflow:visible;

  img {
    border: 1px solid $color-color-box-border;
    box-shadow:0px 0px 3px 0px rgb(171,170,169);
    position: absolute;
    left: 100%;
    display:none;
  }

  &:hover {
    cursor: pointer;
    img {
      display:block;
    }
  }
}