@mixin coveo-result-link {
  cursor: pointer;

  &:link {
    color: $color-result-link;
    text-decoration: none;
  }

  &:hover {
    color: $color-result-link;
    text-decoration: underline;
  }

  &:visited {
    color: $color-result-link-visited;
  }
}

@mixin coveo-clickable-link-inside-result {
  cursor: pointer;
  color: $color-result-clickable;
  text-decoration: none;

  &:hover {
    color: $color-result-clickable-hover;
  }
}