$breadcrumb-border: 1px solid $color-light-grey;
@mixin breadcrumb-small-display {
  padding: 0px;
  margin:0;
  background-color: #ececec;
  border-top: $breadcrumb-border;
  border-bottom: $breadcrumb-border;
  clear: both;

  .coveo-facet-breadcrumb.coveo-breadcrumb-item {
    display: inline;
    margin: 0;
    white-space: nowrap;
    &:before {
      content : "";
      display: inline;
      white-space: normal;
    }
  }

  .coveo-header {
    .coveo-title {
      display: none;
    }
  }

  .coveo-facet-breadcrumb-values {
    display: inline;
    .coveo-facet-breadcrumb-value {
      display: inline;
      .coveo-facet-breadcrumb-clear {
        display: none;
      }
    }
  }
  .coveo-facet-breadcrumb {
    .coveo-facet-breadcrumb-title {
      padding: 7px 4px 0px 4px;
      border-right: $breadcrumb-border;
      height:30px;
      display: inline-block;
      margin-right: 0px;
      color: #2c5986;
    }
  }

  .coveo-facet-breadcrumb-value {
    background-color: #f7f7f7;
    color: #666666;
    white-space:normal;
    line-height: 30px;
    padding:7px 5px 8px 5px;
    &:before {
      content: "";
      border-top: $breadcrumb-border;
      width: 100%;
      height:1px;
      display:block;
      position: absolute;
    }
    &:after {
      content : "";
      border-right: $breadcrumb-border;
      position:absolute;
      height: 30px;
      margin-left: 5px;
    }

    &:first-child {
      white-space: nowrap;
    }
    .coveo-facet-breadcrumb-caption {
      max-width: 130px;
      min-width: 30px;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
      vertical-align:top;
    }
    .coveo-facet-breadcrumb-clear {
      display: none;
    }
  }
}