@import '../Variables';

@mixin breadcrumb-title {
  color: $color-blueish-gray;
  margin: 0;
  font-size: $font-size-smaller;
  font-weight: normal;
  display: inline;
  margin-right: 8px;
}

@mixin breadcrumb-value {
  @include linkButton();
  font-size: $font-size-smaller;
  margin-right: 15px;
  outline: 1px solid transparent;
  outline-offset: 1px;

  &.coveo-selected * {
    color: $color-teal;
  }
}

@mixin breadcrumb-value-clear {
  margin-left: 5px;

  & svg {
    width: 9px;
    height: 9px;
  }
}
