@mixin default-display-properties {
  link,
  script,
  template {
    display: none;
  }

  output {
    display: inline;
  }

  meter,
  progress,
  input,
  textarea,
  keygen,
  select,
  button {
    display: inline-block;
  }

  table {
    display: table;
  }
}
