@mixin facet-header-animation {
  color: $color-greyish-teal-blue;
  display: inline-block;
  vertical-align: middle;
  @include animation-name(coveo-spin);
  @include animation-timing-function(linear);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}
