@mixin coveo-login-input {
  min-height: 40px;
  background: white;
  border: $default-border;
  border-radius: 4px;
  box-shadow: inset 0 2px 5px -1px #eeeeee;
  padding: 0 30px 0 35px;
  margin: 0 0 5px 0;
  @include placeholder {
    color: #6e6e6e;
  }
  width: 100%;
}
