$medium_screen_width: 800;
$small_screen_width: 480;
$large_screen_with: 1020;
@mixin mediaSelector($max) {
  .coveo-media-max-width-#{$max} {
    @content;
  }
  @media (max-width: $max * 1px) {
    @content;
  }
}

@mixin smallScreenWidth() {
  @include mediaSelector($small_screen_width) {
    @content;
  }
}

@mixin mediumScreenWidth() {
  @include mediaSelector($medium_screen_width) {
    @content;
  }
}

@mixin largeScreenWidth() {
  @include mediaSelector($large_screen_with) {
    @content;
  }
}
