@import 'Variables';
@mixin pager-list {
  padding-left: 0;
  margin: 0;
  display: inline-block;
}

@mixin pager-list-item {
  list-style: none;
  display: inline-block;
  vertical-align: baseline;
  margin: 5px 6px;
}

@mixin pager-list-item-button {
  @include defaultRoundedBorder();
  padding: 4px 8px;
  @include clickable();
  font-size: $font-size-smaller;
  &.coveo-active,
  &:hover {
    color: $color-greyish-cyan;
    background-color: $color-greyish-teal-blue;
    & a {
      color: $color-greyish-cyan;
    }
  }
  cursor: pointer;
}
