@mixin coveo-thumbnail-icon {
  @extend .coveo-sprites-quickview;
  position: relative;
  margin-left: 5px;
  top: 5px;
  overflow:visible;

  img {
    border: $default-border;
    position: absolute;
    left: 100%;
    display:none;
  }

  &:hover {
    cursor: pointer;
    img {
      display:block;
    }
  }
}