@mixin resultsHeaderElement() {
  @include display(flex);
  @include align-items(center);
  font-size: $font-size-smallest;
  font-weight: bold;
  padding: 0 5px 10px 5px;
  border-bottom: $default-border;
  text-transform: uppercase;

  border-bottom: 2px solid $color-light-grey;

  &.coveo-selected, &.coveo-selected:hover {
    border-bottom: 2px solid $color-greyish-dark-blue;
  }

  &:focus {
    outline-width: 1px;
    outline-color: $color-light-grey;
  }

  &:hover {
    color: $color-greyish-dark-blue;
  }

  cursor: pointer;
}
