<!doctype html>
<html class="default no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Recommendation | Coveo JavaScript Search Framework - Reference Documentation</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
	<link rel="stylesheet" href="https://static.cloud.coveo.com/searchui/v2.8521/css/CoveoFullSearch.min.css" />
	<link rel="stylesheet" href="../assets/css/main.css">
	<link rel="stylesheet" href="../assets/css/overrides.css">
	<link rel="stylesheet" href="../assets/css/coveo-connect-header.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://static.cloud.coveo.com/coveo.analytics.js/coveoua.js"></script>
	<script src="../assets/js/modernizr.js"></script>
	<script class="coveo-script" src="https://static.cloud.coveo.com/searchui/v2.8521/js/CoveoJsSearch.min.js"></script>
	<script src="https://static.cloud.coveo.com/searchui/v2.8521/js/templates/templates.js"></script>
	<script src="../assets/js/coveo-connect-header.js"></script>
	<script src="../assets/gen/js/playground.js"></script>
	<script src="../assets/js/searchUIrefDoc.js"></script>
	<link href="https://s3.amazonaws.com/coveostatic/Developers.png" rel="shortcut icon" type="image/png">
	<link href="https://s3.amazonaws.com/coveostatic/Developers.ico" rel="shortcut icon" type="image/x-icon">
	<style>
        .magic-box {
            border: 1px solid #9e9e9e;
        }
    </style>
</head>
<body>
<header>
	<div class="content">
		<div class="logo">
			<a class="logo-link" href="https://connect.coveo.com/s/"></a>
			<div class="logo-img-wrap">
				<div class="logo-imgbg"></div>
			</div>
			<div class="logo-text">
				<span class="logo-text-bar">|</span>
				<span> Connect</span>
			</div>
		</div>
		<div class="search">
			<div id="coveoConnectHeaderStandaloneSearchbox" class="searchbox">
				<div class="CoveoSearchbox" type="text" data-auto-focus="false" data-enable-omnibox="true"
				data-inline="false" data-enable-wildcards="true" data-enable-search-as-you-type="false"
				data-enable-reveal-query-suggest-addon="true" data-enable-query-syntax="true"
			data-enable-field-addon="true"></div>
		</div>
	</div>
	<nav class="subnav">
		<ul>
			<li><a href="https://coveo.com" target="_blank">Coveo.com</a></li>
			<li><a href="https://connect.coveo.com/s/community-guidelines" target="_blank">Community Guidelines</a>
			</li>
			<li><a href="https://coveo.co1.qualtrics.com/jfe/form/SV_0OFD8lvnckM3qtv?Q_JFE=qdg" target="_blank">Site
			Feedback</a></li>
		</ul>
	</nav>
	<nav class="navBar">
		<ul>
			<li><button class="dropdownButton">My Coveo<i class="fas fa-chevron-down"></i>
					<ul class="dropdown">
						<li><a href="https://connect.coveo.com/s/">Home</a></li>
						<li><a href="https://platform.cloud.coveo.com/admin/" target="_blank">Coveo V2
						Administration Console</a></li>
						<li><a href="https://cloud.coveo.com" target="_blank">Coveo V1 Administration Console</a>
						</li>
					</ul>
				</button>
			</li>
			<li>
				<button class="dropdownButton">Learn<i class="fas fa-chevron-down"></i>
					<ul class="dropdown">
						<li><a href="https://docs.coveo.com" target="_blank">Product Docs</a></li>
						<li><a
							href="https://connect.coveo.com/s/global-search/%40uri#sort=relevancy&f:resourceType=[Support%20Article]">Knowledge
						Articles</a></li>
						<li><a href="https://academy.coveo.com" target="_blank">Academy</a></li>
						<li><a href="https://source.coveo.com" target="_blank">Tech Blog</a></li>
						<li><a href="https://blog.coveo.com" target="_blank">Blog</a></li>
						<li><a href="https://connect.coveo.com/s/events">Events/Webinars</a></li>
					</ul>
				</button>
			</li>
			<li>
				<button class="dropdownButton">Collaborate<i class="fas fa-chevron-down"></i>
					<ul class="dropdown">
						<li><a href="https://connect.coveo.com/s/discussions">Discussions</a></li>
						<li><a href="https://connect.coveo.com/s/topic/0TO0d000000gGvUGAU">Administrator Topic</a>
						</li>
						<li><a href="https://connect.coveo.com/s/topic/0TO0d000000gGveGAE">Business User Topic</a>
						</li>
						<li><a href="https://connect.coveo.com/s/topic/0TO0d000000gGvZGAU">Developer Topic</a></li>
						<li><a href="https://connect.coveo.com/s/groups">Groups</a></li>
						<li><a href="https://connect.coveo.com/s/ideas">Ideas</a></li>
					</ul>
				</button>
			</li>
		</ul>
	</nav>
	</div>
</header>
<div class="container container-main">
	<div class="row">
		<div id="toc-column" class="col-1 col-menu menu-sticky-wrap menu-highlight">
			<div id="filter-box-container">
				<div id="filter-box-header">Filter</div>
				<div id="filter-box-body">
					<div class="container">
						<div class="table-wrap">
							<div class="table-cell" id="tsd-widgets">
								<div id="tsd-filter">
									<div class="ctr-box-filter">
										<input type="checkbox" id="tsd-filter-inherited" checked />
										<label class="tsd-widget" for="tsd-filter-inherited" title="Display inherited methods and properties">  Inherited</label><br>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="filter-box-footer"></div>
			</div>
			<nav class="tsd-navigation secondary menu-sticky">
				<ul class="before-current">
					<a id="globals-toc-link" href=../globals.html><b>Globals</b></a>
				</ul>
				<ul class="current">
					<li class="current tsd-kind-coveo-component">
						<a href="recommendation.html" class="tsd-kind-icon">Recommendation</a>
						<ul>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#attachcomponent" class="tsd-kind-icon">attach<wbr>Component</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#debuginfo" class="tsd-kind-icon">debug<wbr>Info</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#detachcomponent" class="tsd-kind-icon">detach<wbr>Component</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#detachcomponentsinside" class="tsd-kind-icon">detach<wbr>Components<wbr>Inside</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#disable" class="tsd-kind-icon">disable</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#enable" class="tsd-kind-icon">enable</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#getbindings" class="tsd-kind-icon">get<wbr>Bindings</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-has-type-parameter tsd-is-inherited">
								<a href="recommendation.html#getcomponents" class="tsd-kind-icon">get<wbr>Components</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#getquerycontext" class="tsd-kind-icon">get<wbr>Query<wbr>Context</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#disabled" class="tsd-kind-icon">disabled</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#logger" class="tsd-kind-icon">logger</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited">
								<a href="recommendation.html#responsivecomponents" class="tsd-kind-icon">responsive<wbr>Components</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited tsd-is-static">
								<a href="recommendation.html#id" class="tsd-kind-icon">ID</a>
							</li>
							<li class=" tsd-kind-object-literal tsd-parent-kind-coveo-component tsd-is-overwrite tsd-is-static">
								<a href="recommendation.html#options" class="tsd-kind-icon">options</a>
							</li>
							<li class=" tsd-kind-constructor tsd-parent-kind-coveo-component tsd-is-overwrite">
								<a href="recommendation.html#constructor" class="tsd-kind-icon">constructor</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="after-current">
				</ul>
			</nav>
		</div>
		<div id="separator"></div>
		<div class="col-2 col-content">
			<div class="tsd-page-title">
				<div class="container">
					<ul class="tsd-breadcrumb">
						<a id="home-menu-link" class="aui-nav-link" title="Go to the home page" href=..>
							<i class="fa fa-home" aria-hidden="true"></i>
						</a>
						<li>
							<a href="../globals.html">Globals</a>
						</li>
						<li>
							<a href="recommendation.html">Recommendation</a>
						</li>
					</ul>
					<h1>Coveo Recommendation Component (CoveoRecommendation)</h1>
				</div>
			</div>
			<section class="tsd-panel tsd-comment">
				<div class="tsd-comment tsd-typography">
					<dl class="tsd-deprecated">
					</dl>
					<div class="lead">
						<p>The Recommendation component is a <a href="searchinterface.html">SearchInterface</a> that displays recommendations typically based on user
						history.</p>
					</div>
					<p>This component usually listens to the main SearchInterface. When the main SearchInterface generates a query, the
					Recommendation component generates another query to get the recommendations at the same time.</p>
					<p>To get history-based recommendations, you will likely want to include the <code>pageview</code> script in your page (see
						<a href="https://github.com/coveo/coveo.analytics.js">coveo.analytics.js</a>). However, including this script is not mandatory.
						For instance, you could use the Recommendation component without the Coveo Machine Learning service to create a
					simple &quot;recommended people&quot; interface.</p>
					<p>It is possible to include this component inside another SearchInterface, but it is also possible to instantiate it as
						a &quot;standalone&quot; search interface, without even instantiating a main SearchInterface component. In any case, a
						Recommendation component always acts as a full-fledged search interface. Therefore, you can include any component
						inside the Recommendation component (Searchbox, Facet, Sort, etc.), just as you would inside the main SearchInterface
					component.</p>
					<dl class="tsd-comment-tags">
						<dt>Available since</dt>
						<dd><p><a href="https://docs.coveo.com/en/309/#july-2016-release-v166724">July 2016 Release (v1.667.24)</a></p>
						</dd>
					</dl>
				</div>
			</section>
			<div class="preview-container tsd-panel">
				<div class="overlay"></div>
			</div>
			<section class="tsd-panel-group tsd-index-group">
				<h2>Index</h2>
				<section class="tsd-panel tsd-index-panel">
					<div class="tsd-index-content">
						<section class="tsd-index-section tsd-is-inherited">
							<h3>Methods</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#attachcomponent" class="tsd-kind-icon">attach<wbr>Component</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#debuginfo" class="tsd-kind-icon">debug<wbr>Info</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#detachcomponent" class="tsd-kind-icon">detach<wbr>Component</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#detachcomponentsinside" class="tsd-kind-icon">detach<wbr>Components<wbr>Inside</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#disable" class="tsd-kind-icon">disable</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#enable" class="tsd-kind-icon">enable</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#getbindings" class="tsd-kind-icon">get<wbr>Bindings</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-has-type-parameter tsd-is-inherited"><a href="recommendation.html#getcomponents" class="tsd-kind-icon">get<wbr>Components</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#getquerycontext" class="tsd-kind-icon">get<wbr>Query<wbr>Context</a></li>
							</ul>
						</section>
						<section class="tsd-index-section tsd-is-inherited">
							<h3>Properties</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#disabled" class="tsd-kind-icon">disabled</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#logger" class="tsd-kind-icon">logger</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited"><a href="recommendation.html#responsivecomponents" class="tsd-kind-icon">responsive<wbr>Components</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited tsd-is-static"><a href="recommendation.html#id" class="tsd-kind-icon">ID</a></li>
							</ul>
						</section>
						<section class="tsd-index-section ">
							<h3>Component Options</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.dropdownheaderlabel" class="tsd-kind-icon">dropdown<wbr>Header<wbr>Label</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.enableresponsivemode" class="tsd-kind-icon">enable<wbr>Responsive<wbr>Mode</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.hideifnoresults" class="tsd-kind-icon">hide<wbr>IfNo<wbr>Results</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.id-1" class="tsd-kind-icon">id</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.mainsearchinterface" class="tsd-kind-icon">main<wbr>Search<wbr>Interface</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.optionstouse" class="tsd-kind-icon">options<wbr>ToUse</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.responsivebreakpoint" class="tsd-kind-icon">responsive<wbr>Breakpoint</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.sendactionshistory" class="tsd-kind-icon">send<wbr>Actions<wbr>History</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="recommendation.html#options.usercontext" class="tsd-kind-icon">user<wbr>Context</a></li>
							</ul>
						</section>
						<section class="tsd-index-section ">
							<h3>Constructors</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-constructor tsd-parent-kind-coveo-component tsd-is-overwrite"><a href="recommendation.html#constructor" class="tsd-kind-icon">constructor</a></li>
							</ul>
						</section>
					</div>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group tsd-is-inherited">
				<h2>Methods</h2>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="attachcomponent" class="tsd-anchor"></a>
					<h3>attach<wbr>Component</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">attach<wbr>Component<span class="tsd-signature-symbol">(</span>type<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span>, component<span class="tsd-signature-symbol">: </span><a href="../classes/basecomponent.html" class="tsd-signature-type">BaseComponent</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="searchinterface.html">SearchInterface</a>.<a href="searchinterface.html#attachcomponent">attachComponent</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/SearchInterface/SearchInterface.ts#L617">ui/SearchInterface/SearchInterface.ts
									:617</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Attaches a component to the search interface. This allows the search interface to easily list and iterate over its
									components.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>type: <span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>Normally, the component type is a unique identifier without the <code>Coveo</code> prefix (e.g., <code>CoveoFacet</code> -&gt;
										<code>Facet</code>, <code>CoveoPager</code> -&gt; <code>Pager</code>, <code>CoveoQuerybox</code> -&gt; <code>Querybox</code>, etc.).</p>
									</div>
								</li>
								<li>
									<h5>component: <a href="../classes/basecomponent.html" class="tsd-signature-type">BaseComponent</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>The component instance to attach.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="debuginfo" class="tsd-anchor"></a>
					<h3>debug<wbr>Info</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">debug<wbr>Info<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">any</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#debuginfo">debugInfo</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L41">ui/Base/BaseComponent.ts
									:41</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Return the debug info about this component.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">any</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="detachcomponent" class="tsd-anchor"></a>
					<h3>detach<wbr>Component</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">detach<wbr>Component<span class="tsd-signature-symbol">(</span>type<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span>, component<span class="tsd-signature-symbol">: </span><a href="../classes/basecomponent.html" class="tsd-signature-type">BaseComponent</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="searchinterface.html">SearchInterface</a>.<a href="searchinterface.html#detachcomponent">detachComponent</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/SearchInterface/SearchInterface.ts#L627">ui/SearchInterface/SearchInterface.ts
									:627</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Detaches a component from the search interface.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>type: <span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>Normally, the component type is a unique identifier without the <code>Coveo</code> prefix (e.g., <code>CoveoFacet</code> -&gt;
										<code>Facet</code>, <code>CoveoPager</code> -&gt; <code>Pager</code>, <code>CoveoQuerybox</code> -&gt; <code>Querybox</code>, etc.).</p>
									</div>
								</li>
								<li>
									<h5>component: <a href="../classes/basecomponent.html" class="tsd-signature-type">BaseComponent</a></h5>
									<div class="tsd-comment tsd-typography">
										<p>The component instance to detach.</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="detachcomponentsinside" class="tsd-anchor"></a>
					<h3>detach<wbr>Components<wbr>Inside</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">detach<wbr>Components<wbr>Inside<span class="tsd-signature-symbol">(</span>element<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">HTMLElement</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="searchinterface.html">SearchInterface</a>.<a href="searchinterface.html#detachcomponentsinside">detachComponentsInside</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/SearchInterface/SearchInterface.ts#L714">ui/SearchInterface/SearchInterface.ts
									:714</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Detaches from the SearchInterface every component that is inside the given element.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>element: <span class="tsd-signature-type">HTMLElement</span></h5>
									<div class="tsd-comment tsd-typography">
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="disable" class="tsd-anchor"></a>
					<h3>disable</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">disable<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#disable">disable</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L52">ui/Base/BaseComponent.ts
									:52</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Disable the component.
										Normally this means that the component will not execute handlers for the framework events (query events, for example).
									Component are enabled by default on creation.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="enable" class="tsd-anchor"></a>
					<h3>enable</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">enable<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#enable">enable</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L61">ui/Base/BaseComponent.ts
									:61</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Enable the component.
										Normally this means that the component will execute handlers for the framework events (query events, for example).
									Components are enabled by default on creation.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="getbindings" class="tsd-anchor"></a>
					<h3>get<wbr>Bindings</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Bindings<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">object</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="searchinterface.html">SearchInterface</a>.<a href="searchinterface.html#getbindings">getBindings</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/SearchInterface/SearchInterface.ts#L639">ui/SearchInterface/SearchInterface.ts
									:639</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Returns the bindings, or environment, for the current component.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">object</span></h4>
							<ul class="tsd-parameters">
							</ul>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-has-type-parameter tsd-is-inherited">
					<a name="getcomponents" class="tsd-anchor"></a>
					<h3>get<wbr>Components</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-has-type-parameter tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Components&lt;T&gt;<span class="tsd-signature-symbol">(</span>type<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">T[]</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="searchinterface.html">SearchInterface</a>.<a href="searchinterface.html#getcomponents">getComponents</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/SearchInterface/SearchInterface.ts#L693">ui/SearchInterface/SearchInterface.ts
									:693</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Gets all the components of a given type.</p>
								</div>
							</div>
							<h4 class="tsd-type-parameters-title">Type parameters</h4>
							<ul class="tsd-type-parameters">
								<li>
									<h4>T</h4>
								</li>
							</ul>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>type: <span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<div class="lead">
											<p>Normally, the component type is a unique identifier without the <code>Coveo</code> prefix (e.g., <code>CoveoFacet</code> -&gt;
											<code>Facet</code>, <code>CoveoPager</code> -&gt; <code>Pager</code>, <code>CoveoQuerybox</code> -&gt; <code>Querybox</code>, etc.).</p>
										</div>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">T[]</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="getquerycontext" class="tsd-anchor"></a>
					<h3>get<wbr>Query<wbr>Context</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Query<wbr>Context<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="../globals.html#context" class="tsd-signature-type">Context</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="searchinterface.html">SearchInterface</a>.<a href="searchinterface.html#getquerycontext">getQueryContext</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/SearchInterface/SearchInterface.ts#L665">ui/SearchInterface/SearchInterface.ts
									:665</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Gets the query context for the current search interface.</p>
								</div>
								<p>If the search interface has performed at least one query, it will try to resolve the context from the last query sent to the Coveo Search API.</p>
								<p>If the search interface has not performed a query yet, it will try to resolve the context from any avaiable <a href="pipelinecontext.html">PipelineContext</a> component.</p>
								<p>If multiple <a href="pipelinecontext.html">PipelineContext</a> components are available, it will merge all context values together.</p>
								<p><strong>Note:</strong>
								Having multiple PipelineContext components in the same search interface is not recommended, especially if some context keys are repeated across those components.</p>
								<p>If no context is found, returns <code>undefined</code></p>
							</div>
							<h4 class="tsd-returns-title">Returns <a href="../globals.html#context" class="tsd-signature-type">Context</a></h4>
						</li>
					</ul>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group tsd-is-inherited">
				<h2>Properties</h2>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="disabled" class="tsd-anchor"></a>
					<h3>disabled</h3>
					<div class="tsd-signature tsd-kind-icon">disabled<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">boolean</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#disabled">disabled</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L23">ui/Base/BaseComponent.ts
							:23</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<dl class="tsd-deprecated">
						</dl>
						<div class="lead">
							<p>A disabled component will not participate in the query, or listen to <a href="../classes/componentevents.html">ComponentEvents</a>.</p>
						</div>
						<dl class="tsd-comment-tags">
							<dt>type</dt>
							<dd><p>{boolean}</p>
							</dd>
						</dl>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="logger" class="tsd-anchor"></a>
					<h3>logger</h3>
					<div class="tsd-signature tsd-kind-icon">logger<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">Logger</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#logger">logger</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L18">ui/Base/BaseComponent.ts
							:18</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Allows component to log in the dev console.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited">
					<a name="responsivecomponents" class="tsd-anchor"></a>
					<h3>responsive<wbr>Components</h3>
					<div class="tsd-signature tsd-kind-icon">responsive<wbr>Components<span class="tsd-signature-symbol">:</span> <a href="../classes/responsivecomponents.html" class="tsd-signature-type">ResponsiveComponents</a></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="searchinterface.html">SearchInterface</a>.<a href="searchinterface.html#responsivecomponents">responsiveComponents</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/SearchInterface/SearchInterface.ts#L528">ui/SearchInterface/SearchInterface.ts
							:528</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Allows to get and set the different breakpoints for mobile and tablet devices.</p>
						</div>
						<p>This is useful, amongst other, for <a href="facet.html">Facet</a>, <a href="tab.html">Tab</a> and <a href="resultlist.html">ResultList</a></p>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-is-inherited tsd-is-static">
					<a name="id" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagStatic">Static</span> ID</h3>
					<div class="tsd-signature tsd-kind-icon">ID<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">string</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#id">ID</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L28">ui/Base/BaseComponent.ts
							:28</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>The static ID that each component need to be identified.<br/>
							For example, SearchButton -&gt; static ID : SearchButton -&gt; className : CoveoSearchButton</p>
						</div>
					</div>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group ">
				<h2>Component Options</h2>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.dropdownheaderlabel" class="tsd-anchor"></a>
					<h3>dropdown<wbr>Header<wbr>Label</h3>
					<div class="tsd-signature tsd-kind-icon">dropdown<wbr>Header<wbr>Label<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">string</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L196">ui/Recommendation/Recommendation.ts
							:196</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>If <a href="recommendation.html#options.enableresponsivemode">Recommendation.options.enableResponsiveMode</a> is <code>true</code> for all Recommendation components, specifies the
							label of the dropdown button that allows to display the Recommendation components when in responsive mode.</p>
						</div>
						<p>If more than one Recommendation component in the search interface specifies a value for this option, then the
						framework uses the first occurrence of the option.</p>
						<p>Default value is <code>Recommendations</code>.</p>
					</div>
					<div class="tsd-panel">
						<div class="tsd-signature-type">Markup configuration example(s) :</div>
						<pre>data-dropdown-header-label&#x3D;&#x27;foo&#x27;</pre>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.enableresponsivemode" class="tsd-anchor"></a>
					<h3>enable<wbr>Responsive<wbr>Mode</h3>
					<div class="tsd-signature tsd-kind-icon">enable<wbr>Responsive<wbr>Mode<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">boolean</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L169">ui/Recommendation/Recommendation.ts
							:169</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<dl class="tsd-deprecated">
						</dl>
						<div class="lead">
							<p>Specifies whether to enable <em>responsive mode</em> for Recommendation components. Setting this options to <code>false</code> on
								any Recommendation component in a search interface disables responsive mode for all other Recommendation
							components in the search interface.</p>
						</div>
						<p>Responsive mode displays all Recommendation components under a single dropdown button whenever the width of the
							HTML element which the search interface is bound to reaches or falls behind a certain threshold (see
						<a href="recommendation.html#options.responsivebreakpoint">Recommendation.options.responsiveBreakpoint</a>).</p>
						<p>See also <a href="recommendation.html#options.dropdownheaderlabel">Recommendation.options.dropdownHeaderLabel</a>.</p>
						<p>Default value is <code>true</code>.</p>
						<dl class="tsd-comment-tags">
							<dt>Default</dt>
							<dd><p><code>true</code></p>
							</dd>
						</dl>
					</div>
					<div class="tsd-panel">
						<div class="tsd-signature-type">Markup configuration example(s) :</div>
						<pre>data-enable-responsive-mode&#x3D;&#x27;true&#x27;
data-enable-responsive-mode&#x3D;&#x27;false&#x27;</pre>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.hideifnoresults" class="tsd-anchor"></a>
					<h3>hide<wbr>IfNo<wbr>Results</h3>
					<div class="tsd-signature tsd-kind-icon">hide<wbr>IfNo<wbr>Results<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">boolean</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L146">ui/Recommendation/Recommendation.ts
							:146</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<dl class="tsd-deprecated">
						</dl>
						<div class="lead">
							<p>Specifies whether to hide the Recommendations component if no result or recommendation is available.</p>
						</div>
						<p>Default value is <code>true</code>.</p>
						<dl class="tsd-comment-tags">
							<dt>Default</dt>
							<dd><p><code>true</code></p>
							</dd>
						</dl>
					</div>
					<div class="tsd-panel">
						<div class="tsd-signature-type">Markup configuration example(s) :</div>
						<pre>data-hide-if-no-results&#x3D;&#x27;true&#x27;
data-hide-if-no-results&#x3D;&#x27;false&#x27;</pre>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.id-1" class="tsd-anchor"></a>
					<h3>id</h3>
					<div class="tsd-signature tsd-kind-icon">id<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">string</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L100">ui/Recommendation/Recommendation.ts
							:100</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Specifies the ID of the interface.
							The usage analytics use the interface ID to know which recommendation interface was selected.</p>
						</div>
						<p>Default value is <code>Recommendation</code> for the first one and <code>Recommendation_{number}</code>, where {number} depends on the
						number of Recommendation interfaces with default IDs in the page for the others.</p>
					</div>
					<div class="tsd-panel">
						<div class="tsd-signature-type">Markup configuration example(s) :</div>
						<pre>data-id&#x3D;&#x27;foo&#x27;</pre>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.mainsearchinterface" class="tsd-anchor"></a>
					<h3>main<wbr>Search<wbr>Interface</h3>
					<div class="tsd-signature tsd-kind-icon">main<wbr>Search<wbr>Interface<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">HTMLElement</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L85">ui/Recommendation/Recommendation.ts
							:85</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Specifies the main <a href="searchinterface.html">SearchInterface</a> to listen to.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.optionstouse" class="tsd-anchor"></a>
					<h3>options<wbr>ToUse</h3>
					<div class="tsd-signature tsd-kind-icon">options<wbr>ToUse<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">string[]</span><span class="tsd-signature-symbol"> | </span><span class="tsd-signature-type">(&quot;expression&quot; | &quot;advancedExpression&quot; | &quot;constantExpression&quot; | &quot;disjunctionExpression&quot;)[]</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L119">ui/Recommendation/Recommendation.ts
							:119</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<dl class="tsd-deprecated">
						</dl>
						<div class="lead">
							<p>Specifies which options from the main <a href="../classes/querybuilder.html">QueryBuilder</a> to use in the triggered query.</p>
						</div>
						<p>Possible values are:</p>
						<ul>
							<li><code>expression</code></li>
							<li><code>advancedExpression</code></li>
							<li><code>constantExpression</code></li>
							<li><code>disjunctionExpression</code></li>
						</ul>
						<p><strong>Example:</strong></p>
						<p>Adding the expression (<code>q</code>) and the advanced expression (<code>aq</code>) parts of the main query in the triggered query:</p>
						<p><code>data-options-to-use=&quot;expression,advancedExpression&quot;</code></p>
						<p>Default value is <code>expression</code>.</p>
						<dl class="tsd-comment-tags">
							<dt>Default</dt>
							<dd><p><code>[expression]</code></p>
							</dd>
						</dl>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.responsivebreakpoint" class="tsd-anchor"></a>
					<h3>responsive<wbr>Breakpoint</h3>
					<div class="tsd-signature tsd-kind-icon">responsive<wbr>Breakpoint<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">number</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L185">ui/Recommendation/Recommendation.ts
							:185</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<dl class="tsd-deprecated">
						</dl>
						<div class="lead">
							<p>If <a href="recommendation.html#options.enableresponsivemode">Recommendation.options.enableResponsiveMode</a> is <code>true</code> for all Recommendation components, specifies the
							width threshold (in pixels) of the search interface at which Recommendation components go in responsive mode.</p>
						</div>
						<p>Recommendation components go in responsive mode when the width of the search interface is equal to or lower than
						this value.</p>
						<p>The <code>search interface</code> corresponds to the HTML element with the class <code>CoveoSearchInterface</code>.</p>
						<p>If more than one Recommendation component in the search interface specifies a value for this option, then the
						framework uses the last occurrence of the option.</p>
						<p>Default value is <code>1000</code>.</p>
						<dl class="tsd-comment-tags">
							<dt>Default</dt>
							<dd><p><code>1000</code></p>
							</dd>
						</dl>
					</div>
					<div class="tsd-panel">
						<div class="tsd-signature-type">Markup configuration example(s) :</div>
						<pre>data-responsive-breakpoint&#x3D;&#x27;10&#x27;</pre>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.sendactionshistory" class="tsd-anchor"></a>
					<h3>send<wbr>Actions<wbr>History</h3>
					<div class="tsd-signature tsd-kind-icon">send<wbr>Actions<wbr>History<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">boolean</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L135">ui/Recommendation/Recommendation.ts
							:135</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<dl class="tsd-deprecated">
						</dl>
						<div class="lead">
							<p>Specifies whether to send the actions history along with the triggered query.</p>
						</div>
						<p>Setting this option to <code>false</code> makes it impossible for this component to get Coveo Machine Learning
						recommendations.</p>
						<p>However, setting this option to <code>false</code> can be useful to display side results in a search page.</p>
						<p>Default value is <code>true</code>.</p>
						<dl class="tsd-comment-tags">
							<dt>deprecated</dt>
							<dd><p>This option is now deprecated. The correct way to control this behavior is to configure an appropriate machine learning model in the administration interface (Recommendation, Relevance tuning, Query suggestions).</p>
							</dd>
							<dt>Default</dt>
							<dd><p><code>true</code></p>
							</dd>
						</dl>
					</div>
					<div class="tsd-panel">
						<div class="tsd-signature-type">Markup configuration example(s) :</div>
						<pre>data-send-actions-history&#x3D;&#x27;true&#x27;
data-send-actions-history&#x3D;&#x27;false&#x27;</pre>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.usercontext" class="tsd-anchor"></a>
					<h3>user<wbr>Context</h3>
					<div class="tsd-signature tsd-kind-icon">user<wbr>Context<span class="tsd-signature-symbol">:</span> <a href="../interfaces/istringmap.html" class="tsd-signature-type">IStringMap</a><span class="tsd-signature-symbol">&lt;</span><span class="tsd-signature-type">any</span><span class="tsd-signature-symbol">&gt;</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L91">ui/Recommendation/Recommendation.ts
							:91</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Specifies the user context to send to Coveo usage analytics.
							The component sends this information with the query alongside the user history to get the recommendations.</p>
						</div>
					</div>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group ">
				<h2>Constructors</h2>
				<section class="tsd-panel tsd-member tsd-kind-constructor tsd-parent-kind-coveo-component tsd-is-overwrite">
					<a name="constructor" class="tsd-anchor"></a>
					<h3>constructor</h3>
					<ul class="tsd-signatures tsd-kind-constructor tsd-parent-kind-coveo-component tsd-is-overwrite">
						<li class="tsd-signature tsd-kind-icon">new <wbr>Recommendation<span class="tsd-signature-symbol">(</span>element<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">HTMLElement</span>, options<span class="tsd-signature-symbol">?: </span><span class="tsd-signature-type">IRecommendationOptions</span>, analyticsOptions<span class="tsd-signature-symbol">?: </span><span class="tsd-signature-type">object</span>, _window<span class="tsd-signature-symbol">?: </span><span class="tsd-signature-type">Window</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="recommendation.html" class="tsd-signature-type">Recommendation</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Overwrites <a href="searchinterface.html">SearchInterface</a>.<a href="searchinterface.html#constructor">constructor</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Recommendation/Recommendation.ts#L206">ui/Recommendation/Recommendation.ts
									:206</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Creates a new Recommendation component.</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>element: <span class="tsd-signature-type">HTMLElement</span></h5>
									<div class="tsd-comment tsd-typography">
										<div class="lead">
											<p>The HTMLElement on which to instantiate the component.</p>
										</div>
									</div>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagDefault value">Default value</span> options: <span class="tsd-signature-type">IRecommendationOptions</span><span class="tsd-signature-symbol"> =&nbsp;{}</span></h5>
									<div class="tsd-comment tsd-typography">
										<div class="lead">
											<p>The options for the Recommendation component.</p>
										</div>
									</div>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagDefault value">Default value</span> analyticsOptions: <span class="tsd-signature-type">object</span><span class="tsd-signature-symbol"> =&nbsp;{}</span></h5>
									<ul class="tsd-parameters">
									</ul>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagDefault value">Default value</span> _window: <span class="tsd-signature-type">Window</span><span class="tsd-signature-symbol"> =&nbsp;window</span></h5>
									<div class="tsd-comment tsd-typography">
										<div class="lead">
										</div>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="recommendation.html" class="tsd-signature-type">Recommendation</a></h4>
						</li>
					</ul>
				</section>
			</section>
			<section class="tsd-panel">
				<h3>Implements</h3>
				<ul class="tsd-hierarchy">
					<li><a href="../interfaces/icomponentbindings.html" class="tsd-signature-type">IComponentBindings</a></li>
					<li><a href="../interfaces/icomponentbindings.html" class="tsd-signature-type">IComponentBindings</a></li>
				</ul>
			</section>
			<footer class="with-border-bottom">
				<div class="container">
					<h2>Legend</h2>
					<div class="tsd-legend-group">
						<ul class="tsd-legend">
							<li class="tsd-kind-module"><span class="tsd-kind-icon">Module</span></li>
							<li class="tsd-kind-object-literal"><span class="tsd-kind-icon">Object literal</span></li>
							<li class="tsd-kind-variable"><span class="tsd-kind-icon">Variable</span></li>
							<li class="tsd-kind-function"><span class="tsd-kind-icon">Function</span></li>
							<li class="tsd-kind-function tsd-has-type-parameter"><span class="tsd-kind-icon">Function with type parameter</span></li>
							<li class="tsd-kind-index-signature"><span class="tsd-kind-icon">Index signature</span></li>
							<li class="tsd-kind-type-alias"><span class="tsd-kind-icon">Type alias</span></li>
						</ul>
						<ul class="tsd-legend">
							<li class="tsd-kind-enum"><span class="tsd-kind-icon">Enumeration</span></li>
							<li class="tsd-kind-enum-member"><span class="tsd-kind-icon">Enumeration member</span></li>
							<li class="tsd-kind-property tsd-parent-kind-enum"><span class="tsd-kind-icon">Property</span></li>
							<li class="tsd-kind-method tsd-parent-kind-enum"><span class="tsd-kind-icon">Method</span></li>
						</ul>
						<ul class="tsd-legend">
							<li class="tsd-kind-interface"><span class="tsd-kind-icon">Interface</span></li>
							<li class="tsd-kind-interface tsd-has-type-parameter"><span class="tsd-kind-icon">Interface with type parameter</span></li>
							<li class="tsd-kind-constructor tsd-parent-kind-interface"><span class="tsd-kind-icon">Constructor</span></li>
							<li class="tsd-kind-property tsd-parent-kind-interface"><span class="tsd-kind-icon">Property</span></li>
							<li class="tsd-kind-method tsd-parent-kind-interface"><span class="tsd-kind-icon">Method</span></li>
							<li class="tsd-kind-index-signature tsd-parent-kind-interface"><span class="tsd-kind-icon">Index signature</span></li>
						</ul>
						<ul class="tsd-legend">
							<li class="tsd-kind-class"><span class="tsd-kind-icon">Class</span></li>
							<li class="tsd-kind-class tsd-has-type-parameter"><span class="tsd-kind-icon">Class with type parameter</span></li>
							<li class="tsd-kind-constructor tsd-parent-kind-class"><span class="tsd-kind-icon">Constructor</span></li>
							<li class="tsd-kind-property tsd-parent-kind-class"><span class="tsd-kind-icon">Property</span></li>
							<li class="tsd-kind-method tsd-parent-kind-class"><span class="tsd-kind-icon">Method</span></li>
							<li class="tsd-kind-accessor tsd-parent-kind-class"><span class="tsd-kind-icon">Accessor</span></li>
							<li class="tsd-kind-index-signature tsd-parent-kind-class"><span class="tsd-kind-icon">Index signature</span></li>
						</ul>
						<ul class="tsd-legend">
							<li class="tsd-kind-constructor tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited constructor</span></li>
							<li class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited property</span></li>
							<li class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited method</span></li>
							<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited accessor</span></li>
						</ul>
						<ul class="tsd-legend">
							<li class="tsd-kind-property tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected property</span></li>
							<li class="tsd-kind-method tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected method</span></li>
							<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected accessor</span></li>
						</ul>
						<ul class="tsd-legend">
							<li class="tsd-kind-property tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private property</span></li>
							<li class="tsd-kind-method tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private method</span></li>
							<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private accessor</span></li>
						</ul>
						<ul class="tsd-legend">
							<li class="tsd-kind-property tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static property</span></li>
							<li class="tsd-kind-call-signature tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static method</span></li>
						</ul>
					</div>
				</div>
		</footer>        </div>
	</div>
</div>
<script src="../assets/js/main.js"></script>
<script src="../assets/js/generateMetaData.js"></script>
</body>
</html>