<!doctype html>
<html class="default no-js">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>ResultLink | Coveo search ui documentation</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="../assets/css/main.css">
	<script src="../assets/js/modernizr.js"></script>
</head>
<body>
<header>
	<div class="tsd-page-toolbar">
		<div class="container">
			<div class="table-wrap">
				<div class="table-cell" id="tsd-search" data-index="../assets/js/search.js" data-base="..">
					<div class="field">
						<label for="tsd-search-field" class="tsd-widget search no-caption">Search</label>
						<input id="tsd-search-field" type="text" />
					</div>
					<ul class="results">
						<li class="state loading">Preparing search index...</li>
						<li class="state failure">The search index is not available</li>
					</ul>
					<a href="../index.html" class="title">Coveo search ui documentation</a>
				</div>
				<div class="table-cell" id="tsd-widgets">
					<div id="tsd-filter">
						<a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>
						<div class="tsd-filter-group">
							<div class="tsd-select" id="tsd-filter-visibility">
								<span class="tsd-select-label">All</span>
								<ul class="tsd-select-list">
									<li data-value="public">Public</li>
									<li data-value="protected">Public/Protected</li>
									<li data-value="private" class="selected">All</li>
								</ul>
							</div>
							<input type="checkbox" id="tsd-filter-inherited" checked />
							<label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>
							<input type="checkbox" id="tsd-filter-externals" checked />
							<label class="tsd-widget" for="tsd-filter-externals">Externals</label>
							<input type="checkbox" id="tsd-filter-only-exported" />
							<label class="tsd-widget" for="tsd-filter-only-exported">Only exported</label>
						</div>
					</div>
					<a href="#" class="tsd-widget menu no-caption" data-toggle="menu">Menu</a>
				</div>
			</div>
		</div>
	</div>
	<div class="tsd-page-title">
		<div class="container">
			<ul class="tsd-breadcrumb">
				<li>
					<a href="../globals.html">Globals</a>
				</li>
				<li>
					<a href="resultlink.html">ResultLink</a>
				</li>
			</ul>
			<h1>Coveo component ResultLink</h1>
		</div>
	</div>
</header>
<div class="container container-main">
	<div class="row">
		<div class="col-8 col-content">
			<section class="tsd-panel tsd-comment">
				<div class="tsd-comment tsd-typography">
					<div class="lead">
						<p>This component is intended to be placed inside a result template, which itself is used inside a <a href="resultlist.html">ResultList</a> component.
						The ResultLink component automatically transforms a search result title into a clickable link that points to the original document.</p>
					</div>
				</div>
			</section>
			<section class="tsd-panel-group tsd-index-group">
				<h2>Index</h2>
				<section class="tsd-panel tsd-index-panel">
					<div class="tsd-index-content">
						<section class="tsd-index-section ">
							<h3>Component Options</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="resultlink.html#options.alwaysopeninnewwindow" class="tsd-kind-icon">always<wbr>Open<wbr>InNew<wbr>Window</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="resultlink.html#options.field" class="tsd-kind-icon">field</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="resultlink.html#options.hreftemplate" class="tsd-kind-icon">href<wbr>Template</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="resultlink.html#options.onclick" class="tsd-kind-icon">on<wbr>Click</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="resultlink.html#options.openinoutlook" class="tsd-kind-icon">open<wbr>InOutlook</a></li>
								<li class="tsd-kind-variable tsd-parent-kind-object-literal"><a href="resultlink.html#options.openquickview" class="tsd-kind-icon">open<wbr>Quickview</a></li>
							</ul>
						</section>
						<section class="tsd-index-section ">
							<h3>Methods</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#debuginfo" class="tsd-kind-icon">debug<wbr>Info</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#disable" class="tsd-kind-icon">disable</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#enable" class="tsd-kind-icon">enable</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#getbindings" class="tsd-kind-icon">get<wbr>Bindings</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class"><a href="resultlink.html#openlink" class="tsd-kind-icon">open<wbr>Link</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class"><a href="resultlink.html#openlinkinnewwindow" class="tsd-kind-icon">open<wbr>Link<wbr>InNew<wbr>Window</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class"><a href="resultlink.html#openlinkinoutlook" class="tsd-kind-icon">open<wbr>Link<wbr>InOutlook</a></li>
								<li class="tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited tsd-is-static"><a href="resultlink.html#get" class="tsd-kind-icon">get</a></li>
							</ul>
						</section>
						<section class="tsd-index-section tsd-is-inherited">
							<h3>Properties</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#bind" class="tsd-kind-icon">bind</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#componentoptionsmodel" class="tsd-kind-icon">component<wbr>Options<wbr>Model</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#componentstatemodel" class="tsd-kind-icon">component<wbr>State<wbr>Model</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#disabled" class="tsd-kind-icon">disabled</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#logger" class="tsd-kind-icon">logger</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#querycontroller" class="tsd-kind-icon">query<wbr>Controller</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#querystatemodel" class="tsd-kind-icon">query<wbr>State<wbr>Model</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#root" class="tsd-kind-icon">root</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#searchinterface" class="tsd-kind-icon">search<wbr>Interface</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#usageanalytics" class="tsd-kind-icon">usage<wbr>Analytics</a></li>
								<li class="tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited tsd-is-static"><a href="resultlink.html#id" class="tsd-kind-icon">ID</a></li>
							</ul>
						</section>
						<section class="tsd-index-section tsd-is-inherited">
							<h3>Constructors</h3>
							<ul class="tsd-index-list">
								<li class="tsd-kind-constructor tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited"><a href="resultlink.html#constructor" class="tsd-kind-icon">constructor</a></li>
							</ul>
						</section>
					</div>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group ">
				<h2>Component Options</h2>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.alwaysopeninnewwindow" class="tsd-anchor"></a>
					<h3>always<wbr>Open<wbr>InNew<wbr>Window</h3>
					<div class="tsd-signature tsd-kind-icon">always<wbr>Open<wbr>InNew<wbr>Window<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">boolean</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L69">src/ui/ResultLink/ResultLink.ts
							:69</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Specifies whether the result link always opens in a new window ( <a target='_blank' /> ).
							Default is false</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.field" class="tsd-anchor"></a>
					<h3>field</h3>
					<div class="tsd-signature tsd-kind-icon">field<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">string</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L51">src/ui/ResultLink/ResultLink.ts
							:51</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Specifies the field that the result link uses to output its href.
								By default, the clickUri available on the document is used, but you can override this with this option.
								Tip:
							When you do not include a field option, in your result template, you can include an href attribute on the ResultLink element.</p>
						</div>
						<p>When present, the href attribute value overrides the clickUri that is otherwise taken by default.</p>
						<p>Specifying an href attribute is useful when you want to build the result link using a custom script or by concatenating the content of two or more variables.</p>
						<pre><code class="lang-html"><span class="hljs-comment">&lt;!-- In the following result template the link is provided by the custom getMyKBUri() function. --&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-name">script</span> <span class="hljs-attr">id</span>=<span class="hljs-string">"KnowledgeArticle"</span> <span class="hljs-attr">type</span>=<span class="hljs-string">"text/underscore"</span>&gt;</span><span class="javascript">
   &lt;div <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">'CoveoIcon&gt;'</span>&gt;<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
   &lt;a <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"CoveoResultLink"</span> href=<span class="hljs-string">"&lt;%=getMyKBUri(raw)%&gt;"</span>&gt;<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">a</span>&gt;</span></span>
   &lt;div <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"CoveoExcerpt"</span>&gt;<span class="xml"><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span></span>
</span><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>
</code></pre>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.hreftemplate" class="tsd-anchor"></a>
					<h3>href<wbr>Template</h3>
					<div class="tsd-signature tsd-kind-icon">href<wbr>Template<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">string</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L86">src/ui/ResultLink/ResultLink.ts
							:86</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Specifies a template string to use to generate the href.</p>
						</div>
						<p>It is possible to reference fields from the associated result:</p>
						<p>Ex: <code>${clickUri}?id=${title}</code> will generate something like <code>http://uri.com?id=documentTitle</code></p>
						<p>Or from the global scope:</p>
						<p>Ex: <code>${window.location.hostname}/{Foo.Bar}</code> will generate something like <code>localhost/fooBar</code></p>
						<p>This option will override the field option.</p>
						<p>Default is <code>undefined</code></p>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.onclick" class="tsd-anchor"></a>
					<h3>on<wbr>Click</h3>
					<div class="tsd-signature tsd-kind-icon">on<wbr>Click<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">function</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L118">src/ui/ResultLink/ResultLink.ts
							:118</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Binds an event handler function that is executed when the component link is clicked. The handler function takes an EventObject and a <a href="../interfaces/iqueryresult.html">IQueryResult</a> as its parameters.</p>
						</div>
						<p>Overriding the default behavior of the onClick event allows to execute specific code instead.</p>
						<pre><code class="lang-javascript"><span class="hljs-comment">// Example: using a ResultLink to open the original document in a special way instead of the normal browser behavior</span>

Coveo.init(<span class="hljs-built_in">document</span>.querySelector(<span class="hljs-string">'#search'</span>), {
  ResultLink : {
       onClick : <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e, result</span>)</span>{
         e.preventDefault();
         <span class="hljs-comment">// Custom code to execute with the URI and title of the document</span>
         openUriInASpecialTab(result.clickUri, result.title)
       }
   }
})

<span class="hljs-comment">// OR using the jquery extension</span>

$(<span class="hljs-string">"#search"</span>).coveo(<span class="hljs-string">'init'</span> , {
   ResultLink : {
       onClick : <span class="hljs-function"><span class="hljs-keyword">function</span>(<span class="hljs-params">e, result</span>)</span>{
         e.preventDefault();
         <span class="hljs-comment">// Custom code to execute with the URI and title of the document</span>
         openUriInASpecialTab(result.clickUri, result.title)
       }
   }
});
</code></pre>
					</div>
					<div class="tsd-type-declaration">
						<h4>Type declaration</h4>
						<ul class="tsd-parameters">
							<li class="tsd-parameter-siganture">
								<ul class="tsd-signatures tsd-kind-type-literal tsd-parent-kind-variable tsd-is-not-exported">
									<li class="tsd-signature tsd-kind-icon"><span class="tsd-signature-symbol">(</span>e<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">Event</span>, result<span class="tsd-signature-symbol">: </span><a href="../interfaces/iqueryresult.html" class="tsd-signature-type">IQueryResult</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">any</span></li>
								</ul>
								<ul class="tsd-descriptions">
									<li class="tsd-description">
										<h4 class="tsd-parameters-title">Parameters</h4>
										<ul class="tsd-parameters">
											<li>
												<h5>e: <span class="tsd-signature-type">Event</span></h5>
											</li>
											<li>
												<h5>result: <a href="../interfaces/iqueryresult.html" class="tsd-signature-type">IQueryResult</a></h5>
											</li>
										</ul>
										<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">any</span></h4>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.openinoutlook" class="tsd-anchor"></a>
					<h3>open<wbr>InOutlook</h3>
					<div class="tsd-signature tsd-kind-icon">open<wbr>InOutlook<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">boolean</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L57">src/ui/ResultLink/ResultLink.ts
							:57</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Specifies whether the result link tries to open in Microsoft Outlook. This is normally intended for ResultLink related to Microsoft Exchange emails.
							Default value is false.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-variable tsd-parent-kind-object-literal">
					<a name="options.openquickview" class="tsd-anchor"></a>
					<h3>open<wbr>Quickview</h3>
					<div class="tsd-signature tsd-kind-icon">open<wbr>Quickview<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">boolean</span></div>
					<aside class="tsd-sources">
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L63">src/ui/ResultLink/ResultLink.ts
							:63</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Specifies whether the result link should open in the Quick View rather than loading through the original URL.
							Default value is false.</p>
						</div>
					</div>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group ">
				<h2>Methods</h2>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="debuginfo" class="tsd-anchor"></a>
					<h3>debug<wbr>Info</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">debug<wbr>Info<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">any</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#debuginfo">debugInfo</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L43">src/ui/Base/BaseComponent.ts
									:43</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Return the debug info about this component</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">any</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="disable" class="tsd-anchor"></a>
					<h3>disable</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">disable<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#disable">disable</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L54">src/ui/Base/BaseComponent.ts
									:54</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Disable the component.
										Normally this means that the component won&#39;t execute handlers for the framework events (query events, for example).
									Component are enabled by default on creation.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="enable" class="tsd-anchor"></a>
					<h3>enable</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">enable<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#enable">enable</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L63">src/ui/Base/BaseComponent.ts
									:63</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Enable the component.
										Normally this means that the component will execute handlers for the framework events (query events, for example).
									Components are enabled by default on creation.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="getbindings" class="tsd-anchor"></a>
					<h3>get<wbr>Bindings</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">get<wbr>Bindings<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="../interfaces/icomponentbindings.html" class="tsd-signature-type">IComponentBindings</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#getbindings">getBindings</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L119">src/ui/Base/Component.ts
									:119</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Return the bindings, or environment, for the current component</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <a href="../interfaces/icomponentbindings.html" class="tsd-signature-type">IComponentBindings</a></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
					<a name="openlink" class="tsd-anchor"></a>
					<h3>open<wbr>Link</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">open<wbr>Link<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L211">src/ui/ResultLink/ResultLink.ts
									:211</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Opens the result</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
					<a name="openlinkinnewwindow" class="tsd-anchor"></a>
					<h3>open<wbr>Link<wbr>InNew<wbr>Window</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">open<wbr>Link<wbr>InNew<wbr>Window<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L218">src/ui/ResultLink/ResultLink.ts
									:218</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Opens the result in a new window</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
					<a name="openlinkinoutlook" class="tsd-anchor"></a>
					<h3>open<wbr>Link<wbr>InOutlook</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
						<li class="tsd-signature tsd-kind-icon">open<wbr>Link<wbr>InOutlook<span class="tsd-signature-symbol">(</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">void</span></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/ResultLink/ResultLink.ts#L225">src/ui/ResultLink/ResultLink.ts
									:225</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Opens the result in outlook if the result has an outlook field.</p>
								</div>
							</div>
							<h4 class="tsd-returns-title">Returns <span class="tsd-signature-type">void</span></h4>
						</li>
					</ul>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited tsd-is-static">
					<a name="get" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagStatic">Static</span> get</h3>
					<ul class="tsd-signatures tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited tsd-is-static">
						<li class="tsd-signature tsd-kind-icon">get<span class="tsd-signature-symbol">(</span>element<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">HTMLElement</span>, componentClass<span class="tsd-signature-symbol">?: </span><span class="tsd-signature-type">any</span>, noThrow<span class="tsd-signature-symbol">?: </span><span class="tsd-signature-type">boolean</span><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="../classes/basecomponent.html" class="tsd-signature-type">BaseComponent</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#get">get</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L177">src/ui/Base/Component.ts
									:177</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Get the bound component to the given HTMLElement. Throws an assert if the HTMLElement has no component bound, unless using the noThrow argument<br/>
									If there is multiple component bound to the current HTMLElement, you must specify the component class</p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>element: <span class="tsd-signature-type">HTMLElement</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>HTMLElement for which to get the bound component</p>
									</div>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagOptional">Optional</span> componentClass: <span class="tsd-signature-type">any</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>Optional component class. If the HTMLElement has multiple components bound, you must specify which one you are targeting</p>
									</div>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagOptional">Optional</span> noThrow: <span class="tsd-signature-type">boolean</span></h5>
									<div class="tsd-comment tsd-typography">
										<p>Boolean option to tell the method to not throw on error</p>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="../classes/basecomponent.html" class="tsd-signature-type">BaseComponent</a></h4>
						</li>
					</ul>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group tsd-is-inherited">
				<h2>Properties</h2>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="bind" class="tsd-anchor"></a>
					<h3>bind</h3>
					<div class="tsd-signature tsd-kind-icon">bind<span class="tsd-signature-symbol">:</span> <a href="../classes/componentevents.html" class="tsd-signature-type">ComponentEvents</a></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#bind">bind</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L60">src/ui/Base/Component.ts
							:60</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<dl class="tsd-deprecated">
						</dl>
						<div class="lead">
							<p>Allows the component to bind events and execute them only when it is enabled.</p>
						</div>
						<dl class="tsd-comment-tags">
							<dt>type</dt>
							<dd><p>{Coveo.ComponentEvents}</p>
							</dd>
						</dl>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="componentoptionsmodel" class="tsd-anchor"></a>
					<h3>component<wbr>Options<wbr>Model</h3>
					<div class="tsd-signature tsd-kind-icon">component<wbr>Options<wbr>Model<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">ComponentOptionsModel</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#componentoptionsmodel">componentOptionsModel</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L88">src/ui/Base/Component.ts
							:88</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Contains the state of options for differents component. Mainly used by <a href="resultlink.html">ResultLink</a></p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="componentstatemodel" class="tsd-anchor"></a>
					<h3>component<wbr>State<wbr>Model</h3>
					<div class="tsd-signature tsd-kind-icon">component<wbr>State<wbr>Model<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">ComponentStateModel</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#componentstatemodel">componentStateModel</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L72">src/ui/Base/Component.ts
							:72</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Contains the state of different component (enabled vs disabled). Allows to get/set values. Trigger component state event when modified. Each component can listen to those events.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="disabled" class="tsd-anchor"></a>
					<h3>disabled</h3>
					<div class="tsd-signature tsd-kind-icon">disabled<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">boolean</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#disabled">disabled</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L24">src/ui/Base/BaseComponent.ts
							:24</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<dl class="tsd-deprecated">
						</dl>
						<div class="lead">
							<p>A disabled component will not participate in the query, or listen to <a href="../classes/componentevents.html">ComponentEvents</a></p>
						</div>
						<dl class="tsd-comment-tags">
							<dt>type</dt>
							<dd><p>{boolean}</p>
							</dd>
						</dl>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="logger" class="tsd-anchor"></a>
					<h3>logger</h3>
					<div class="tsd-signature tsd-kind-icon">logger<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">Logger</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#logger">logger</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L19">src/ui/Base/BaseComponent.ts
							:19</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Allows component to log in the dev console</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="querycontroller" class="tsd-anchor"></a>
					<h3>query<wbr>Controller</h3>
					<div class="tsd-signature tsd-kind-icon">query<wbr>Controller<span class="tsd-signature-symbol">:</span> <a href="../classes/querycontroller.html" class="tsd-signature-type">QueryController</a></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#querycontroller">queryController</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L76">src/ui/Base/Component.ts
							:76</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Contains the singleton that allows to trigger queries.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="querystatemodel" class="tsd-anchor"></a>
					<h3>query<wbr>State<wbr>Model</h3>
					<div class="tsd-signature tsd-kind-icon">query<wbr>State<wbr>Model<span class="tsd-signature-symbol">:</span> <a href="../classes/querystatemodel.html" class="tsd-signature-type">QueryStateModel</a></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#querystatemodel">queryStateModel</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L68">src/ui/Base/Component.ts
							:68</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>Contains the state of the query. Allows to get/set values. Trigger query state event when modified. Each component can listen to those events.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="root" class="tsd-anchor"></a>
					<h3>root</h3>
					<div class="tsd-signature tsd-kind-icon">root<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">HTMLElement</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#root">root</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L64">src/ui/Base/Component.ts
							:64</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>A reference to the root HTMLElement (the <a href="../classes/searchinterface.html">SearchInterface</a>)</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="searchinterface" class="tsd-anchor"></a>
					<h3>search<wbr>Interface</h3>
					<div class="tsd-signature tsd-kind-icon">search<wbr>Interface<span class="tsd-signature-symbol">:</span> <a href="../classes/searchinterface.html" class="tsd-signature-type">SearchInterface</a></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#searchinterface">searchInterface</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L80">src/ui/Base/Component.ts
							:80</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>A reference to the root of every component, the <a href="../classes/searchinterface.html">SearchInterface</a></p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="usageanalytics" class="tsd-anchor"></a>
					<h3>usage<wbr>Analytics</h3>
					<div class="tsd-signature tsd-kind-icon">usage<wbr>Analytics<span class="tsd-signature-symbol">:</span> <a href="../interfaces/ianalyticsclient.html" class="tsd-signature-type">IAnalyticsClient</a></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#usageanalytics">usageAnalytics</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L84">src/ui/Base/Component.ts
							:84</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>A reference to the <a href="analytics.html#client">Analytics.client</a>.</p>
						</div>
					</div>
				</section>
				<section class="tsd-panel tsd-member tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited tsd-is-static">
					<a name="id" class="tsd-anchor"></a>
					<h3><span class="tsd-flag ts-flagStatic">Static</span> ID</h3>
					<div class="tsd-signature tsd-kind-icon">ID<span class="tsd-signature-symbol">:</span> <span class="tsd-signature-type">string</span></div>
					<aside class="tsd-sources">
						<p>Inherited from <a href="../classes/basecomponent.html">BaseComponent</a>.<a href="../classes/basecomponent.html#id">ID</a></p>
						<ul>
							<li>Defined in
								<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/BaseComponent.ts#L29">src/ui/Base/BaseComponent.ts
							:29</a></li>
						</ul>
					</aside>
					<div class="tsd-comment tsd-typography">
						<div class="lead">
							<p>The static ID that each component need to be identified.<br/>
							For example, SearchButton -&gt; static ID : SearchButton -&gt; className : CoveoSearchButton</p>
						</div>
					</div>
				</section>
			</section>
			<section class="tsd-panel-group tsd-member-group tsd-is-inherited">
				<h2>Constructors</h2>
				<section class="tsd-panel tsd-member tsd-kind-constructor tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
					<a name="constructor" class="tsd-anchor"></a>
					<h3>constructor</h3>
					<ul class="tsd-signatures tsd-kind-constructor tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
						<li class="tsd-signature tsd-kind-icon">new <wbr>Result<wbr>Link<span class="tsd-signature-symbol">(</span>element<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">HTMLElement</span>, type<span class="tsd-signature-symbol">: </span><span class="tsd-signature-type">string</span>, bindings<span class="tsd-signature-symbol">?: </span><a href="../interfaces/icomponentbindings.html" class="tsd-signature-type">IComponentBindings</a><span class="tsd-signature-symbol">)</span><span class="tsd-signature-symbol">: </span><a href="resultlink.html" class="tsd-signature-type">ResultLink</a></li>
					</ul>
					<ul class="tsd-descriptions">
						<li class="tsd-description">
							<aside class="tsd-sources">
								<p>Inherited from <a href="../classes/component.html">Component</a>.<a href="../classes/component.html#constructor">constructor</a></p>
								<ul>
									<li>Defined in
										<a href="https://github.com/coveo/search-ui/tree/master/src/ui/Base/Component.ts#L89">src/ui/Base/Component.ts
									:89</a></li>
								</ul>
							</aside>
							<div class="tsd-comment tsd-typography">
								<div class="lead">
									<p>Create a new Component. Resolve all <a href="../interfaces/icomponentbindings.html">IComponentBindings</a> if not provided.<br/>
										Create a new Logger for this component.
									Attach the component to the <a href="../classes/searchinterface.html">SearchInterface</a><br/></p>
								</div>
							</div>
							<h4 class="tsd-parameters-title">Parameters</h4>
							<ul class="tsd-parameters">
								<li>
									<h5>element: <span class="tsd-signature-type">HTMLElement</span></h5>
									<div class="tsd-comment tsd-typography">
										<div class="lead">
											<p>The HTMLElement on which to create the component. Used to bind data on the element.</p>
										</div>
									</div>
								</li>
								<li>
									<h5>type: <span class="tsd-signature-type">string</span></h5>
									<div class="tsd-comment tsd-typography">
										<div class="lead">
											<p>The unique identifier for this component. See : <a href="../interfaces/icomponentdefinition.html#id">IComponentDefinition.ID</a>. Used to generate the unique Coveo CSS class associated with every component</p>
										</div>
									</div>
								</li>
								<li>
									<h5><span class="tsd-flag ts-flagDefault value">Default value</span> bindings: <a href="../interfaces/icomponentbindings.html" class="tsd-signature-type">IComponentBindings</a><span class="tsd-signature-symbol"> =&nbsp;{}</span></h5>
									<div class="tsd-comment tsd-typography">
										<div class="lead">
											<p>The environment for every component. Optional, but omitting to provide one will impact performance.</p>
										</div>
									</div>
								</li>
							</ul>
							<h4 class="tsd-returns-title">Returns <a href="resultlink.html" class="tsd-signature-type">ResultLink</a></h4>
						</li>
					</ul>
				</section>
			</section>
		</div>
		<div class="col-4 col-menu menu-sticky-wrap menu-highlight">
			<nav class="tsd-navigation secondary menu-sticky">
				<ul class="before-current">
				</ul>
				<ul class="current">
					<li class="current tsd-kind-class tsd-kind-coveo-component">
						<a href="resultlink.html" class="tsd-kind-icon">Result<wbr>Link</a>
						<ul>
							<li class=" tsd-kind-object-literal tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-static">
								<a href="resultlink.html#options" class="tsd-kind-icon">options</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#debuginfo" class="tsd-kind-icon">debug<wbr>Info</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#disable" class="tsd-kind-icon">disable</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#enable" class="tsd-kind-icon">enable</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#getbindings" class="tsd-kind-icon">get<wbr>Bindings</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
								<a href="resultlink.html#openlink" class="tsd-kind-icon">open<wbr>Link</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
								<a href="resultlink.html#openlinkinnewwindow" class="tsd-kind-icon">open<wbr>Link<wbr>InNew<wbr>Window</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class">
								<a href="resultlink.html#openlinkinoutlook" class="tsd-kind-icon">open<wbr>Link<wbr>InOutlook</a>
							</li>
							<li class=" tsd-kind-method tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited tsd-is-static">
								<a href="resultlink.html#get" class="tsd-kind-icon">get</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#bind" class="tsd-kind-icon">bind</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#componentoptionsmodel" class="tsd-kind-icon">component<wbr>Options<wbr>Model</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#componentstatemodel" class="tsd-kind-icon">component<wbr>State<wbr>Model</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#disabled" class="tsd-kind-icon">disabled</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#logger" class="tsd-kind-icon">logger</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#querycontroller" class="tsd-kind-icon">query<wbr>Controller</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#querystatemodel" class="tsd-kind-icon">query<wbr>State<wbr>Model</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#root" class="tsd-kind-icon">root</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#searchinterface" class="tsd-kind-icon">search<wbr>Interface</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#usageanalytics" class="tsd-kind-icon">usage<wbr>Analytics</a>
							</li>
							<li class=" tsd-kind-property tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited tsd-is-static">
								<a href="resultlink.html#id" class="tsd-kind-icon">ID</a>
							</li>
							<li class=" tsd-kind-constructor tsd-parent-kind-coveo-component tsd-parent-kind-class tsd-is-inherited">
								<a href="resultlink.html#constructor" class="tsd-kind-icon">constructor</a>
							</li>
						</ul>
					</li>
				</ul>
				<ul class="after-current">
				</ul>
			</nav>
		</div>
	</div>
</div>
<footer class="with-border-bottom">
	<div class="container">
		<h2>Legend</h2>
		<div class="tsd-legend-group">
			<ul class="tsd-legend">
				<li class="tsd-kind-module"><span class="tsd-kind-icon">Module</span></li>
				<li class="tsd-kind-object-literal"><span class="tsd-kind-icon">Object literal</span></li>
				<li class="tsd-kind-variable"><span class="tsd-kind-icon">Variable</span></li>
				<li class="tsd-kind-function"><span class="tsd-kind-icon">Function</span></li>
				<li class="tsd-kind-function tsd-has-type-parameter"><span class="tsd-kind-icon">Function with type parameter</span></li>
				<li class="tsd-kind-index-signature"><span class="tsd-kind-icon">Index signature</span></li>
				<li class="tsd-kind-type-alias"><span class="tsd-kind-icon">Type alias</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-enum"><span class="tsd-kind-icon">Enumeration</span></li>
				<li class="tsd-kind-enum-member"><span class="tsd-kind-icon">Enumeration member</span></li>
				<li class="tsd-kind-property tsd-parent-kind-enum"><span class="tsd-kind-icon">Property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-enum"><span class="tsd-kind-icon">Method</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-interface"><span class="tsd-kind-icon">Interface</span></li>
				<li class="tsd-kind-interface tsd-has-type-parameter"><span class="tsd-kind-icon">Interface with type parameter</span></li>
				<li class="tsd-kind-constructor tsd-parent-kind-interface"><span class="tsd-kind-icon">Constructor</span></li>
				<li class="tsd-kind-property tsd-parent-kind-interface"><span class="tsd-kind-icon">Property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-interface"><span class="tsd-kind-icon">Method</span></li>
				<li class="tsd-kind-index-signature tsd-parent-kind-interface"><span class="tsd-kind-icon">Index signature</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-class"><span class="tsd-kind-icon">Class</span></li>
				<li class="tsd-kind-class tsd-has-type-parameter"><span class="tsd-kind-icon">Class with type parameter</span></li>
				<li class="tsd-kind-constructor tsd-parent-kind-class"><span class="tsd-kind-icon">Constructor</span></li>
				<li class="tsd-kind-property tsd-parent-kind-class"><span class="tsd-kind-icon">Property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class"><span class="tsd-kind-icon">Method</span></li>
				<li class="tsd-kind-accessor tsd-parent-kind-class"><span class="tsd-kind-icon">Accessor</span></li>
				<li class="tsd-kind-index-signature tsd-parent-kind-class"><span class="tsd-kind-icon">Index signature</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-constructor tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited constructor</span></li>
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited method</span></li>
				<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-inherited"><span class="tsd-kind-icon">Inherited accessor</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected method</span></li>
				<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-protected"><span class="tsd-kind-icon">Protected accessor</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private property</span></li>
				<li class="tsd-kind-method tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private method</span></li>
				<li class="tsd-kind-accessor tsd-parent-kind-class tsd-is-private"><span class="tsd-kind-icon">Private accessor</span></li>
			</ul>
			<ul class="tsd-legend">
				<li class="tsd-kind-property tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static property</span></li>
				<li class="tsd-kind-call-signature tsd-parent-kind-class tsd-is-static"><span class="tsd-kind-icon">Static method</span></li>
			</ul>
		</div>
	</div>
</footer>
<div class="container tsd-generator">
	<p>Generated using <a href="http://typedoc.io" target="_blank">TypeDoc</a></p>
</div>
<div class="overlay"></div>
<script src="../assets/js/main.js"></script>
<script>if (location.protocol == 'file:') document.write('<script src="../assets/js/search.js"><' + '/script>');</script>
</body>
</html>