<div class="coveo-result-frame" style="padding: 7px;">
    <div class="coveo-result-row">
      <div class="coveo-result-cell" style="flex-grow: 0; flex-shrink: 0; text-align:center;">
        <span class="CoveoIcon"></span>
      </div>
      <div class="coveo-result-cell" style="font-size:18px; padding-left: 15px">
        <a class="CoveoResultLink"></a>
      </div>
    </div>
    <div class="coveo-result-row">
      <div class="coveo-result-cell">
        <span class="CoveoExcerpt">
        </span>
      </div>
    </div>
  <!-- <div class="coveo-result-row"> -->
  <!-- <div class="coveo-result-cell" style="width:85px;text-align:center"> -->
  <!-- </div> -->
  <!-- <div class="coveo-result-cell" style="font-size:13px;padding-left: 15px;"> -->
  <!-- <table class="CoveoFieldTable"> -->
  <!-- <tbody> -->
  <!-- <tr data-field="@author" data-caption="Author"> -->
  <!-- </tr> -->
  <!-- <tr data-field="@source" data-caption="Source"> -->
  <!-- </tr> -->
  <!-- <tr data-field="@language" data-caption="Language"> -->
  <!-- </tr> -->
  <!-- </tbody> -->
  <!-- </table> -->
  <!-- </div> -->
  <!-- </div> -->
</div>
