<div class="coveo-quick-view-full-height">
    <div class="coveo-quick-view-header">
        <div class="coveo-email-from">
            From: <span class="CoveoFieldValue" data-field="@from" data-helper="email" data-html-value="true"></span>
        </div>
        <div class="coveo-email-to">
            To: <span class="CoveoFieldValue" data-field="@recipients" data-helper="email" data-html-value="true"></span>
        </div>
    </div>
    <div class="CoveoEmailActions"></div>
    <div class="CoveoQuickviewDocument"></div>
</div>
