<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:40px; vertical-align:middle">
      <img class="CoveoThumbnail" data-no-thumbnail-class="coveo-sprites-webpage" width="34px" height="34px" style="border-radius:4px;"/>
    </div>
    <div class="coveo-result-cell coveo-no-wrap" style="vertical-align:middle">
      <a class="CoveoResultLink"></a>
    </div>
    <div class="coveo-result-cell" style="width:80px; text-align:center">
      <div class="CoveoFieldValue" data-field="@date" data-helper="date">
      </div>
      <div class="CoveoQuickview">
        <span class="coveo-sprites-quickview">
        </span>
      </div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell">
      <span class="CoveoExcerpt"></span>
    </div>
  </div>
  <div class="coveo-result-row" style="font-size:13px">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
      <table class="CoveoFieldTable">
        <tbody>
          <tr data-field="@author" data-caption="Author"></tr>
          <tr data-field="@source" data-caption="Source"></tr>
          <tr data-field="@language" data-caption="Language"></tr>
          
          <tr data-field="@date" data-caption="Creation Date" data-helper="date" />
          <tr data-field="@slackchannelsname" data-caption="Channel"/>
          <tr data-field="@slackchannelpurposevalue" data-caption="Channel Purpose"/>
          <tr data-field="@slackchanneltopicvalue" data-caption="Channel Topic"/>
          <tr data-field="@slackuserrealname" data-caption="Real Name"/>
          <tr data-field="@slackteamemaildomain" data-caption="Email Domain"/>
          <tr data-field="@slackteamdomain" data-caption="Domain"/>
          <tr data-field="@slackparticipatingusers" data-caption="Participating Users" data-is-multi-value-field="true" data-split-values="true"/>
          <tr data-field="@slackfilesharedchannelsnames" data-caption="Shared Channels" data-is-multi-value-field="true" data-split-values="true"/>
          <!--TODO add a SlackPreview component.
          The component need to display a preview only when @sysfiletype == "Image"-->
        </tbody>
      </table>
    </div>
  </div>
</div>