<style>
  .CoveoResultList .coveo-slack-result-template .coveo-highlight {
    font-weight: normal;
    background-color: #FFE300;
  }

  .CoveoResult .coveo-slack-result-template {
    margin-right: 16px;
  }

  .coveo-slack-result-template .CoveoImageFieldValue[data-field="@slackmessageauthorprofilepicture"]>span>img {
    border-radius: 4px;
  }
</style>

<div class="coveo-result-frame coveo-slack-result-template">
  <div class="coveo-result-row" style="margin-right: 16px;">
    <div style="font-size: 12px; display: flex; align-items: baseline; margin-bottom: 10px; justify-content: flex-end;">
      <div>
        <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime"
          data-helper-options-predefined-format="dd / MM / yyyy"></span>
      </div>
    </div>
    <div style="display: flex; margin-bottom: 4px; margin-left: 22px; padding-left: 31px; border-left: thin solid #bcc3ca;">
      <div
        style="display: flex; background-color: #F6F7F9; border-radius: 8px; flex-grow: 1; padding: 8px; padding-bottom: 16px;">
        <span class="CoveoImageFieldValue" data-field="@slackmessageauthorprofilepicture" data-width="30"
          data-height="30" style="margin-right: 16px; border-radius: 4px;"></span>
        <div style="display: flex; flex-direction: column; margin-top: 5px;">
          <div style="display: flex; font-size: 12px; align-items: baseline; margin-bottom: 4px;">
            <span class="CoveoFieldValue" data-field="@slackmessageauthor"
              style="font-size: 16px; margin-right: 8px; font-weight: bold;"></span>
            <span class="CoveoFieldValue" data-field="@date" data-helper="time"
              style="color: #616061; padding-bottom: 2px;"></span>
          </div>
          <span class="CoveoExcerpt"></span>
        </div>
      </div>
    </div>
  </div>
</div>