<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px; text-align:center; padding-top:7px">
      <span class="CoveoIcon">
      </span>
      <div class="CoveoQuickview">
      </div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <span class="CoveoExcerpt">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
          <table class="CoveoFieldTable">
            <tbody>
              <tr data-field="@author" data-caption="Author"></tr>
              <tr data-field="@source" data-caption="Source"></tr>
              <tr data-field="@language" data-caption="Language"></tr>
              <tr data-field="@date" data-caption="Creation Date" data-helper="date" />
              <tr data-field="@slackchannelsname" data-caption="Channel"/>
              <tr data-field="@slackchannelpurposevalue" data-caption="Channel Purpose"/>
              <tr data-field="@slackchanneltopicvalue" data-caption="Channel Topic"/>
              <tr data-field="@slackuserrealname" data-caption="Real Name"/>
              <tr data-field="@slackteamemaildomain" data-caption="Email Domain"/>
              <tr data-field="@slackteamdomain" data-caption="Domain"/>
              <tr data-field="@slackparticipatingusers" data-caption="Participating Users" data-is-multi-value-field="true" data-split-values="true"/>
              <tr data-field="@slackfilesharedchannelsnames" data-caption="Shared Channels" data-is-multi-value-field="true" data-split-values="true"/>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
