/*
* @param direction vertical or horizontal
* @param position type of positioning to apply (relative/absolute)
*/

/*
* @param $selector css selector on which to apply the icon. Can be '&' if the icon should be applied on the current element;
* @param $size size of the icon to use
*/

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-content,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-content,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-content {
  padding: 0;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header {
  font-size: 12px;
  display: inline-block;
  padding: 0 7px;
  height: 22px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.09px;
  vertical-align: middle;
  white-space: normal;
  color: #1d4f76;
  cursor: pointer;
  text-transform: uppercase;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header *,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header *,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header * {
  display: inline-block;
  margin: 0;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header li,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header li,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header li {
  display: list-item;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header p,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header p,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header p {
  line-height: 16px;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header .coveo-more-tabs,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header .coveo-more-tabs,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header .coveo-more-tabs {
  margin-left: 10px;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header.coveo-hidden,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header.coveo-hidden,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header.coveo-hidden {
  display: none;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-tab-section > a:last-of-type,
.CoveoSearchInterface.coveo-small-facets .coveo-tab-section > a:last-of-type,
.CoveoSearchInterface.coveo-small-recommendation .coveo-tab-section > a:last-of-type {
  margin-right: 20px;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header-wrapper,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header-wrapper,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  box-lines: single;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

.CoveoSearchInterface.coveo-small-tabs .coveo-dropdown-header-wrapper a,
.CoveoSearchInterface.coveo-small-facets .coveo-dropdown-header-wrapper a,
.CoveoSearchInterface.coveo-small-recommendation .coveo-dropdown-header-wrapper a {
  margin-right: 10px;
}

.coveo-dropdown-background {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background: rgba(255, 255, 255, 0.85);
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
}

.coveo-media-max-width-480 .CoveoSearchInterface .coveo-tab-section {
  background-color: #f7f8f9;
}

.coveo-media-max-width-480 .CoveoSearchInterface .CoveoSearchbox {
  max-width: 800px;
  margin-right: 50px;
}

.coveo-media-max-width-480 .CoveoSearchInterface .CoveoSettings {
  margin-left: 0;
}

.coveo-media-max-width-480 .CoveoSearchInterface .CoveoSettings + .CoveoSearchbox {
  margin-right: 50px;
}

@media (max-width: 480px) {
  .CoveoSearchInterface .coveo-tab-section {
    background-color: #f7f8f9;
  }

  .CoveoSearchInterface .CoveoSearchbox {
    max-width: 800px;
    margin-right: 50px;
  }

  .CoveoSearchInterface .CoveoSettings {
    margin-left: 0;
  }

  .CoveoSearchInterface .CoveoSettings + .CoveoSearchbox {
    margin-right: 50px;
  }
}


/*# sourceMappingURL=CoveoFullSearch.css.map*/