<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="vertical-align: top;text-align:center;width:32px;">
      <span class="CoveoIcon" data-small="true" data-with-label="false"></span>
      <div class="CoveoQuickview"></div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="width:120px; text-align:right;font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <div class="CoveoExcerpt">
          </div>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
          <table class="CoveoFieldTable">
            <tbody>
              <tr data-field="@dyname" data-caption="Name">
              </tr>
              <tr data-field="@dytotalamount" data-caption="Total" data-helper="currency">
              </tr>
              <tr data-field="@dystatuscodestring" data-caption="Status">
              </tr>
              <tr data-field="@dycustomeridstring" data-caption="Customer">
              </tr>
              <tr data-field="@dyjobtitle" data-caption="Work title">
              </tr>
              <tr data-field="@dyemailaddress1" data-caption="Email" data-helper="email" data-html-value="true">
              </tr>
              <tr data-field="@dytelephone1" data-caption="Phone">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>