<header>
    <div class="upHeader clear">
        <div class="logos">
            <a href="http://www.coveo.com" class="logo" title="Coveo community"></a>
            <h3>
                <a href="https://support.coveo.com" id="communityLink" title="Coveo Community">Community</a>
            </h3>
        </div>
        <h1 class="currentSiteName"><em>Support</em> <span>Menu<i class="arrow"></i></span></h1>
        <nav>
            <ul id="siteSelection" class="menu floated">
                <li><a id="jsSupport" href="https://support.coveo.com"  target="_blank">Support</a></li>
                <li><a id="jsProductDocs" href="https://onlinehelp.coveo.com" target="_blank">Product docs</a></li>
                <li><a id="jsDevDocs" href="https://developers.coveo.com" target="_blank">Developer docs</a></li>
                <li><a id="jsAnswers" href="https://answers.coveo.com" target="_blank">Answers</a></li>
                <li><a id="jsTraining" href="http://www.coveo.com/training" target="_blank">Training</a></li>
            </ul>
            <ul id="siteSelection2" class="externalbox with-sub">
                <li>
                    <a href="#" class="sub">More <i class="arrow"></i></a>
                    <ul>
                        <li><a target="_blank" href="https://cloud.coveo.com">Cloud V1 Administration Console</a></li>
                        <li><a target="_blank" href="https://platform.cloud.coveo.com">Cloud V2 Administration Console</a></li>
                        <li><a target="_blank" href="http://source.coveo.com">Technical Blog</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

    <div class="bottomHeader">
        <div id="searchBox">
            <div class="CoveoSearchbox" data-enable-omnibox="true" data-inline="false" data-enable-wildcards="true" data-enable-search-as-you-type="false" data-enable-query-suggest-addon="false" data-enable-query-syntax="true" data-enable-field-addon="true"></div>
            <div class="CoveoFieldSuggestions" data-field="@jsuipagetopic" data-header-title="Suggested topics"></div>
        </div>
    </div>

    <!-- Do not focus on Querybox when URL contains hash to ensure page scrolls down to corresponding anchor. -->
    <script>
        if (document.location.hash) {
            $('.CoveoSearchbox').attr('data-auto-focus', 'false');
        }
    </script>

</header>