<header>
    <div class="content">
        <div class="logo">
            <a class="logo-link" href="https://connect.coveo.com/s/"></a>
            <div class="logo-img-wrap">
                <div class="logo-imgbg"></div>
            </div>
            <div class="logo-text">
                <span class="logo-text-bar">|</span>
                <span> Connect</span>
            </div>
        </div>
        <div class="search">
            <div id="coveoConnectHeaderStandaloneSearchbox" class="searchbox">
                <div class="CoveoSearchbox" type="text" data-auto-focus="false" data-enable-omnibox="true"
                    data-inline="false" data-enable-wildcards="true" data-enable-search-as-you-type="false"
                    data-enable-reveal-query-suggest-addon="true" data-enable-query-syntax="true"
                    data-enable-field-addon="true"></div>
            </div>
        </div>
        <nav class="subnav">
            <ul>
                <li><a href="https://coveo.com" target="_blank">Coveo.com</a></li>
                <li><a href="https://connect.coveo.com/s/community-guidelines" target="_blank">Community Guidelines</a>
                </li>
                <li><a href="https://coveo.co1.qualtrics.com/jfe/form/SV_0OFD8lvnckM3qtv?Q_JFE=qdg" target="_blank">Site
                        Feedback</a></li>
            </ul>
        </nav>
        <nav class="navBar">
            <ul>
                <li><button class="dropdownButton">My Coveo<i class="fas fa-chevron-down"></i>
                        <ul class="dropdown">
                            <li><a href="https://connect.coveo.com/s/">Home</a></li>
                            <li><a href="https://platform.cloud.coveo.com/admin/" target="_blank">Coveo V2
                                    Administration Console</a></li>
                            <li><a href="https://cloud.coveo.com" target="_blank">Coveo V1 Administration Console</a>
                            </li>
                        </ul>
                    </button>
                </li>
                <li>
                    <button class="dropdownButton">Learn<i class="fas fa-chevron-down"></i>
                        <ul class="dropdown">
                            <li><a href="https://docs.coveo.com" target="_blank">Product Docs</a></li>
                            <li><a
                                    href="https://connect.coveo.com/s/global-search/%40uri#sort=relevancy&f:resourceType=[Support%20Article]">Knowledge
                                    Articles</a></li>
                            <li><a href="https://academy.coveo.com" target="_blank">Academy</a></li>
                            <li><a href="https://source.coveo.com" target="_blank">Tech Blog</a></li>
                            <li><a href="https://blog.coveo.com" target="_blank">Blog</a></li>
                            <li><a href="https://connect.coveo.com/s/events">Events/Webinars</a></li>
                        </ul>
                    </button>
                </li>
                <li>
                    <button class="dropdownButton">Collaborate<i class="fas fa-chevron-down"></i>
                        <ul class="dropdown">
                            <li><a href="https://connect.coveo.com/s/discussions">Discussions</a></li>
                            <li><a href="https://connect.coveo.com/s/topic/0TO0d000000gGvUGAU">Administrator Topic</a>
                            </li>
                            <li><a href="https://connect.coveo.com/s/topic/0TO0d000000gGveGAE">Business User Topic</a>
                            </li>
                            <li><a href="https://connect.coveo.com/s/topic/0TO0d000000gGvZGAU">Developer Topic</a></li>
                            <li><a href="https://connect.coveo.com/s/groups">Groups</a></li>
                            <li><a href="https://connect.coveo.com/s/ideas">Ideas</a></li>
                        </ul>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</header>