<div class="coveo-result-frame" style="padding: 0">
  <a class="CoveoResultLink" style="text-decoration: none; outline: none">
    <div class="CoveoBackdrop coveo-result-row"
         data-image-field="@ytthumbnailurl"
         data-overlay-color="rgb(38, 62, 85)"
         data-overlay-gradient="true">
      <div style="padding: 20px">
        <div class="coveo-result-row" style="margin-bottom: 15px">
          <div class="coveo-result-cell" style="width: 32px; flex-grow:0">
            <span class="CoveoIcon" data-small="true" data-with-label="false"></span>
          </div>
          <div class="coveo-result-cell" style="padding-left: 10px;">
            <span class="CoveoResultLink" style="color: white"></span>
          </div>
        </div>
      </div>
    </div>
  </a>
  <div class="coveo-result-row" style="padding: 20px">
    <div class="coveo-result-cell">
      <div class="CoveoText" data-value="Date" data-weight="bold" style="margin-bottom: .5em"></div>
      <div class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime" data-helper-options-always-include-time="true"></div>
    </div>
  </div>
  <div class="CoveoCardActionBar" style="margin: auto 0 0 0">
    <div class="CoveoQuickview"></div>
    <div class="CoveoCardOverlay" data-title="Details" data-icon="search">
      <table class="CoveoFieldTable" data-allow-minimization="false">
        <tbody>
          <tr data-field="@author" data-caption="Author">
          </tr>
          <tr data-field="@source" data-caption="Source">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
