<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; vertical-align:middle">
      <a class="CoveoResultLink">
      </a>
    </div>
    <div class="coveo-result-cell" style="width:60px; text-align:right; vertical-align:middle">
      <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:220px; text-align:center; padding-top:5px; padding-bottom:5px">
      <span class="CoveoYouTubeThumbnail"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <div class="CoveoExcerpt"></div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-bottom:5px; padding-top:5px">
      <span class="CoveoFieldValue" data-field="@ytvideoduration" data-helper="timeSpan" data-helper-options-is-milliseconds="false"></span>
      <span class="CoveoText" data-value="•"></span>
      <span class="CoveoFieldValue" data-field="@ytviewscount"></span>
      <span class="CoveoText" data-value="views"></span>
    </div>
  </div>
</div>
