<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="vertical-align:middle">
      <a class="CoveoResultLink">
      </a>
    </div>
    <div class="coveo-result-cell" style="width:60px; text-align:right; vertical-align:middle">
      <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:220px; text-align:center; padding-top:5px; padding-bottom:5px">
      <span class="CoveoYouTubeThumbnail">
      </span>
    </div>
  </div>
</div>
