<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:220px; padding-top:7px">
      <span class="CoveoYouTubeThumbnail">
      </span>
    </div>
    <div class="coveo-result-cell" style="">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="text-align:right; width:120px;font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:10px;">
          <div class="CoveoExcerpt">
          </div>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:10px;font-size:12px">
          <span class="CoveoFieldValue" data-field="@ytvideoduration" data-helper="timeSpan" data-helper-options-is-milliseconds="false">
          </span>
          <span class="CoveoText" data-value="•">
          </span>
          <span class="CoveoFieldValue" data-field="@ytviewcount">
          </span>
          <span class="CoveoText" data-value="views">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
