<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:220px; padding-top:4px">
      <span class="CoveoYouTubeThumbnail">
      </span>
    </div>
    <div class="coveo-result-cell" style="font-size:18px">
      <a class="CoveoResultLink">
      </a>
    </div>
    <div class="coveo-result-cell" style="text-align:right; width:120px;font-size:12px">
      <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime">
      </span>
    </div>
  </div>
</div>
