<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:220px; padding-top:7px">
      <span class="CoveoYouTubeThumbnail">
      </span>
    </div>
    <div class="coveo-result-cell" >
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:16px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="text-align:right; width:120px;font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime">
          </span>
        </div>
      </div>
      <div class="coveo-result-row" style="margin-top:10px;">
        <div class="coveo-result-cell">
          <span class="CoveoExcerpt"></span>
        </div>
      </div>
      <div class="coveo-result-row" style="margin-top:10px;">
        <div class="coveo-result-cell">
          <span class="CoveoFieldValue" data-field="@author" data-text-caption="Author" style="margin-right:30px;"></span>
          <span class="CoveoFieldValue" data-field="@ytvideoduration" data-helper="timeSpan" data-helper-options-is-milliseconds="false" data-text-caption="Length" style="margin-right:30px;"></span>
          <span class="CoveoFieldValue" data-field="@ytviewcount" data-text-caption="Views" style="margin-right:30px;"></span>
          <span class="CoveoFieldValue" data-field="@language" data-text-caption="Language" style="margin-right:30px;"></span>
        </div>
      </div>
    </div>
  </div>
</div>