<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-right:20px; padding-top:4px">
      <span class="CoveoYouTubeThumbnail">
      </span>
    </div>
    <div class="coveo-result-cell" style="font-size:18px; margin-right: 10px">
      <a class="CoveoResultLink">
      </a>
    </div>
    <div class="coveo-result-cell" style="white-space: nowrap; font-size:12px; text-align: right">
      <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime">
      </span>
    </div>
  </div>
</div>
