<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width: 32px; vertical-align: middle;">
      <div class="CoveoIcon" data-small="true" data-with-label="false">
      </div>
    </div>
    <div class="coveo-result-cell" style="text-align:left; padding-left: 10px; vertical-align: middle;">
      <a class="CoveoResultLink"></a>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <div class="CoveoText" data-value="Description" data-weight="bold" data-color="#1D4F76"></div>
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell">
      <div class="CoveoText" data-value="Date" data-weight="bold" data-color="#1D4F76"></div>
      <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell">
      <div class="CoveoText" data-value="Author" data-weight="bold" data-color="#1D4F76"></div>
      <span class="CoveoFieldValue" data-field="@author"></span>
    </div>
  </div>
  <div class="CoveoCardActionBar">
    <div class="CoveoQuickview"></div>
    <div class="CoveoCardOverlay" data-title="Details" data-icon="search">
      <table class="CoveoFieldTable" data-allow-minimization="false">
        <tbody>
          <tr data-field="@source" data-caption="Source">
          </tr>
          <tr data-field="@language" data-caption="Language">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
