<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px;text-align:center">
      <span class="CoveoIcon"></span>
      <div class="CoveoQuickview"></div>
    </div>
    <div class="coveo-result-cell">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink"></a>
        </div>
        <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px;">
          <span class="CoveoExcerpt"></span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px;">
          <span class="CoveoResultAttachments" data-result-template-id="JiraAttachment"></span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
          <table class="CoveoFieldTable">
            <tr data-field="@jikey" data-caption="Key"></tr>
            <tr data-field="@jifieldsprojectname" data-caption="Project name"></tr>
            <tr data-field="@jifieldsissuetypename" data-caption="Issue type"></tr>
            <tr data-field="@jifieldstimetrackingoriginalestimatehours" data-caption="Time tracking Estimated"></tr>
            <tr data-field="@jifieldstimetrackingremainingestimatehours" data-caption="Time tracking Remaining"></tr>
            <tr data-field="@jifieldstimetrackingtimespenthours" data-caption="Time tracking Logged"></tr>
            <tr data-field="@jifieldspriorityname" data-caption="Priority"></tr>
            <tr data-field="@jifieldsversionsname" data-caption="Version"></tr>
            <tr data-field="@jifieldslabels" data-caption="Labels"></tr>
            <tr data-field="@jifieldsenvironment" data-caption="Environment"></tr>
            <tr data-field="@jifieldsstatusname" data-caption="Status"></tr>
            <tr data-field="@jifieldsReporterDisplayName" data-caption="Reporter"></tr>
            <tr data-field="@jifieldsAssigneeDisplayName" data-caption="Assignee"></tr>
            <tr data-field="@jifieldsfixVersionsname" data-caption="Fix Vesions"></tr>
            <tr data-field="@jifieldsresolution" data-caption="Resolution"></tr>
            <tr data-field="@jifieldscreated" data-caption="Created Date" data-helper="dateTime"></tr>
            <tr data-field="@jifieldsupdated" data-caption="Updated Date" data-helper="dateTime"></tr>
            <tr data-field="@jifieldsduedate" data-caption="Due Date" data-helper="dateTime"></tr>
            <tr data-field="@jifieldsissuelinkstypename" data-caption="Links"></tr>
            <tr data-field="@jifieldsissuelinkstypeoutward" data-caption="Outward links"></tr>
            <tr data-field="@jifieldsissuelinkstypeinward" data-caption="Inward links"></tr>
            <tr data-field="@jiprojectname" data-caption="Project name"></tr>
            <tr data-field="@jiissuename" data-caption="Issue name"></tr>
            <tr data-field="@jiauthordisplayname" data-caption="Author"></tr>
            <tr data-field="@jisize" data-caption="Size"></tr>
            <tr data-field="@jiupdateauthordisplayname" data-caption="Update Author"></tr>
            <tr data-field="@jicreated" data-caption="Created Date" data-helper="dateTime"></tr>
            <tr data-field="@jiupdated" data-caption="Updated Date" data-helper="dateTime"></tr>
            <tr data-field="@jibody" data-caption="Comment"></tr>
            <tr data-field="@jistarted" data-caption="Started Date" data-helper="dateTime"></tr>
            <tr data-field="@jitimespent" data-caption="TimeSpent"></tr>
            <tr data-field="@jicomment" data-caption="Comment"></tr>
          </table>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <span class="CoveoPrintableUri"></span>
        </div>
      </div>
      <div class="coveo-result-row"></div>
    </div>
  </div>
</div>