<div class="coveo-attachment-container">
    <%= fromFileTypeToIcon() %>
    <a class="CoveoResultLink"><%= title || clickUri %></a>
    <span class="CoveoQuickview">
    	<div class='coveo-icon-for-quickview'>Quickview</div>
    </span>
</div>