@import '../Variables';

.coveo-ml-facet-breadcrumb {
  line-height: 1.2em;
}

.coveo-ml-facet-breadcrumb-title {
  color: $color-blueish-gray;
  margin: 0;
  font-size: $font-size-smaller;
  font-weight: normal;
  display: inline;
  margin-right: 8px;
}

.coveo-ml-facet-breadcrumb-value,
.coveo-ml-facet-breadcrumb-collapse {
  @include linkButton();
  font-size: $font-size-smaller;
  margin-right: 15px;
}

.coveo-ml-facet-breadcrumb-value-clear {
  margin-left: 5px;

  & svg {
    width: 9px;
    height: 9px;
  }
}
