@import '../Variables';

$active-text-opacity: 0.5;

.coveo-ml-facet-values {
  margin: 15px 0;
  padding: 0;
}

.coveo-ml-facet-value {
  list-style: none;
  margin-bottom: 6px;

  &.coveo-selected {
    .coveo-checkbox-span-label,
    .coveo-checkbox-span-label-suffix {
      font-weight: bold;
    }
  }

  .coveo-checkbox-label {
    width: 100%;
  }

  .coveo-checkbox-span-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .coveo-checkbox-span-label-suffix {
    margin-left: 8px;
    color: $color-light-grey;
  }

  .coveo-checkbox-label:hover {
    .coveo-checkbox-span-label,
    .coveo-checkbox-span-label-suffix {
      opacity: $active-text-opacity;
    }
  }

  &.coveo-focused {
    .coveo-checkbox-span-label,
    .coveo-checkbox-span-label-suffix {
      opacity: $active-text-opacity;
    }
  }
}
