.CoveoBreadcrumb {
  padding: 10px 0px 10px 0px;
  &.coveo-small-display {
    @include breadcrumb-small-display;
  }
}


.coveo-breadcrumb-clear-all {
  @include coveo-generic-button-no-hover-effect;
  float: right;
  border-radius: 2px;
  text-align: center;
  height: 30px;
  width: 30px;
  margin-top: -4px;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.coveo-breadcrumb-icon-clear-all {
  margin-top: 6px;
  @extend .coveo-sprites-common-clear;
}

.coveo-breadcrumb-item {
  margin: 4px;
}