.coveo-logo{
	@extend .coveo-sprites-common-coveo;
}
.coveo-powered-by {
	@extend .coveo-sprites-common-poweredbycoveo;
}

.coveo-logo-light {
	@extend .coveo-sprites-common-logo_light;
}

.coveo-logo-light-large {
	@extend .coveo-sprites-common-logo_light_large;
}