.CoveoDidYouMean {
  padding: 10px;
  background-color: $color-did-you-mean-background;

  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.coveo-did-you-mean-highlight {
  color: $color-result-clickable;
  font-weight: normal;
}

.coveo-did-you-mean-word-correction {
  color: $color-result-clickable;
  font-weight: bold;
}

.coveo-did-you-mean-no-results-for {
  font-size: 16px;
}

.coveo-did-you-mean-automatic-correct, .coveo-did-you-mean-suggestion {
  font-size: 14px;
}