.coveo-facet-settings-popup {
  position: absolute;
  background: $color-facet-setting-background;
  overflow: hidden;
  border: 1px solid #efefef;
  box-shadow: $drop-down-box-shadow;
  z-index: 11;
}

.coveo-facet-settings-section {
  clear: both;
  .coveo-icon {
    margin: 15px;
  }
}

.coveo-facet-settings-items {
  padding: 10px 0;
  background: white;
  overflow: hidden;
}

.coveo-facet-settings-item {
  line-height: 26px;
  height: 26px;
  white-space: nowrap;
  padding: 0 32px 0 16px;
  cursor: pointer;
  -moz-padding-end: 70px;

  &.coveo-selected {
    font-weight: bold;
  }

  &:hover {
    background: #d7ebff;
  }
}

.coveo-facet-settings-disabled {
  .coveo-facet-settings-item {
    cursor: default;
    opacity: 0.5;
    &:hover {
      background: white;
    }
  }
}

.coveo-facet-settings-section-sort {
  .coveo-icon {
    @extend .coveo-sprites-menu-menu_sortby;
    float: left;
  }
}

.coveo-facet-settings-section-direction {
  .coveo-items {
    border-top: 1px solid #DDDDDD;
  }
  .coveo-icon {
    @extend .coveo-sprites-menu-menu_sortdirection;
    float: left;
  }
}

.coveo-facet-settings-section-save-state {
  .coveo-items {
    border-top: 1px solid #DDDDDD;
  }
  .coveo-icon {
    @extend .coveo-sprites-menu-menu_saveoption;
    float: left;
  }
}

.coveo-facet-settings-section-clear-state {
  .coveo-items {
    border-top: 1px solid #DDDDDD;
  }
  .coveo-icon {
    @extend .coveo-sprites-facet-clear_facet_state;
    float: left;
  }
}

.coveo-facet-settings-section-hide {
  .coveo-icon {
    @extend .coveo-sprites-facet-clear_facet;
    float: left;
  }
}

.coveo-facet-settings-section-show {
  .coveo-icon {
    @extend .coveo-sprites-facet-show_facet;
    float: left;
  }
}

&.coveo-facet-settings-section-hide, &.coveo-facet-settings-section-show {
  .coveo-items {
    border-top: 1px solid #DDDDDD;
  }
}