.coveo-top-field-suggestion-header {
	@extend .coveo-top-suggestion-header;

	.coveo-icon-top-field {
		@extend .coveo-top-suggestion-header-icon;
	}
}

.coveo-top-field-suggestion-row {
	@extend .coveo-top-suggestion-row;
}