$max-width: 1000px;
$grid-columns: 24;
$gutter: 0em;
$page-width: 1000px;
$border-box-sizing: false;
@import "neat/neat";

.CoveoSearchInterface {
  min-height: 100%;
  * {
    @include box-sizing(border-box);
  }

  position: relative;
  margin: 0;
  background-color: $color-main-background;
  font-family: $helvetica;
  font-size: 13px;
  $mobile: new-breakpoint(max-width 600px 4);

  .coveo-tab-section {
    width: 100%;
    min-height: 30px;
    padding: 0px 10px;
    background-color: $color-tab-background;
    clear: both;
    &:after {
      content: '';
      clear: both;
      display: block;
    }
  }

  .coveo-main-section {
    @include outer-container;
    position: relative;
    margin: 0;
    background-color: white;
  }

  .coveo-facet-column {
    @include span-columns(7);
    @include media($mobile) {
      @include span-columns(4 of 4);
      max-width: 100%;
    }
    padding: 5px 15px;
    border-right: 1px solid $color-result-border;
  }

  .coveo-results-column {
    @include span-columns(17);
    @include media($mobile) {
      @include span-columns(4 of 4);
    }
    padding: 10px 10px 10px 15px;
  }
}

.coveo-results-header {
  padding: 10px 0px 10px 0px;
  min-height: 35px;
  .coveo-summary-section {
    display: inline-block;
  }
  .coveo-sort-section {
    float:right;
  }
}