.CoveoHierarchicalFacet {
  
  ul.coveo-facet-values {
    overflow-x: auto;

    .coveo-facet-value {
      position: relative;
      margin: 0;
      padding-left:15px;

      .coveo-facet-value-caption  {
        text-overflow: initial;
      }
      
      label {
        overflow: visible;
        display: inline-block;
        margin-left: 3px;
        .coveo-facet-value-label-wrapper {
          overflow: visible;
          display: inline-block;
        }
        .coveo-facet-value-exclude {
          display:inline-block;
          float: none;
          vertical-align: middle;
        }
      }

      &.coveo-has-childs {

        &.coveo-has-childs-selected {
          .coveo-facet-value-checkbox {
            > span {
              visibility : visible;
              @extend .coveo-sprites-facet-child_selected;
            }
          }
          &.coveo-selected {
            .coveo-facet-value-checkbox {
              > span {
                @extend .coveo-sprites-facet-checkmark_selected;
              }
            }
          }
        }

        .coveo-has-childs-toggle {
          position: absolute;
          top:3px;
          left:2px;
          @extend .coveo-sprites-facet-collapsed;
          &:hover {
            cursor: pointer;
          }
        }

        &.coveo-open {
          .coveo-has-childs-toggle {
            @extend .coveo-sprites-facet-expanded;
          }
        }
      }

      &.coveo-inactive {
        display: none;
      }
    }
  }
}

.coveo-facet-breadcrumb {
  .coveo-values {
    .coveo-value.coveo-hierarchical-facet-value {
      .coveo-hierarchical-breadcrumb-separator {
        content: "";
        display: inline-block;
        top:2px;
        left:3px;
        position: relative;
        margin-left: 2px;
        margin-right: 2px;
        @include triangle(10px, #b0b3ae, right);
      }
    }
  }
}