.CoveoSearchInterface{
	height:100%;
	-webkit-overflow-scrolling:touch;
  .clear {
    clear: both;
  }
}

.coveo-click-canceling-overlay {
  &.active {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999999999;
    -webkit-transform: translate3d(0, 0, 1000px);
  }
}

.coveo-wait-animation{
  margin-left: 45%;
}