.CoveoResult.coveo-salesforce-result {

  .coveo-title {
    clear: both;
  }
  
  .coveo-badge{
    background-color: white;
    font-size: 13px;
    line-height: 26px;
    padding: 0 6px;
    float: left;
  }
  
  .CoveoFieldTable {
  	background-color: #ececec;
    font-size: 14px;
	  .CoveoCaption {
			text-align: left;
		}
  }

  
}