.CoveoQuerybox {
  width: 100%;
  height: 40px;
  padding: 5px 3px 5px 8px;
  overflow:hidden;
  font-size: 21px;
  border: 1px solid #c7c7c7;
  border-top-color: #C4C4C4;
  border-right: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  min-width: 100px;
  padding-right: 30px;
  word-break: break-all;
}

.coveo-query-box-clear {
  position: relative;
  margin-top:-40px;
  float: right;
  margin-right: 0px;
  width:40px;
  height:40px;
  text-align:center;

  .coveo-icon {
    @extend .coveo-sprites-querybox-clear;
    margin-top:13px;
  }
}

.CoveoSearchbox {
  border-radius: 0;
  height: 40px;
  margin: 0 46px;
}

.CoveoQuerybox, .CoveoOmnibox {
  @include magic-box($height: 38px)
}