.CoveoQuickview {
  width: inherit;
  height: inherit;

  .coveo-icon-for-quickview-container {
    height: 30px;
    width: 30px;
  }
  .coveo-icon-for-quickview {
    cursor: auto;
    line-height: 28px;
    padding: 0 3px;
  }
  .coveo-icon-for-quickview:hover {
    background: #f7f7f7;
  }
}

.coveo-modalBox.coveo-quick-view {
  > .coveo-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    @include animation-name(coveo-bottom-to-top);
    @include animation-timing-function(ease);
    @include animation-duration(0.4s);
    @include animation-iteration-count(1);
    > .coveo-body {
      overflow-y: scroll;
    }
  }
}

@include keyframes(coveo-bottom-to-top) {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}