.CoveoCurrentTab {
  font-size: 13px;
  min-height: 40px;
  min-width:70px;
  float:left;
  padding: 10px;
  position:relative;
  color: black;
  > .coveo-icon {
  	position: relative;
  	top: 2px;
  	margin-right: 5px;
  }
  &.coveo-targeting-tab-section {
    color: #0066cc;
  }
  &.coveo-opening-tab-section {
    color: #ffffff;
    &.coveo-targeting-tab-section {
      
      &:before, &.coveo-clicked:before {
        @include triangle(8px, white, down);
      }

      &:after {
        @include triangle(8px, white, up);
      }
    }
  }
  &.coveo-targeting-tab-section {
    padding-right: 20px;

    &:before, &.coveo-clicked:before {
      content: "";
      @include triangle(8px, #0066cc, down);
      position:absolute;
      top:22px;
      right:10px;
      background: none;
      left: inherit;
      opacity: 1;
    }

    &.coveo-clicked {
      opacity: 0.5;
    }

    &:after {
      content: "";
      @include triangle(8px, #0066cc, up);
      position:absolute;
      top:12px;
      right:10px;
    }
  }
}


.coveo-tab-section {
  &.coveo-targeted-by-current-tab {
    &::-webkit-scrollbar {
      display:none;
    }
    top:90px;
    left:0px;
    right:100%;
    max-height: 70%;
    background-color: rgba(255,255,255,0);
    background-image: none;
    width: initial;
    @include transition(right 0.2s);
    .coveo-logo-section {
      display: none;
    }
    .CoveoTab, .coveo-tab-section-spacer {
      height: 0;
       @include transition(height 0.2s);
    }
    &.coveo-opened-by-current-tab {
      .CoveoTab {
        height: 44px;
        @include transition(height 0.4s);
      }
      .coveo-tab-section-spacer {
        height: 35px;
        @include transition(height 0.4s);
      }
      right:280px;
      @include smallMobile(){
          right:0px;
      }
      @include transition(right 0.4s);
    }
  }
}