.CoveoPreferencesPanel {
  margin-top: 10px;
  height: 0px;
  overflow: hidden;
  position: relative;

  &.coveo-active {
    height: auto;
  }
}

.CoveoResultsPreferences, .CoveoResultsFiltersPreferences {
  @include coveo-preferences-panel-item;
}

.CoveoPreferencePanelItem {
  @include coveo-preferences-panel-item;
}

.preferences-panel-item-label {
  vertical-align: middle;
  &:hover {
    cursor: pointer;
  }
}

.coveo-preferences-panel-close {
  @include coveo-preferences-panel-button;
  border: none;
  right: 5px;
  .coveo-icon {
    @extend .coveo-sprites-common-clear;
    top: 0px;
  }
}

.coveo-preferences-panel-title {
  font-size: 18px;
  display: inline-block;
}