.CoveoPrintableUri{
  margin: 2px 0 5px 0;
  color: $color-printable-uri;

  a {
	font-size: 12px;
	color: $color-printable-uri;
	text-decoration: none;
	cursor: pointer;
	padding: 0 2px 0 2px;
	display:inline-block;
	&:hover {
	  text-decoration: underline;
	}
  } 

  .coveo-printable-uri-separator {
	font-size: 9px;
  }

  .coveo-hidden {
	display: none;
  }
}