.CoveoResultList.coveo-faded { 
	opacity : 0.5;
}

.CoveoResultList {
  margin-top: 15px;

  .coveo-fade-out {
	opacity : 0.5;
	@include transition (opacity .5s);
  }
	
  .coveo-wait-animation {
    display: block;
    margin: 10px auto;
  }
}