.CoveoResultAttachments {

  .coveo-attachment-sub-container {
    padding: 6px 0px 6px 20px;
  }

  .coveo-attachment-icon {
    margin-right: 5px;
    display: inline-block;
    min-width: 16px;
    min-height: 16px;
    position: relative;
    top: 3px;
  }

  .coveo-thumbnail-icon {
    @extend .coveo-sprites-quickview-quickview;
    position: relative;
    margin-left: 5px;
    top: 5px;
    overflow: visible;

    img {
      border: 1px solid $color-color-box-border;
      box-shadow: 0px 0px 3px 0px rgb(171, 170, 169);
      position: absolute;
      left: 100%;
      display: none;
      z-index:1;
    }

    &:hover {
      cursor: pointer;
      img {
        display: block;
      }
    }
  }
}

.coveo-result-attachments-container {
  font-size: 14px;
  margin: 0px 0px 5px 0px;
  position: relative;

  .coveo-icon {
    margin: 0px 5px 0px 0px;
  }

  @include QuickviewContainer();

  * {
    vertical-align: middle;
  }
}