.CoveoResultsFiltersPreferences {
  .coveo-title {
    display: inline-block;
  }

  .coveo-choice-container {
    background-color: #ececec;
    margin-bottom: 2px;
    padding: 0;

    .coveo-section {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-left: 10px;
      line-height: 30px;
      height: 30px;
    }

    .coveo-section-tab, .coveo-section-expression {
      padding-top: 2px;
    }

    .coveo-section-input {
      width: 20%;
    }

    .coveo-section-tab {
      width: 20%;
    }

    .coveo-section-expression {
      width: 45%;
    }

    .coveo-section-edit-delete {
      width: 10%;
      float: right;
    }
  }

  .coveo-advanced-filters {
    color: white;
    border: 1px solid #bcc3ca;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    width: 60px;
    &:before {
      content: '';
      vertical-align: middle;
      height: 100%;
      display: inline-block;
    }
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 6px 5px 6px 5px;
    height: 30px;

    &:hover {
      cursor: pointer;
    }
  }

  .coveo-online-help {
    @include coveo-generic-button;
    border: 1px solid #cccccc;
    float: right;
    padding: 7px 0px 0px 10px;
    margin: 0 0 0 10px;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
  }

  .coveo-delete {
    position: relative;
    top: 5px;
    left: 11px;
    .coveo-icon {
      @extend .coveo-sprites-preferencesPanel-table-delete;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .coveo-edit {
    position: relative;
    top: 5px;
    left: 7px;
    .coveo-icon {
      @extend .coveo-sprites-preferencesPanel-table-edit;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .coveo-advanced-filters-builder {
    display: none;
    background-color: #ebf3fb;
    position: relative;

    form {
      height: 120px;
      overflow: hidden;
      padding: 0;
    }

    &.coveo-active {
      display: block;
      z-index: 1;
    }

    .coveo-choice-container {
      padding: 0px 5px 0px 5px;
      margin: 0;
      display: inline-block;
      background-color: #ebf3fb;
      vertical-align: top;
      height: 100%;
      text-align: center;

      &.coveo-caption, &.coveo-tab {
        width: 20%;
      }

      &.coveo-expression {
        width: 50%;
      }

      &.coveo-close-and-save {
        width: 10%;
        .coveo-save {
          @extend .coveo-sprites-preferencesPanel-table-apply;
          position: absolute;
          top: 5px;
          right: 35px;
        }
        .coveo-close {
          @extend .coveo-sprites-preferencesPanel-table-cancel;
          position: absolute;
          top: 5px;
          right: 10px;
        }
      }

      textArea {
        height: 90%;
        width: 93%;
        background-color: white;
        border: 1px solid transparent;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
        resize: none;
        font-family: $helvetica;
        margin-top: 6px;
      }

      textArea.coveo-Tab {
        height: 36px;
      }

      select {
        height: 70px;
        width: 90%;
        font-family: $helvetica;
      }
    }
  }
}
