.CoveoResultFolding {

  .coveo-folding-results {
    margin-bottom: 6px;
  }

  .coveo-loading-animation {
    margin: auto;
    width: 84px;
    margin-bottom: 10px;
  }
}

.coveo-result-folding-child-result {
  .coveo-date {
    color: #999999;
    font-size: 12px;
  }
  border-left: 2px solid #cfcfcf;
  padding: 0px 0px 0px 6px;
  &:hover {
    border-left: 2px solid #0065CB;
  }
}

.coveo-folding-footer-section-for-less, .coveo-folding-footer-section-for-more {
  @include coveo-generic-button;
  display: inline-block;
  padding: 3px;
  font-size: 11px;
  position: absolute;
  border-radius: 4px;
  bottom: -12px;
}

.coveo-folding-header-caption {
  font-size: 11px;
  color: #333333;
  margin-bottom: 10px;
}

.coveo-folding-footer {
  margin-top: 12px;
  margin-bottom: 3px;
}

.coveo-folding-footer-icon {
  margin-left: 5px;
}

.coveo-more {
  &:hover {
    cursor: pointer;
  }
  display: inline-block;
  .coveo-folding-footer-icon {
    @extend .coveo-sprites-folding-showmore;
    position: relative;
    top: 1px;
  }
}

.coveo-less {
  &:hover {
    cursor: pointer;
  }
  display: inline-block;
  .coveo-folding-footer-icon {
    @extend .coveo-sprites-folding-showless;
    position: relative;
    top: 1px;
  }
}

a.coveo-folding-show-more, a.coveo-folding-show-less {
  color: #b0b2ad;
  font-size: 11px;

  &:hover {
    text-decoration: none;
    color: #b0b2ad;
  }
}

.coveo-child-result {
  margin-bottom: 5px;
  * {
    vertical-align: middle;
  }
}