.CoveoResult {
  border-bottom: 1px solid $color-result-border;
  margin: 20px 0px 20px 20px;
  position: relative; // Allows using absolute positioning for buttons such as Show All Thread, etc.

  &.coveo-omnibox-selectable {
    padding: 10px 10px 10px 15px;
    margin: 0;
  }

  .coveo-icon {
    float: left;
    margin: 3px 4px 0px -20px;
  }

  .coveo-no-thumbnail {
    display: none;
  }

  .coveo-date {
    float: right;
    font-size: 13px;
    margin-left: 10px;
    padding-top: 3px;
    color: $color-result-date;
  }

  .coveo-title {
    display: block;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 24px;
    > * {
      vertical-align: middle;
    }

    .CoveoResultLink {
      margin-right: 5px;
      display: inline;
      overflow: hidden;
      white-space: normal;
    }

    .CoveoResultLink:after {
      content: '\00a0';
      white-space: nowrap;
      visibility: hidden;
    }
  }

  .coveo-excerpt {
    max-width: 600px;
    font-size: 14px;
    padding: 5px 0 8px 0;
  }

  @include QuickviewContainer('.coveo-title');

  a {
    @include coveo-clickable-link-inside-result;
  }

  .coveo-badge {
    display: inline-block;
    padding: 4px 6px;
    background-color: $color-result-badge-background;
    vertical-align: middle;
    font-size: 12px;
  }
  .CoveoBadge > span {
    display: inline-block;
    padding: .25em .5em;
    background-color: #ccc;
    vertical-align: middle;
    border-radius: 1em;
    line-height: 1em;
    margin-right: 4px;
    margin-bottom: 2px;
    font-size: 0.85em;
  }

  .coveo-selectable-link {
    @include coveo-clickable-link-inside-result;
  }

  .coveo-field .coveo-label {
    font-weight: normal;
    background-color: $color-beige;
  }

  .CoveoResultFolding {
    .coveo-child-result {
      .CoveoQuickview {
        margin-left: 5px;
      }
    }
  }
}

.CoveoFieldValue {
  @include coveo-clickable-field-value-inside-result;
}

.CoveoFieldTable {
  @include coveo-table-to-display-field-inside-result;
}