.coveo-waiting-for-first-query .CoveoSearchbox .CoveoSearchButton {
  z-index: 0;
}
.CoveoSearchbox {
  &.coveo-inline {
    overflow: hidden;
    .magic-box {
      overflow: visible;
    }
  }
  .CoveoSearchButton {
    float: right;
    z-index: 2;
    position: relative;
  }
}

.CoveoSettings + .CoveoSearchbox {
  margin-right: 76px;
}
