.CoveoShareQuery {
  overflow: hidden;
  margin-top: 10px;
  display: none;
  &.coveo-share-query-opened {
    display: block;
  }
}

.coveo-share-query-summary-info-close {
  float: right;
  cursor: pointer;
  padding: 4px;
  border-radius: 2px;
  background-color: #f7f7f7;
  height: 24px;
  width: 24px;
  span {
    @extend .coveo-sprites-facet-clear_facet;
  }
}

.coveo-share-query-summary-info {
  font-size: 18px;
}

.coveo-share-query-summary-info-boxes {
  margin-top: 4px;
  padding-bottom: 5px;

	div:last-child {
	  margin-top: 6px;
	}
}

.coveo-share-query-summary-info-label {
  display: block;
  font-size: 13px;
  font-weight: initial;
  color: $color-medium-gray;
}

.coveo-share-query-summary-info-input {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 2px;
  border: 1px solid $color-light-gray;
  padding: 5px 6px;
    font-size: 14px
}