.coveo-sort-section {
  text-align: right;
}

.CoveoSort {
  padding-right:3px;
  padding-left:5px;
  color:$color-sort;
  
  &.coveo-selected {
    color:$color-sort-selected;
  }

  &:hover {
    cursor:pointer;
    text-decoration: underline;
    color:$color-sort-hover;
  }

  &.coveo-selected:hover{
    cursor:default;
    text-decoration:none;
    color:$color-sort-selected;
  }


  &.coveo-selected {
    .coveo-icon {
      margin: 1px 0 1px 3px;
      @extend .coveo-sprites-sort-sortby_bottom;
    }
    &.coveo-ascending {
      .coveo-icon {
        @extend .coveo-sprites-sort-sortby_top;
      }
    }
  }
}