.CoveoTab {
  float: left;
  padding: 6px 10px;
  vertical-align: top;
  color: $color-tab-text;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  height: 30px;

  & >.coveo-icon {
    float:left;
    margin-right: 5px;
  }

  p {
    float:right;
    display: inline-block;
    margin: 0;
  }

  &:hover{
    color: $color-tab-text;
    background: $color-tab-hover-background;
    text-decoration: none;
  }

  &.coveo-selected {
    background: $color-tab-selected-background;
  }
}
