.coveo-useractions-event
{
  min-height: 45px;
  border-bottom: 1px solid #E3E8ED;
  background-color: #F3F5F7;

  padding-top: 15px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;

  overflow: auto;
}

.coveo-useractions-event-left {
  float:left;
  width: 35%;
}

.coveo-useractions-event-right {
  float:right;
  width: 65%;
}

.coveo-useractions-event-header
{
  background-color: white;
}

.coveo-useractions-event-title
{
  display: block;
  font-size: 0.8em;
  color: #9F9F9B;
}

.coveo-useractions-event-value
{
  display: block;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.coveo-useractions-event-value:visited
{
  color: #0066cc;
}

.coveo-useractions-event-value-expand
{
  display: block;
  font-weight: bold;
  white-space: normal;
  word-wrap: break-word;
}

.coveo-useractions-events-list {
  overflow: auto;
}

.coveo-useractions-event-icon
{
  float: right;
  margin-top: 15px;
  margin-right: -20px;
}

.coveo-useractions-nodata {
  text-align: center;
  display: block;
  border-bottom: 1px solid #E3E8ED;
}

.coveo-useractions-button {
  text-align: center;
  background-color: #629ACE;
  padding: 2px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.CoveoUserActions .coveo-loading-animation {
  text-align: center;
  margin: 10px;
}

.coveo-useractions-placeholder {
    display: none;
    text-align: center;
 }

.CoveoUserActions.coveo-editable {
   .coveo-useractions-placeholder {
    display: block;
   }
}