@mixin coveo-login-input {
	min-height: 40px;
	background: white;
	border:1px solid $color-medium-dark-gray;
	border-radius: 4px;
	box-shadow: inset 0px 2px 5px -1px #eeeeee;
	padding: 0px 30px 0px 35px;
	margin:0px 0px 5px 0px;
	@include placeholder {
		color: #6e6e6e;
	}
	width: 100%;
}