@mixin coveoSlider {
  .coveo-slider-container {
    width: 95%;
    height: 50px;
    position: relative;
    & > div {
      height: 50px;
    }
    svg {
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.03);
    }

  }

  .coveo-slider-line {
    background-color: white;
    border-radius: 5px;
    border: 1px solid #cccccc;
    position: absolute;
    width: 100%;
    height: 10px;
    margin-left: 7px;
    top: 3px;
    &.coveo-active {
      z-index: 1;
      background-color: #d7ebff;
    }
  }

  .coveo-slider-button {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    background-color: #39465d;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    width: 15px;
    height: 16px;
    z-index: 2;
    position: absolute;
    &:hover {
      background-color: #747D8D;
    }
    &.coveo-active {
      background-color: #747D8D;
    }
    &:after {
      content: "";
      height: 10px;
      width: 2px;
      border-right: 1px solid white;
      border-left: 1px solid white;
      position: absolute;
      right: 4px;
      top: 3px;
    }
    &:before {
      content: "";
      height: 10px;
      border-right: 1px solid white;
      position: absolute;
      left: 4px;
      top: 3px;

    }
  }

  .coveo-slider-caption {
    position: absolute;
    top: 25px;
    left: 10px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .coveo-slider-tooltip {
    white-space: nowrap;
    padding: 10px;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: 0px 0px 3px 0px rgb(171, 170, 169);
    z-index: 10;
    position: absolute;
    margin-top: 30px;
    &:after {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #b0b3ae;
      content: "";
      top: 37px;
      left: 11px;
      position: absolute;
    }
    .coveo-caption {
      font-size: 13px;
    }
    .coveo-count {
      font-size: 12px;
      color: #8a8a8a;
      margin-left: 5px;
    }
  }

  .coveo-slider-container.coveo-with-graph {
    height: 100px;
    & > div {
      height: 100px;
    }
    svg {
      position: absolute;
      left: 8px;
      top: -5px;
      .coveo-bar {
        fill: #dddddd;
        shape-rendering: crispEdges;
        &.coveo-active {
          fill: #9ca2ae;
        }
      }
      .coveo-bar:hover {
        fill: #b9bec6;
        cursor: pointer;
      }
    }
    .coveo-slider-line {
      top: 60px;
    }
    .coveo-slider-button {
      top: 57px;
    }
    .coveo-slider-caption {
      top: 80px;
    }
  }
}