<div class="coveo-result-frame">
  <div class="coveo-result-row" style="margin-bottom: 20px">
    <div class="coveo-result-cell" style="width:32px; vertical-align:middle; flex-grow:0">
      <span class="CoveoIcon" data-small="true" data-with-label="false"></span>
    </div>
    <div class="coveo-result-cell" style="padding-left: 10px; vertical-align: middle;">
      <a class="CoveoResultLink"></a>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <div class="CoveoText" data-value="Description" data-weight="bold"></div>
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="CoveoCardActionBar">
    <div class="CoveoQuickview"></div>
    <div class="CoveoCardOverlay" data-title="Details" data-icon="search">
      <table class="CoveoFieldTable" data-allow-minimization="false">
        <tbody>
          <tr data-field="@dysubjectidstring" data-caption="Subject">
          </tr>
          <tr data-field="@dyticketnumber" data-caption="Case Number">
          </tr>
          <tr data-field="@dyprioritycodestring" data-caption="Priority">
          </tr>
          <tr data-field="@dycaseorigincodestring" data-caption="Origin">
          </tr>
          <tr data-field="@dycustomeridstring" data-caption="Customer">
          </tr>
          <tr data-field="@dyowneridstring" data-caption="Owner">
          </tr>
          <tr data-field="@dystatuscodestring" data-caption="Status">
          </tr>
          <tr data-field="@dycontactidstring" data-caption="Contact">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
