<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="vertical-align: top;text-align:center;width:32px;">
      <span class="CoveoIcon" data-small="true" data-with-label="false"></span>
      <div class="CoveoQuickview"></div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px">
          <a class="CoveoResultLink">
          </a>
        </div>
        <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px;">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <div class="CoveoExcerpt">
          </div>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
          <table class="CoveoFieldTable">
            <tbody>
              <tr data-field="@dysubjectidstring" data-caption="Subject">
              </tr>
              <tr data-field="@dyticketnumber" data-caption="Case Number">
              </tr>
              <tr data-field="@dyprioritycodestring" data-caption="Priority">
              </tr>
              <tr data-field="@dycaseorigincodestring" data-caption="Origin">
              </tr>
              <tr data-field="@dycustomeridstring" data-caption="Customer">
              </tr>
              <tr data-field="@dyowneridstring" data-caption="Owner">
              </tr>
              <tr data-field="@dystatuscodestring" data-caption="Status">
              </tr>
              <tr data-field="@dycontactidstring" data-caption="Contact">
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>