<div class="coveo-result-frame">
    <div class="coveo-result-cell" style="vertical-align: top;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell" style="vertical-align:top;font-size:16px;">
                <a class="CoveoResultLink"></a>
            </div>
            <div class="coveo-result-cell" style="width:120px; text-align:center; font-size:12px">
                <div class="coveo-result-row">
                    <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
                </div>
            </div>
        </div>
        <div class="coveo-result-row">
            <div class="coveo-result-cell" style="vertical-align:middle">
                <span style="border-style:solid;border-width:thin;border-color:#3A7EE7;border-radius:0px 10px 10px 0px;font-size:12px;background-color:#3A7EE7;color:white;padding:2px;padding-right:10px;padding-left:5px">Knowledge</span>
                <span class="CoveoFieldValue" data-field="@snauthorname" data-text-caption="By " style="padding-right:15px;padding-left:10px"></span>
                <span class="CoveoFieldValue" data-field="@snkbcategorylabel" data-text-caption="Category " data-helper="javascriptEncode"></span>
            </div>
            <div class="coveo-result-cell" style="width:120px">
                <span class="CoveoQuickview" style="font-size:10px;color:black;border-width:thin;border-color:grey;border-style:solid;border-radius:16px;width:100px;padding-right:10px;padding-left:10px;padding-top:2px;padding-bottom:2px;text-decoration:none">QUICK VIEW</span>
            </div>
        </div>
        <div class="coveo-result-row">
            <div class="coveo-result-cell" style="padding-right:15px;padding-top:10px;padding-bottom:10px">
                <span class="CoveoExcerpt"></span>
            </div>
            <div class="coveo-result-cell" style="width:150px;border-left:solid thin #CAD2D8; text-align:center;vertical-align:middle">
                <span class="CoveoFieldValue" data-field="@snsysviewcount" data-text-caption="Views      "></span><br/>
                <span class="CoveoFieldValue" data-field="@snrating" data-text-caption="Rating     " style="padding-top:10px"></span>
            </div>
        </div>
    </div>
</div>
