<div class="coveo-result-frame">
    <div class="coveo-result-cell" style="vertical-align:bottom;">
        <div class="coveo-result-row">
            <div class="coveo-result-cell">
                <div class="CoveoResultLink"></div>
            </div>
            <div class="coveo-result-cell" style="width:120px;text-align:center;vertical-align:bottom;font-size:12px">
                <span class="CoveoFieldValue" data-field="@sndeliverytime" data-text-caption="Delivery Time"></span>
            </div>
        </div>
        <div class="coveo-result-row">
            <div class="coveo-result-cell" style="width:70px;">
                <div class="CoveoIcon" style="margin-top: 10px" data-with-label="false" data-condition-field-not-snpicture=""></div>
                <span class="CoveoImageFieldValue" data-field="@snpicture" data-src-template="/${raw.snpicture}" data-height="60px" style="font-size:12px"></span>
            </div>
            <div class="coveo-result-cell" style="padding:15px">
                <span class="CoveoExcerpt"></span>
            </div>
            <div class="coveo-result-cell" style="width:120px; text-align:right; vertical-align:top">
                <div class="CoveoFieldValue" data-field="@snprice" data-text-caption="Price " style="font-size:12px" data-condition-field-snignoreprice="false"></div>
                <span class="CoveoFieldValue" data-field="@sncategorysysname" data-text-caption="Category " style="font-size:12px"></span>
                <div class="CoveoResultLink" style="font-size:12px;background-color:#599DF8;color:white;border-width:medium;border-color:3F83E7;border-style:solid;border-radius:5px;width:122px;text-align:center;padding-top:10px;padding-bottom:10px;text-decoration:none">ORDER NOW</div>
            </div>
        </div>
    </div>
</div>