@mixin GeneratedIcons() {
  .coveo-icon-caption-overlay { display: none; }  &.objecttype {
                                                    @extend .coveo-sprites-fileType-default;
                                                    &.People ,     &.people { @extend .coveo-sprites-fileType-objectType-user;  }
                                                    &.Message ,     &.message { @extend .coveo-sprites-fileType-objectType-message;  }
                                                    &.Feed ,     &.feed { @extend .coveo-sprites-fileType-objectType-rss;  }
                                                    &.Thread ,     &.thread { @extend .coveo-sprites-fileType-objectType-thread;  }
                                                    &.File ,     &.file { @extend .coveo-sprites-fileType-objectType-file;  }
                                                    &.Board ,     &.board { @extend .coveo-sprites-fileType-objectType-board;  }
                                                    &.Category ,     &.category { @extend .coveo-sprites-fileType-objectType-category;  }
                                                    &.Account ,     &.account { @extend .coveo-sprites-fileType-objectType-account;  }
                                                    &.Campaign ,     &.campaign { @extend .coveo-sprites-fileType-objectType-campaign;  }
                                                    &.Case ,     &.case { @extend .coveo-sprites-fileType-objectType-case;  }
                                                    &.Contact ,     &.contact { @extend .coveo-sprites-fileType-objectType-contact;  }
                                                    &.Contract ,     &.contract { @extend .coveo-sprites-fileType-objectType-contract;  }
                                                    &.Event ,     &.event { @extend .coveo-sprites-fileType-objectType-event;  }
                                                    &.Lead ,     &.lead { @extend .coveo-sprites-fileType-objectType-lead;  }
                                                    &.Solution ,     &.solution { @extend .coveo-sprites-fileType-objectType-answer;  }
                                                    &.Task ,     &.task { @extend .coveo-sprites-fileType-objectType-task;  }
                                                    &.User ,     &.user { @extend .coveo-sprites-fileType-objectType-user;  }
                                                    &.Attachment ,     &.attachment { @extend .coveo-sprites-fileType-objectType-attachment;  }
                                                    &.Casecomment ,     &.casecomment { @extend .coveo-sprites-fileType-objectType-comment;  }
                                                    &.Opportunity ,     &.opportunity { @extend .coveo-sprites-fileType-objectType-opportunity;  }
                                                    &.Feeditem ,     &.feeditem { @extend .coveo-sprites-fileType-objectType-chatter;  }
                                                    &.Feedcomment ,     &.feedcomment { @extend .coveo-sprites-fileType-objectType-chatter;  }
                                                    &.Note ,     &.note { @extend .coveo-sprites-fileType-objectType-note;  }
                                                    &.Product ,     &.product { @extend .coveo-sprites-fileType-objectType-product;  }
                                                    &.Partner ,     &.partner { @extend .coveo-sprites-fileType-objectType-partner;  }
                                                    &.Kbdocumentation ,     &.kbdocumentation { @extend .coveo-sprites-fileType-objectType-kb;  }
                                                    &.Kbsolution ,     &.kbsolution { @extend .coveo-sprites-fileType-objectType-answer;  }
                                                    &.Kbknowledgearticle ,     &.kbknowledgearticle { @extend .coveo-sprites-fileType-objectType-kb;  }
                                                    &.Kbattachment ,     &.kbattachment { @extend .coveo-sprites-fileType-objectType-attachment;  }
                                                  }
  &.filetype, &.sysfiletype {
    @extend .coveo-sprites-fileType-default;
    &.html { @extend .coveo-sprites-fileType-formats-html; }
    &.image { @extend .coveo-sprites-fileType-formats-image; }
    &.folder { @extend .coveo-sprites-fileType-formats-folder; }
    &.txt { @extend .coveo-sprites-fileType-formats-text; }
    &.zip { @extend .coveo-sprites-fileType-formats-zip; }
    &.pdf { @extend .coveo-sprites-fileType-formats-pdf; }
    &.xml { @extend .coveo-sprites-fileType-formats-xml; }
    &.doc { @extend .coveo-sprites-fileType-formats-text; }
    &.xls { @extend .coveo-sprites-fileType-formats-spreadsheet; }
    &.ppt { @extend .coveo-sprites-fileType-formats-slideshow; }
    &.video { @extend .coveo-sprites-fileType-formats-video; }
    &.youtube { @extend .coveo-sprites-fileType-youtube-youtube; }
    &.saleforceitem { @extend .coveo-sprites-fileType-salesforce-item; }
    &.exchangemessage { @extend .coveo-sprites-fileType-exchange-message; }
    &.exchangeappointment { @extend .coveo-sprites-fileType-exchange-meeting; }
    &.exchangenote { @extend .coveo-sprites-fileType-exchange-note; }
    &.exchangetask { @extend .coveo-sprites-fileType-exchange-task; }
    &.exchangeperson { @extend .coveo-sprites-fileType-exchange-user; }
    &.activedirperson { @extend .coveo-sprites-fileType-exchange-user; }
    &.exchangeactivity { @extend .coveo-sprites-fileType-exchange-activity; }
    &.exchangecalendarmessage { @extend .coveo-sprites-fileType-exchange-appointment; }
    &.exchangedocument { @extend .coveo-sprites-fileType-exchange-file; }
    &.exchangedsn { @extend .coveo-sprites-fileType-exchange-message-undeliverable; }
    &.exchangefreebusy { @extend .coveo-sprites-fileType-exchange-generic; }
    &.exchangegroup { @extend .coveo-sprites-fileType-exchange-group; }
    &.exchangemdn { @extend .coveo-sprites-fileType-exchange-generic; }
    &.exchangerecallmessage { @extend .coveo-sprites-fileType-exchange-message-recall; }
    &.exchangerecallreport { @extend .coveo-sprites-fileType-exchange-message-recall; }
    &.exchangeobject { @extend .coveo-sprites-fileType-exchange-generic; }
    &.exchangerssfeed { @extend .coveo-sprites-fileType-exchange-rss; }
    &.exchangejunkmessage { @extend .coveo-sprites-fileType-exchange-message-junk; }
    &.exchangeofficecom { @extend .coveo-sprites-fileType-exchange-communicator; }
    &.lithiummessage { @extend .coveo-sprites-fileType-lithium-message; }
    &.lithiumthread { @extend .coveo-sprites-fileType-lithium-thread; }
    &.lithiumboard { @extend .coveo-sprites-fileType-lithium-board; }
    &.lithiumcategory { @extend .coveo-sprites-fileType-lithium-category; }
    &.lithiumcommunity { @extend .coveo-sprites-fileType-default; }
    &.spportal { @extend .coveo-sprites-fileType-sharepoint-site; }
    &.spsite { @extend .coveo-sprites-fileType-sharepoint-site; }
    &.spuserprofile { @extend .coveo-sprites-fileType-sharepoint-user; }
    &.sparea { @extend .coveo-sprites-fileType-sharepoint-area; }
    &.spannouncement { @extend .coveo-sprites-fileType-sharepoint-announcement; }
    &.spannouncementlist { @extend .coveo-sprites-fileType-sharepoint-announcement; }
    &.spcontact { @extend .coveo-sprites-fileType-sharepoint-contact; }
    &.spcontactlist { @extend .coveo-sprites-fileType-sharepoint-contact; }
    &.spcustomlist { @extend .coveo-sprites-fileType-sharepoint-custom; }
    &.spdiscussionboard { @extend .coveo-sprites-fileType-sharepoint-discussionboard; }
    &.spdiscussionboardlist { @extend .coveo-sprites-fileType-sharepoint-discussionboard; }
    &.spdocumentlibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spevent { @extend .coveo-sprites-fileType-sharepoint-event; }
    &.speventlist { @extend .coveo-sprites-fileType-sharepoint-event; }
    &.spformlibrarylist { @extend .coveo-sprites-fileType-sharepoint-formlibrary; }
    &.spissue { @extend .coveo-sprites-fileType-sharepoint-issue; }
    &.spissuelist { @extend .coveo-sprites-fileType-sharepoint-issue; }
    &.splink { @extend .coveo-sprites-fileType-sharepoint-link; }
    &.splinklist { @extend .coveo-sprites-fileType-sharepoint-link; }
    &.sppicturelibrarylist { @extend .coveo-sprites-fileType-sharepoint-picturelibrary; }
    &.spsurvey { @extend .coveo-sprites-fileType-sharepoint-survey; }
    &.spsurveylist { @extend .coveo-sprites-fileType-sharepoint-survey; }
    &.sptask { @extend .coveo-sprites-fileType-sharepoint-task; }
    &.sptasklist { @extend .coveo-sprites-fileType-sharepoint-task; }
    &.spagenda { @extend .coveo-sprites-fileType-sharepoint-agenda; }
    &.spagendalist { @extend .coveo-sprites-fileType-sharepoint-agenda; }
    &.spattendee { @extend .coveo-sprites-fileType-sharepoint-attendees; }
    &.spattendeelist { @extend .coveo-sprites-fileType-sharepoint-attendees; }
    &.spcustomgridlist { @extend .coveo-sprites-fileType-sharepoint-customgrid; }
    &.spdecision { @extend .coveo-sprites-fileType-sharepoint-decision; }
    &.spdecisionlist { @extend .coveo-sprites-fileType-sharepoint-decision; }
    &.spobjective { @extend .coveo-sprites-fileType-sharepoint-objective; }
    &.spobjectivelist { @extend .coveo-sprites-fileType-sharepoint-objective; }
    &.sptextbox { @extend .coveo-sprites-fileType-sharepoint-textbox; }
    &.sptextboxlist { @extend .coveo-sprites-fileType-sharepoint-textbox; }
    &.spthingstobring { @extend .coveo-sprites-fileType-sharepoint-thingstobring; }
    &.spthingstobringlist { @extend .coveo-sprites-fileType-sharepoint-thingstobring; }
    &.sparealisting { @extend .coveo-sprites-fileType-sharepoint-arealisting; }
    &.spmeetingserie { @extend .coveo-sprites-fileType-sharepoint-meeting; }
    &.spmeetingserielist { @extend .coveo-sprites-fileType-sharepoint-meeting; }
    &.spsitedirectory { @extend .coveo-sprites-fileType-sharepoint-sitedirectory; }
    &.spsitedirectorylist { @extend .coveo-sprites-fileType-sharepoint-sitedirectory; }
    &.spdatasource { @extend .coveo-sprites-fileType-sharepoint-datasource; }
    &.spdatasourcelist { @extend .coveo-sprites-fileType-sharepoint-datasource; }
    &.splisttemplatecataloglist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spwebpartcataloglist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spwebtemplatecataloglist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spworkspacepagelist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spunknownlist { @extend .coveo-sprites-fileType-sharepoint-custom; }
    &.spadministratortask { @extend .coveo-sprites-fileType-sharepoint-task; }
    &.spadministratortasklist { @extend .coveo-sprites-fileType-sharepoint-task; }
    &.spareadocumentlibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spblogcategory { @extend .coveo-sprites-fileType-sharepoint-blogcategory; }
    &.spblogcategorylist { @extend .coveo-sprites-fileType-sharepoint-blogcategory; }
    &.spblogcomment { @extend .coveo-sprites-fileType-sharepoint-blogcomment; }
    &.spblogcommentlist { @extend .coveo-sprites-fileType-sharepoint-blogcomment; }
    &.spblogpost { @extend .coveo-sprites-fileType-sharepoint-blogpost; }
    &.spblogpostlist { @extend .coveo-sprites-fileType-sharepoint-blogpost; }
    &.spdataconnectionlibrarylist { @extend .coveo-sprites-fileType-sharepoint-dataconnectionlibrary; }
    &.spdistributiongroup { @extend .coveo-sprites-fileType-sharepoint-custom; }
    &.spdistributiongrouplist { @extend .coveo-sprites-fileType-sharepoint-custom; }
    &.spipfslist { @extend .coveo-sprites-fileType-sharepoint-ipfs; }
    &.spkeyperformanceindicator { @extend .coveo-sprites-fileType-sharepoint-keyperformanceindicator; }
    &.spkeyperformanceindicatorlist { @extend .coveo-sprites-fileType-sharepoint-keyperformanceindicator; }
    &.splanguagesandtranslator { @extend .coveo-sprites-fileType-sharepoint-languagesandtranslator; }
    &.splanguagesandtranslatorlist { @extend .coveo-sprites-fileType-sharepoint-languagesandtranslator; }
    &.spmasterpagescataloglist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spnocodeworkflowlibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spprojecttask { @extend .coveo-sprites-fileType-sharepoint-projecttask; }
    &.spprojecttasklist { @extend .coveo-sprites-fileType-sharepoint-projecttask; }
    &.sppublishingpageslibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spreportdocumentlibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spreportlibrarylist { @extend .coveo-sprites-fileType-sharepoint-reportlibrary; }
    &.spslidelibrarylist { @extend .coveo-sprites-fileType-sharepoint-slidelibrary; }
    &.sptab { @extend .coveo-sprites-fileType-sharepoint-custom; }
    &.sptablist { @extend .coveo-sprites-fileType-sharepoint-custom; }
    &.sptranslationmanagementlibrarylist { @extend .coveo-sprites-fileType-sharepoint-translationmanagementlibrary; }
    &.spuserinformation { @extend .coveo-sprites-fileType-sharepoint-user; }
    &.spuserinformationlist { @extend .coveo-sprites-fileType-sharepoint-user; }
    &.spwikipagelibrarylist { @extend .coveo-sprites-fileType-sharepoint-wikipagelibrary; }
    &.spworkflowhistory { @extend .coveo-sprites-fileType-sharepoint-workflowhistory; }
    &.spworkflowhistorylist { @extend .coveo-sprites-fileType-sharepoint-workflowhistory; }
    &.spworkflowprocess { @extend .coveo-sprites-fileType-sharepoint-custom; }
    &.spworkflowprocesslist { @extend .coveo-sprites-fileType-sharepoint-custom; }
    &.sppublishingimageslibrarylist { @extend .coveo-sprites-fileType-sharepoint-assetlibrary; }
    &.spcirculation { @extend .coveo-sprites-fileType-sharepoint-circulation; }
    &.spcirculationlist { @extend .coveo-sprites-fileType-sharepoint-circulation; }
    &.spdashboardslibrarylist { @extend .coveo-sprites-fileType-sharepoint-dashboardlibrary; }
    &.spdataconnectionforperformancepointlibrarylist { @extend .coveo-sprites-fileType-sharepoint-dataconnectionlibraryforperfpoint; }
    &.sphealthreport { @extend .coveo-sprites-fileType-sharepoint-healthreport; }
    &.sphealthreportlist { @extend .coveo-sprites-fileType-sharepoint-healthreport; }
    &.sphealthrule { @extend .coveo-sprites-fileType-sharepoint-healthrule; }
    &.sphealthrulelist { @extend .coveo-sprites-fileType-sharepoint-healthrule; }
    &.spimedictionary { @extend .coveo-sprites-fileType-sharepoint-imedictionary; }
    &.spimedictionarylist { @extend .coveo-sprites-fileType-sharepoint-imedictionary; }
    &.spperformancepointcontent { @extend .coveo-sprites-fileType-sharepoint-performancepointcontent; }
    &.spperformancepointcontentlist { @extend .coveo-sprites-fileType-sharepoint-performancepointcontent; }
    &.spphonecallmemo { @extend .coveo-sprites-fileType-sharepoint-phonecallmemo; }
    &.spphonecallmemolist { @extend .coveo-sprites-fileType-sharepoint-phonecallmemo; }
    &.sprecordlibrarylist { @extend .coveo-sprites-fileType-sharepoint-recordlibrary; }
    &.spresource { @extend .coveo-sprites-fileType-sharepoint-resource; }
    &.spresourcelist { @extend .coveo-sprites-fileType-sharepoint-resource; }
    &.spprocessdiagramslibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spsitethemeslibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spsolutionslibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spwfpublibrarylist { @extend .coveo-sprites-fileType-sharepoint-documentlibrary; }
    &.spwhereabout { @extend .coveo-sprites-fileType-sharepoint-whereabout; }
    &.spwhereaboutlist { @extend .coveo-sprites-fileType-sharepoint-whereabout; }
    &.spdocumentlink { @extend .coveo-sprites-fileType-sharepoint-link; }
    &.spdocumentset { @extend .coveo-sprites-fileType-sharepoint-documentset; }
    &.spmicrofeedpost { @extend .coveo-sprites-fileType-sharepoint-blogpost; }
    &.spmicrofeedlist { @extend .coveo-sprites-fileType-sharepoint-blogpost; }
    &.splistfolder { @extend .coveo-sprites-fileType-sharepoint-listfolder; }
  }
}
