// Primary palette
$darker-blue: #193045;
$dark-blue: #263e55;
$medium-blue: #1d4f76;
$light-blue: #296896;
$dark-grey: #373737;
$medium-grey: #bcc3ca;
$light-grey: #e6ecf0;
$white: #f1f3f4;
$pure-white: #ffffff;
$orange: #f58020;
$stratos: #08080e;

// Secondary palette
$red: #ce3f00;
$yellow: #ecad00;
$green: #009830;
$blue: #009ad9;

// Brands
$salesforce-blue: #00a0de;
$google-red: #dd4b39;
$office365-red: #eb3c00;
