<div class="coveo-result-frame coveo-email-result">
  <div class="coveo-result-row" style="margin-bottom: 20px">
    <div class="coveo-result-cell" style="width:32px; vertical-align:middle; flex-grow:0">
      <span class="CoveoIcon" data-small="true" data-with-label="false"></span>
    </div>
    <div class="coveo-result-cell" style="padding-left: 10px; vertical-align: middle;">
      <a class="CoveoResultLink"></a>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <div class="CoveoText" data-value="Description" data-weight="bold"></div>
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell">
      <div class="CoveoText" data-value="Modified" data-weight="bold"></div>
      <div class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime" data-helper-options-always-include-time="true"></div>
    </div>
  </div>
  <div class="CoveoCardActionBar">
    <div class="CoveoQuickview"></div>
    <div class="CoveoCardOverlay" data-title="Details" data-icon="search">
      <table class="CoveoFieldTable" data-allow-minimization="false">
        <tbody>
          <tr data-field="@sfaccountname" data-caption="Account">
          </tr>
          <tr data-field="@sfownername" data-caption="Owner">
          </tr>
          <tr data-field="@sfopportunityamountconverted" data-caption="Total" data-helper="currency">
          </tr>
          <tr data-field="@sfopportunitylicensingstotalcconverted" data-caption="License" data-helper="currency">
          </tr>
          <tr data-field="@sfopportunityamountsupportcconverted" data-caption="Support" data-helper="currency">
          </tr>
          <tr data-field="@sfopportunityconsultingstotalcconverted" data-caption="PS" data-helper="currency">
          </tr>
          <tr data-field="@sfopportunitystagename" data-caption="Stage">
          </tr>
          <tr data-field="@sfopportunitydealtypec" data-caption="Deal Type">
          </tr>
          <tr data-field="@sfopportunitycompetitionc" data-caption="Competition" data-split-values="true">
          </tr>
          <tr data-field="@sfibdusername" data-caption="ISR">
          </tr>
          <tr data-field="@sfopportunityregionc" data-caption="Region">
          </tr>
          <tr data-field="@sfleadsource" data-caption="Lead Source">
          </tr>
          <tr data-field="@sfleadstatus" data-caption="Lead status">
          </tr>
          <tr data-field="@worktitle" data-caption="Work title">
          </tr>
          <tr data-field="@sfemail" data-caption="Email" data-helper="email" data-html-value="true">
          </tr>
          <tr data-field="@sfcontactphone" data-caption="Phone">
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
