<div class="coveo-result-frame coveo-email-result">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:50px;text-align:center;">
            <span class="CoveoIcon" data-small="true"></span>
            <div class="CoveoQuickview"></div>
        </div>
        <div class="coveo-result-cell">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:15px">
                    <a class="CoveoResultLink"></a>
                </div>
                <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                    <span class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:13px;padding-top:5px;padding-bottom:5px;">
                    <span class="CoveoFieldValue" data-field="@authorloginname" data-text-caption="From:" style="margin-right:30px;"></span>
                    <span class="CoveoFieldValue" data-field="@liboardshorttitle" data-text-caption="To:" style="margin-right:30px;"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
                    <table class="CoveoFieldTable">
                        <tbody>
                            <tr data-field="@limessagerating" data-caption="Rating"></tr>
                            <tr data-field="@limessagetags" data-caption="Tags" data-split-values="true"></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
                    <span class="CoveoResultFolding" data-result-template-id="LithiumThread" data-more-caption="ShowCompleteThread" data-less-caption="ShowOnlyTopMatchingPosts"></span>
                </div>
            </div>
        </div>
    </div>
</div>
