<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:220px">
      <span class="CoveoYouTubeThumbnail"></span>
    </div>
    <div class="coveo-result-cell">
      <a class="CoveoResultLink"></a>
      <div class="CoveoExcerpt"></div>
      <span class="CoveoFieldValue" data-field="@ytvideoduration" data-helper="timeSpan"></span>
      <span class="CoveoText" data-value="•"></span>
      <span class="CoveoFieldValue" data-field="@ytviewcount"></span>
      <span class="CoveoText" data-value="views"></span>
    </div>
    <div class="coveo-result-cell" style="text-align:right; width:100px">
      <span class="CoveoFieldValue" data-field="@date" data-helper="dateTime" data-helper-options-predefined-format="MM/dd/yyyy"></span>
    </div>
  </div>
</div>