<div class="coveo-result-frame">
    <div class="coveo-result-cell" style="vertical-align: top;width: 46px;">
        <span class="CoveoIcon" data-small="true" data-value="coveo-sprites-salesforce-standard-post"></span>
    </div>
    <div class="coveo-result-cell" style="vertical-align: top;padding-left:16px;">
        <div class="coveo-result-row" style="margin-top:0;">
            <div class="coveo-result-cell" style="vertical-align: top; font-size: 14px;">
                <span class="CoveoFieldValue" data-field="@sfcommentbody" data-html-value="true"></span>
            </div>
        </div>
        <div class="coveo-result-row" style="margin-top:8px;">
            <div class="coveo-result-cell coveo-no-wrap" style="vertical-align: top; font-size: 12px;">
                <span class="CoveoFieldValue" data-field="@sfcreatedbyname" data-text-caption="From" style="margin-right:30px;"></span>
            </div>
        </div>
    </div>
</div>

<!--<div class="coveo-result-frame">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:50px;text-align:center">
            <span class="CoveoIcon" data-small="true"></span>
            <div class="CoveoQuickview"></div>
        </div>
        <div class="coveo-result-cell">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:13px">
                    <span class="CoveoChatterPostedBy"></span>
                </div>
                <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
                    <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px; padding-top:5px; padding-bottom:5px">
                    <a class="CoveoResultLink"></a>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="padding-bottom:5px; padding-top:5px">
                    <span class="CoveoChatterLikedBy" data-nb-likes-to-render="1"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
                    <span class="CoveoChatterPostAttachment"></span>
                </div>
            </div>
        </div>
    </div>
</div>-->
