<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width: 32px; vertical-align: middle;">
      <div class="CoveoIcon" data-small="true" data-with-label="false">
      </div>
    </div>
    <div class="coveo-result-cell" style="text-align:left; padding-left: 10px; vertical-align: middle;">
      <a class="CoveoResultLink"></a>
    </div>
  </div>
  <div class="coveo-result-row" style="padding-top: 10px;">
    <div class="coveo-result-cell">
      <div class="CoveoText" data-value="Date" data-weight="bold"></div>
      <div class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime" data-helper-options-always-include-time="true"></div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="vertical-align:middle">
      <span class="CoveoChatterPostedBy">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px;">
      <span class="CoveoChatterLikedBy" data-nb-likes-to-render="1">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-bottom:5px">
      <span class="CoveoChatterPostAttachment">
      </span>
    </div>
  </div>
  <div class="CoveoCardActionBar">
    <div class="CoveoQuickview"></div>
    <div class="CoveoCardOverlay" data-title="Replies" data-icon="replies">
      <span class="CoveoResultFolding" data-result-template-id="FeedComment">
      </span>
    </div>
  </div>
</div>
