<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:85px; text-align:center; padding-top:5px">
      <span class="CoveoIcon">
      </span>
      <div class="CoveoQuickview">
      </div>
    </div>
    <div class="coveo-result-cell" style="padding-left:15px">
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:13px">
          <span class="CoveoChatterPostedBy">
          </span>
        </div>
        <div class="coveo-result-cell" style="width:120px;text-align:right;font-size:12px">
          <span class="CoveoFieldValue" data-field="@date" data-helper="date">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="font-size:18px; padding-top:5px; padding-bottom:5px">
          <a class="CoveoResultLink">
          </a>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-bottom:5px; padding-top:5px; font-size:13px;">
          <span class="CoveoChatterLikedBy" data-nb-likes-to-render="1">
          </span>
        </div>
      </div>
      <div class="coveo-result-row">
        <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px; font-size:13px;">
          <span class="CoveoChatterPostAttachment">
          </span>
          <span class="CoveoResultFolding" data-result-template-id="FeedComment">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
