<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:40px; vertical-align:middle">
      <span class="CoveoIcon" data-small="true">
      </span>
    </div>
    <div class="coveo-result-cell coveo-no-wrap" style="vertical-align:middle">
      <span class="CoveoChatterPostedBy">
      </span>
    </div>
    <div class="coveo-result-cell" style="text-align:center; width:80px; vertical-align:middle">
      <span class="CoveoFieldValue" data-field="@date" data-helper="date">
      </span>
      <div class="CoveoQuickview">
        <span class="coveo-sprites-quickview">
        </span>
      </div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <a class="CoveoResultLink">
      </a>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoChatterLikedBy" data-nb-likes-to-render="1">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoChatterPostAttachment">
      </span>
      <span class="CoveoResultFolding" data-result-template-id="MobileChatter">
      </span>
    </div>
  </div>
</div>
