<div class='coveo-date'><%- dateTime(raw.sfcreateddate) %></div>
<div class='coveo-title'>
    <span class="CoveoChatterPostedBy" data-use-from-instead="true" enable-posted-on="false"></span>
</div>


<div class='coveo-excerpt'>
    <span><%= encodeCarriageReturn(shorten(highlight(title, titleHighlights), 250)) %></span>

    <div class='CoveoChatterPostAttachment'></div>
</div>