<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px">
      <span class="CoveoIcon" data-class-to-use="coveo-sprites-documentType-chatter"></span>
    </div>
    <div class="coveo-result-cell">
      <span class="CoveoChatterPostedBy"></span>
    </div>
    <div class="coveo-result-cell" style="width:120px; text-align:right; font-size:14px">
      <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell coveo-no-wrap" style="font-size:14px">
      <a class="CoveoResultLink"></a>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell" style="text-align:justify">
      <span class="CoveoChatterLikedBy" data-nb-likes-to-render="1"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell">
      <span class="CoveoChatterTopic"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell">
      <span class="CoveoChatterPostAttachment"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell">
      <span class="CoveoResultFolding" data-result-template-id="FeedComment"></span>
    </div>
  </div>
</div>