<div class="coveo-result-frame">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px; font-size:14px">
      <span class="CoveoIcon"></span>
    </div>
    <div class="coveo-result-cell" style="font-size:14px">
      <span class="CoveoBadge" data-field="@objecttype"></span>
      <a class="CoveoResultLink">
                </a>
      <span class="CoveoQuickview"><div class='coveo-icon-for-quickview'>Quickview</div></span>
    </div>
    <div class="coveo-result-cell" style="width:120px; text-align:right; font-size:14px">
      <span class="CoveoFieldValue" data-field="@date" data-helper="date"></span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:20px"></div>
    <div class="coveo-result-cell">
      <table class="CoveoFieldTable" data-use-json-template-fields="true">
        <tr data-field="@sfaccountname" data-caption="Account"></tr>
        <tr data-field="@sfownername" data-caption="Owner"></tr>
        <tr data-field="@sfopportunityamountconverted" data-caption="Total" data-helper="currency"></tr>
        <tr data-field="@sfopportunitylicensingstotalcconverted" data-caption="License" data-helper="currency"></tr>
        <tr data-field="@sfopportunityamountsupportcconverted" data-caption="Support" data-helper="currency"></tr>
        <tr data-field="@sfopportunityconsultingstotalcconverted" data-caption="PS" data-helper="currency"></tr>
        <tr data-field="@sfopportunitystagename" data-caption="Stage"></tr>
        <tr data-field="@sfopportunitydealtypec" data-caption="Deal Type"></tr>
        <tr data-field="@sfopportunitycompetitionc" data-caption="Competition" data-split-values=true></tr>
        <tr data-field="@sfibdusername" data-caption="ISR"></tr>
        <tr data-field="@sfopportunityregionc" data-caption="Region"></tr>
        <tr data-field="@sfleadsource" data-caption="Lead Source"></tr>
        <tr data-field="@sfleadstatus" data-caption="Lead status"></tr>
        <tr data-field="@worktitle" data-caption="Work title"></tr>
        <tr data-field="@sfemail" data-caption="Email" data-helper="email" data-html-value="true"></tr>
        <tr data-field="@sfcontactphone" data-caption="Phone"></tr>
      </table>
    </div>
  </div>
</div>