.coveo-subscriptions-messages-message {
  background-color: #ecad00;
  border-radius: 2px;
  padding: 7px;
  color: #fff;
  white-space: nowrap;
  &.coveo-subscriptions-messages-error {
    background-color: #F44336;
    &:after{
      border-color: transparent transparent #F44336 transparent;
    }
  }
  &:before {
    content: '';
    @extend .coveo-sprites-subscription-info;
    vertical-align: middle;
    margin: 5px 7px 4px 0;
    float: left;
  }
  &:after {
    position: absolute;
    top: -7px;
    left: 8px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 7px 7px;
    border-color: transparent transparent #ecad00 transparent;
    float: left;
  }

  .coveo-subscriptions-messages-content {
    line-height: 26px;
    vertical-align: middle;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .coveo-subscriptions-messages-info-close {
    float: right;
    display: inline-block;
    cursor: pointer;
    padding: 0 4px;
    &:before {
      content: '';
      vertical-align: middle;
      @extend .coveo-sprites-subscription-close;
    }
  }
}