<div class="coveo-result-frame coveo-email-result" style="padding-top: 20px; padding-bottom: 20px">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-bottom:5px">
      <a class="CoveoResultLink">
      </a>
    </div>
    <div class="coveo-result-cell" style="width: 30px; padding-left: 6px">
      <div class="CoveoQuickview">
        <span class="coveo-sprites-quickview">
        </span>
      </div>
    </div>
  </div>
  <div class="coveo-result-row" style="margin-top: 3px; margin-bottom: 3px;">
    <div class="coveo-result-cell">
      <div class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime" style="font-size: 12px">
      </div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="coveo-result-row" style="margin-top: 10px">
    <div class="coveo-result-cell" style="margin-right: 10px">
      <div class="CoveoText" data-value="From" data-size="13px"></div>
      <div class="CoveoFieldValue" data-field="@from" data-helper="email" data-html-value="true" style="overflow: hidden; text-overflow: ellipsis;"></div>
    </div>
    <div class="coveo-result-cell">
      <div class="CoveoText" data-value="To" data-size="13px"></div>
      <div class="CoveoFieldValue" data-field="@recipients" data-helper="email" data-html-value="true" style="overflow: hidden; text-overflow: ellipsis;"></div>
    </div>
  </div>
</div>
