<div class="coveo-attachment-container">
    <div class="coveo-result-frame">
        <div class="coveo-result-row">
            <div class="coveo-result-cell" style="width:60px;text-align: left;padding-right: 10px;">
                <img class="CoveoThumbnail"/>
            </div>
            <div class="coveo-result-cell">
                <a class="CoveoResultLink"></a>
            </div>
        </div>
    </div>
</div>
