<div class="coveo-result-frame coveo-email-result">
    <div class="coveo-result-row">
        <div class="coveo-result-cell" style="width:50px;text-align:center;">
            <span class="CoveoIcon" data-small="true"></span>
            <div class="CoveoQuickview" data-template-id="EmailQuickviewContent"></div>
        </div>
        <div class="coveo-result-cell">
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:18px">
                    <a class="CoveoResultLink"></a>
                </div>
                <div class="coveo-result-cell" style="width:60px; text-align:right; font-size:12px">
                    <span class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="font-size:13px;padding-top:5px;padding-bottom:5px;">
                    <span class="CoveoText" data-value="From:"></span>
                    <span class="CoveoFieldValue" data-field="@from" data-helper="email" data-html-value="true"></span>
                    <span class="CoveoText" data-value="To:"></span>
                    <span class="CoveoFieldValue" data-field="@recipients" data-helper="email" data-html-value="true"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
                    <span class="CoveoExcerpt"></span>
                </div>
            </div>
            <div class="coveo-result-row">
                <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
                    <span class="CoveoResultAttachments" data-result-template-id="EmailResultAttachment"></span>
                </div>
            </div>
        </div>
    </div>
</div>
