<div class="coveo-result-frame coveo-email-result">
  <div class="coveo-result-row" style="margin-bottom: 20px">
    <div class="coveo-result-cell" style="width: 32px; vertical-align:middle; flex-grow:0">
      <span class="CoveoIcon" data-small="true" data-with-label="false"></span>
    </div>
    <div class="coveo-result-cell" style="padding-left: 10px; vertical-align: middle;">
      <a class="CoveoResultLink"></a>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="margin-right: 10px">
      <div class="CoveoText" data-value="From" data-weight="bold" data-color="#1D4F76"></div>
      <div class="CoveoFieldValue" style="overflow: hidden; text-overflow: ellipsis;" data-field="@from" data-helper="email" data-html-value="true"></div>
    </div>
    <div class="coveo-result-cell">
      <div class="CoveoText" data-value="To" data-weight="bold" data-color="#1D4F76"></div>
      <div class="CoveoFieldValue" style="overflow: hidden; text-overflow: ellipsis;" data-field="@recipients" data-helper="email" data-html-value="true"></div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <div class="CoveoText" data-value="Description" data-weight="bold" data-color="#1D4F76"> </div>
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell">
      <div class="CoveoText" data-value="Date" data-weight="bold" data-color="#1D4F76"></div>
      <div class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime" data-helper-options-always-include-time="true"></div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoResultAttachments" data-result-template-id="EmailResultAttachment">
      </span>
    </div>
  </div>
  <div class="CoveoCardActionBar">
    <div class="CoveoCardOverlay" data-title="Replies" data-icon="replies">
      <span class="CoveoResultFolding" data-result-template-id="CardEmailChildResult"></span>
    </div>
  </div>
</div>
