<div class="coveo-result-frame coveo-email-result">
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="width:40px; vertical-align:middle">
      <span class="CoveoIcon" data-small="true">
      </span>
    </div>
    <div class="coveo-result-cell" style="width:80px; text-align:right; vertical-align:middle">
      <div class="CoveoFieldValue" data-field="@date" data-helper="emailDateTime">
      </div>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="font-size:12px">
      <span class="CoveoText" data-value="From:">
      </span>
      <span class="CoveoFieldValue" data-field="@from" data-helper="email" data-html-value="true">
      </span>
      <span class="CoveoText" data-value="To:">
      </span>
      <span class="CoveoFieldValue" data-field="@recipients" data-helper="email" data-html-value="true">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <a class="CoveoResultLink">
      </a>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoExcerpt">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoResultAttachments" data-result-template-id="EmailResultAttachment">
      </span>
    </div>
  </div>
  <div class="coveo-result-row">
    <div class="coveo-result-cell" style="padding-top:5px; padding-bottom:5px">
      <span class="CoveoResultFolding" data-result-template-id="MobileEmailThread" data-more-caption="ShowAllReplies" data-less-caption="ShowOnlyMostRelevantReplies">
      </span>
    </div>
  </div>
</div>
